
<% if establecimientos.present? %>
  
  <% establecimientos.each do |e| %>

    <tr>

      <td class="text-min"><%= e.anio %></td>
      <td class="text-min"><%= e.nombre_institucion %></td>
      <td class="text-min"><%= link_to e.codigo_establecimiento, mec_custom_url(id_establecimientos_path(e.codigo_establecimiento)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></td>
      <td class="text-min"><%= e.nombre_departamento %></td>
      <td class="text-min"><%= e.nombre_distrito %></td>
      <td class="text-min"><%= e.nombre_zona %></td>
      <td class="text-min"><%= e.nombre_barrio_localidad %></td>
      <td class="text-min"><%= e.direccion %></td>
      <td class="text-min"><%= e.asentamientos_priorizados %></td>
      <td class="text-min"><%= e.a_comedor %></td>
      <td class="text-min"><%= e.a_aulas %></td>
      <td class="text-min"><%= e.a_aula_de_pe %></td>
      <td class="text-min"><%= e.a_cra %></td>
      <td class="text-min"><%= e.a_lab %></td>
      <td class="text-min"><%= e.a_bloq_adm %></td>
      <td class="text-min"><%= e.a_sshh %></td>
      <td class="text-min"><%= e.r_aulas %></td>
      <td class="text-min"><%= e.r_sshh %></td>
      <td class="text-min"><%= e.obras_exteriores %></td>
      <td class="text-min"><%= e.cercado %></td>
      <td style="width:20px;"><%= link_to_ubicacion_geografica_111(e) %></td>
       
    </tr>
      
  <% end %>

    
<% end %>
