<%= javascript_include_tag "/assets/views/visualizaciones_view.js?body=1" %>
<h1>Visualizaciones</h1>

<div id="visualizaciones" class="row">

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/mapa_matriculados.png', :class => 'img-responsive enlace'), mec_custom_url(app_mapa_matriculaciones_url) %>
      <div class="caption">
        <h3>
          Mapa de Matriculaciones
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>Al año 2012</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_mapa_matriculaciones_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/docentes.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_funcionarios_docentes_url) %>
      <div class="caption">
        <h3>
          Funcionarios Docentes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Del MEC</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_funcionarios_docentes_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=75" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/administrativos.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_funcionarios_administrativos_url) %>
      <div class="caption">
        <h3>
          Funcionarios Administrativos
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Del MEC</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_funcionarios_administrativos_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=88" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/rodados.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_rodados_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Rodados</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_rodados_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=53" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/inmuebles.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_inmuebles_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Inmuebles</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_inmuebles_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=191" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/muebles.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_muebles_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Muebles</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_muebles_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=114" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

</div>