<%= javascript_include_tag "/assets/views/visualizaciones_view.js?body=1" %>
<h1>Visualizaciones</h1>

<div id="visualizaciones" class="row">

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/mapa_matriculados.png', :class => 'img-responsive enlace'), mec_custom_url(app_mapa_matriculaciones_url) %>
      <div class="caption">
        <h3>
          Mapa de Matriculaciones
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>Al año 2012</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_mapa_matriculaciones_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/docentes.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_funcionarios_docentes_url) %>
      <div class="caption">
        <h3>
          Funcionarios Docentes del MEC
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_funcionarios_docentes_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=75" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/administrativos.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_funcionarios_administrativos_url) %>
      <div class="caption">
        <h3>
          Funcionarios Administrativos del MEC
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3> 
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_funcionarios_administrativos_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=88" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/rodados.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_rodados_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Rodados</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_rodados_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=53" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/inmuebles.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_inmuebles_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Inmuebles</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_inmuebles_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=191" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/muebles.png', :class => 'img-responsive enlace'), mec_custom_url(app_academia_inventario_bienes_muebles_url) %>
      <div class="caption">
        <h3>
          Inventario de Bienes
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p>Muebles</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_academia_inventario_bienes_muebles_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://opendata.pol.una.py/?p=114" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/titulos_universitarios.png', :class => 'img-responsive enlace'), mec_custom_url(app_comunidad_titulos_universitarios_url) %>
      <div class="caption">
        <h3>
          Títulos Universitarios
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p><a href="http://www.datos.org.py/">www.Datos.org.py</a></p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_comunidad_titulos_universitarios_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://www.datos.org.py/content/app/registro-de-t%C3%ADtulos-universitarios" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/v1niveles.png', :class => 'img-responsive enlace'), mec_custom_url(app_niveles_formaciones_docentes_url) %>
      <div class="caption">
        <h3>
          Niveles de Formaciones de Docentes en Educaci&oacute;n Media
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_niveles_formaciones_docentes_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/v2formacion.png', :class => 'img-responsive enlace'), mec_custom_url(app_compatibilidad_formacion_educacion_media_url) %>
      <div class="caption">
        <h3>
          Compatibilidad de Formaci&oacute;n en Educaci&oacute;n Media
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_compatibilidad_formacion_educacion_media_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/v3materias.png', :class => 'img-responsive enlace'), mec_custom_url(app_materias_educacion_media_url) %>
      <div class="caption">
        <h3>
          Materias que se ense&ntilde;an en Educaci&oacute;n Media
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_materias_educacion_media_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%= link_to image_tag('destacados/mapa_establecimientos2.png', :class => 'img-responsive enlace'), mec_custom_url(app_mapa_establecimientos_url) %>
      <div class="caption">
        <h3>
          Mapa de Establecimientos
          <small>
            <span class="text-danger">por el MEC</span>
          </small>
        </h3>
        <p>Al año 2014</p>
        <p>     
          <%= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_mapa_establecimientos_url), :class => "btn btn-primary", :role => "button" %>
        </p>
      </div>
    </div>
  </div>

<!--

  <div class="vista no-cargada col-sm-6 col-md-4">
    <div class="thumbnail well">
      <%#= link_to image_tag('destacados/educacion.png', :class => 'img-responsive enlace'), mec_custom_url(app_comunidad_nuestra_educacion_numeros_url) %>
      <div class="caption">
        <h3>
          Nuestra Educación en Números
          <small>
            <span class="text-info">por la comunidad</span>
          </small>
        </h3>
        <p><a href="http://www.datos.org.py/">www.Datos.org.py</a></p>
        <p>     
          <%#= link_to "Ir a la visualizaci&oacute;n".html_safe, mec_custom_url(app_comunidad_nuestra_educacion_numeros_url), :class => "btn btn-primary", :role => "button" %>
          <a href="http://www.datos.org.py/content/app/educacion-en-n%C3%BAmeros" target="_blank" class="btn btn-default" role="button">Ver en el blog</a>
        </p>
      </div>
    </div>
  </div>

-->

</div>
