<% if matriculaciones_educacion_media.present? %>
  
  <tr>
    <td colspan="12" style="text-align:center;">
      <div class="flickr_pagination"><%= ajax_will_paginate matriculaciones_educacion_media, :params => params %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="12">Cantidad de registros encontrados: <%= @matriculaciones_educacion_media_todos.size %> de <%= @total_registros %>
    </td>
  </tr>

  <tr>

    <%  
        parametros_csv = { :format => 'csv' }
        parametros_csv = parametros_csv.merge(params) 
        parametros_csv_todos = { :format => 'csv', "form_buscar_matriculaciones_educacion_media[anio]" => params[:form_buscar_matriculaciones_educacion_media][:anio]}
    %>

    <% 
        parametros_xls = { :format => 'xlsx'}
        parametros_xls = parametros_xls.merge(params) 
        parametros_xls_todos = { :format => 'xlsx', "form_buscar_matriculaciones_educacion_media[anio]" => params[:form_buscar_matriculaciones_educacion_media][:anio] }
    %>

    <% 
        parametros_json = { :format => 'json' }
        parametros_json = parametros_json.merge(params) 
        parametros_json_todos = { :format => 'json', "form_buscar_matriculaciones_educacion_media[anio]" => params[:form_buscar_matriculaciones_educacion_media][:anio] }
    %>

    <% 
        parametros_pdf = { :format => 'pdf' }
        parametros_pdf = parametros_pdf.merge(params) 
        parametros_pdf_todos = { :format => 'pdf', "form_buscar_matriculaciones_educacion_media[anio]" => params[:form_buscar_matriculaciones_educacion_media][:anio] }
    %>

    <%
        parametros_md5_csv = { :format => 'md5_csv', "form_buscar_matriculaciones_educacion_media[anio]" => params[:form_buscar_matriculaciones_educacion_media][:anio] }
    %>

    <td colspan="12" class="row-descargar">
      
      <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
      <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a>
      </br>

      <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>

      <!-- DESCARGAS FILTRADAS -->
      <span data-toggle="tooltip-descarga-filtrada" title="Para las descargas filtradas, mínimamente se debe incluir el filtro por periodo">Descargar Matriculaciones Filtradas:</span>

      <% if params[:form_buscar_matriculaciones_educacion_media][:anio].present? && @matriculaciones_educacion_media_todos.size > 0 %>
        <%= link_to "XLS#{image_star * 2}".html_safe, mec_custom_url(data_matriculaciones_educacion_media_lista_url(parametros_xls)) , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_excel'%>
        <%= link_to "CSV#{image_star * 3}".html_safe, mec_custom_url(data_matriculaciones_educacion_media_lista_url(parametros_csv)) , :targer => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page'%>
        <%= link_to "JSON#{image_star * 3}".html_safe, mec_custom_url(data_matriculaciones_educacion_media_lista_url(parametros_json)) , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>
      <% else %>
        <%= link_to "XLS#{image_star * 2}".html_safe, "#", :onclick => "alert('Para las descargas filtradas, mínimamente se debe incluir el filtro por periodo');return false;", :style => "margin-left:10px;", :class => 'icon icon-page_excel'  %>
        <%= link_to "CSV#{image_star * 3}".html_safe, "#", :onclick => "alert('Para las descargas filtradas, mínimamente se debe incluir el filtro por periodo');return false;", :style => "margin-left:10px;", :class => 'icon icon-page'  %>
        <%= link_to "JSON#{image_star * 3}".html_safe, "#", :onclick => "alert('Para las descargas filtradas, mínimamente se debe incluir el filtro por periodo');return false;", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'  %>
      <% end %>

      <br /><br />
        
      
      <% if params[:form_buscar_matriculaciones_educacion_media][:anio].present? %>

        <!-- DESCARGAS TOTALES -->
        <div style="float:left;" data-toggle="tooltip-descarga-total" title="Las descargas totales se realizan por periodo">Descargar todas las Matriculaciones filtradas:</div>

        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= descargar_documento(9, params[:form_buscar_matriculaciones_educacion_media][:anio], "0", "xlsx")%>
          <br />
          <meta itemprop="name" content="Matriculaciones Educación Media "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="description" content="Listado de matriculaciones en educación media correspondiente al año "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="encodingFormat" content="xls">
          <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode" />
         </div>

        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%=descargar_documento(9, params[:form_buscar_matriculaciones_educacion_media][:anio], "0", "csv")%>
          <br />
          <meta itemprop="name" content="Matriculaciones Educación Media "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="description" content="Listado de matriculaciones en educación media correspondiente al año "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="encodingFormat" content="csv">
          <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode" />
        </div>

        <div style="float:left;text-align:center;">
          <%= link_to "MD5/CSV".html_safe, mec_custom_url(data_matriculaciones_educacion_media_lista_url( parametros_md5_csv )), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_md5' %>
        </div>

        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= descargar_documento(9, params[:form_buscar_matriculaciones_educacion_media][:anio], "0", "json")%>
          <br />
          <meta itemprop="name" content="Matriculaciones Educación Media "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="description" content="Listado de matriculaciones en educación media correspondiente al año "+params[:form_buscar_matriculaciones_educacion_media][:anio]+"">
          <meta itemprop="encodingFormat" content="json">
          <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode" />
        </div>

        <% else %>

        <div class="bg-primary">
          <center><h4>¡Atención! Las descargas <b>totales</b> se realizan por <b>periodo</b></h4></center>
        </div>

      <% end %>

      <div style="clear:both;"></div>

    </td>

  </tr>

<% end %>

<script>
  $('[data-toggle="tooltip-descarga-filtrada"]').tooltip();
  $('[data-toggle="tooltip-descarga-total"]').tooltip();
</script>
