<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<%= javascript_include_tag "/assets/gmaps/gmaps.js?body=1", "/assets/gmaps/markerclusterer.js?body=1" %>
<%= javascript_include_tag "/assets/views/uri_establecimiento_view.js?body=1" %>
<div>
  <div class="submenu pull-right hidden-xs">
    <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_establecimientos_url), :class => "btn-lg hidden-xs", :title => "Ir al diccionario" %>
    <%= link_to ('<i class="icon-py-datos"></i> Ver Datos').html_safe, mec_custom_url(data_establecimientos_url), :id => "tab-datos", :class => "btn-lg hidden-xs", :title => "Ir al Conjunto de Datos" %>
  </div>
  <h1>
    <span itemprop="name">Establecimiento Escolar</span>
    <meta itemprop="description"
          content="Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación."/>
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31">
    <meta itemprop="url" content="http://datos.mec.gov.py/data/establecimientos">  
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,geografico"/>
    <meta itemprop="version" style="display: none;" content="1.0"/>
  </h1>
</div>
<br>

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <%= label_tag "Periodo", nil, :class => 'col-sm-4 label-combo' %>
    <div class="col-sm-8">
      <%= select :establecimiento, :anio, periodos_establecimientos, {}, { :class => 'form-control' } %>
    </div>
  </div>
</form>

<div class="clearfix"></div>
<hr>

<% if @establecimiento.present? %>
  <div class="row" id="bloques">

    <div class="col-sm-6 bloque">
      <h2>Datos del Establecimiento</h2>
      <ul class="listado">

        <li class="row">
          <div class="celda col-sm-4"><strong>Periodo</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.anio %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>C&oacute;digo de Establecimiento</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.codigo_establecimiento %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Departamento</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.nombre_departamento %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Distrito</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.nombre_distrito %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Zona</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.nombre_zona %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Barrio/Localidad</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.nombre_barrio_localidad %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Direcci&oacute;n</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.direccion %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Programa</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.programa == 1 ? "Jornada Extendida" : '' %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Proyecto 111</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.proyecto_111 %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Proyecto 822</strong></div>
          <div class="celda col-sm-8"><%= @establecimiento.proyecto_822 %></div>
        </li>

      </ul>

      <hr>
      <br>

      <h2>Instituciones del Establecimiento</h2>
      <ul class="listado">
        <li class="row hidden-xs titulos">
          <div class="celda col-sm-4">Código</div>
          <div class="celda col-sm-4">Nombre</div>
          <div class="celda col-sm-4">Matriculados</div>
        </li>

        <% @instituciones.each do |i| %>
          <li class="row">
            <label class="col-xs-12 visible-xs">Código</label>
            <div class="celda col-sm-4"><%= link_to "#{i.codigo_institucion.gsub('.','').to_i}<i class='fa fa-external-link text-muted'></i>".html_safe, mec_custom_url(id_instituciones_path(i.codigo_institucion.gsub(".","").to_i)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></div>

            <label class="col-xs-12 visible-xs">Nombre</label>
            <div class="celda col-sm-4"><%= link_to "#{i.nombre_institucion}<i class='fa fa-external-link text-muted'></i>".html_safe, mec_custom_url(id_instituciones_path(i.codigo_institucion.gsub(".","").to_i)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></div>

            <label class="col-xs-12 visible-xs">Matriculados</label>
            <div class="celda col-sm-4 text-right"><td style="text-align:right;"><%= cantidad_total_matriculados_por_anio(i.codigo_institucion.to_s.gsub('.','').to_i, i.codigo_establecimiento, i.periodo) %></td></div>
          </li>
        <% end  %>
      </ul>

    </div>

    <div class="col-sm-6 bloque">
      <h2>Instituciones del Establecimiento</h2>

      <% if @establecimiento.latitud.present? && @establecimiento.longitud.present? %>

        <% lat = "-#{(@establecimiento.latitud.split(" ").first.to_i + (@establecimiento.latitud.split(" ").second.to_f / 60.to_f) + (@establecimiento.latitud.split(" ").third.to_f / 3600))}" %>
        <% lng = "-#{(@establecimiento.longitud.split(" ").first.to_i + (@establecimiento.longitud.split(" ").second.to_f / 60.to_f) + (@establecimiento.longitud.split(" ").third.to_f / 3600))}" %>

        <script type="text/javascript">

          $(document).ready(function() {

            var map;
            map = new GMaps({
              el: '#map',
              lat: "<%= lat %>",
              lng: "<%= lng %>"
            });
            map.addMarker({
              lat: "<%= lat %>",
              lng: "<%= lng %>",
              title: 'Datos del Establecimiento',
              infoWindow: {
                content: "<%= escape_javascript(render :partial => 'establecimientos/infowindow_establecimiento_doc', :locals => {:establecimiento => @establecimiento})  %>"
              }
            });
          });</script>

        <div id="map" style="height:400px;"></div>

        <br />

      <% else %>

        <div style="font-size: 11px; color: #000; margin-left:15px; "><br />No se encontrar&oacute;n las coordenadas geogr&aacute;ficas.<br /><br /></div>

      <% end %>

    </div>

  </div>
  <div style="clear:both;"></div>
  <div class="uri-data-fin">

    <br />
    <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
    <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a>
    </br>
    <span>Descargar Establecimiento:</span>

    <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>
    <% if params[:establecimiento] && params[:establecimiento][:anio].present? %>
      <% ruta = mec_custom_url(id_establecimientos_url(params[:codigo_establecimiento], periodo: { anio: params[:establecimiento][:anio]}, format: 'json'))%>
    <% else %>
      <% ruta = mec_custom_url(id_establecimientos_url(params[:codigo_establecimiento], format: 'json'))%>
    <% end %>
    <%= link_to "JSON#{image_star * 3}".html_safe, ruta, :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

  </div>

<% else %>

  <div>No se ha encontrado el establecimiento educativo con c&oacute;digo <b><%=@codigo_establecimiento_doc%></b> para el periodo seleccionado.</div>

<% end %>


<style>
  div.first{
    border-top:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:21px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:21px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:21px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }

  div.last{
    border-bottom:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:21px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:21px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:21px;
  } 

</style>

<script type="text/javascript">

  $("#establecimiento_anio").bind('change', function() {
    if ($(this).val() !== null) {
      location.href = "<%= url_for(mec_custom_url(id_establecimientos_path(@codigo_establecimiento_doc))) %>?establecimiento[anio]=" + $(this).val();
    }
  });

</script>