<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<%= javascript_include_tag "/assets/gmaps/gmaps.js?body=1", "/assets/gmaps/markerclusterer.js?body=1" %>
<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>
<%= render :partial => "layouts/gmaps", :locals => { :ancho_maps => "100%", :altura_maps => "350px"} %>

<div>
  <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_establecimientos_url), :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
  <!--<div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>-->
  <h1>
    <span itemprop="name">Establecimientos Escolares</span>
    <meta itemprop="description"
          content="Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación."/>
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31">
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,geografico"/>
    <meta itemprop="version" style="display: none;" content="1.0"/>
  </h1>
</div>

<%= form_tag mec_custom_url(data_establecimientos_lista_url(nil)), :remote => true, :id => "form-buscar-establecimientos" do  %>
  <div class="table-responsive">
    <table id="establecimientos-tabla" class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>

          <th data-priority="4" id="ubicaciones-geograficas"> 
            <span data-titulo="true" class="hidden">Mapa</span>
            <%= link_to image_tag("marker.png", :style => "width:24px;"), "#", :id => "link-to-ubicaciones-geograficas", :class => "link-to-ubicaciones-geograficas", :title => "Haga click para ver el mapa con las instituciones de esta página."%>
          </th>

          <th data-priority="1">
            <span data-titulo="true">Período</span>

            <span class="orden">
              <i class="filtro fa fa-sort"></i>
              <i class="descendente fa fa-sort-desc"></i>
              <i class="ascendente fa fa-sort-asc"></i>
            </span>

        <%= select :form_buscar_establecimientos, :anio, [2014,2012], {}, :class => 'form-control input-sm' %>
      </th>

      <th data-priority="1">
        <span data-titulo="true">Código Establecimiento</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_codigo_establecimiento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_codigo_establecimiento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_codigo_establecimiento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_establecimiento, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "codigo_establecimiento",
            orden: "codigo_establecimiento")), 
        parametro_id: "form_buscar_establecimientos_codigo_establecimiento", 
        resultado_id: "form_buscar_establecimientos_codigo_establecimiento_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Departamento</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_nombre_departamento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_nombre_departamento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_nombre_departamento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_departamento, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "nombre_departamento",
            orden: "nombre_departamento")), 
        parametro_id: "form_buscar_establecimientos_nombre_departamento", 
        resultado_id: "form_buscar_establecimientos_nombre_departamento_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Distrito</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_nombre_distrito, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_nombre_distrito');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_nombre_distrito_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_distrito, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "nombre_distrito",
            orden: "nombre_distrito")), 
        parametro_id: "form_buscar_establecimientos_nombre_distrito", 
        resultado_id: "form_buscar_establecimientos_nombre_distrito_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="2">
        <span data-titulo="true">Zona</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_nombre_zona, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_nombre_zona');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_nombre_zona_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_zona, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "nombre_zona",
            orden: "nombre_zona")), 
        parametro_id: "form_buscar_establecimientos_nombre_zona", 
        resultado_id: "form_buscar_establecimientos_nombre_zona_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="2">
        <span data-titulo="true">Localidad/Barrio</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_nombre_barrio_localidad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_nombre_barrio_localidad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_nombre_barrio_localidad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_barrio_localidad, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "nombre_barrio_localidad",
            orden: "nombre_barrio_localidad")), 
        parametro_id: "form_buscar_establecimientos_nombre_barrio_localidad", 
        resultado_id: "form_buscar_establecimientos_nombre_barrio_localidad_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Direcci&oacute;n</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_establecimientos_direccion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-establecimientos', '#form_buscar_establecimientos_direccion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_establecimientos_direccion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :direccion, 
            atributo_tipo: :text, 
            model: :Establecimiento, 
            limit: 10,
            cadena_consulta: "direccion",
            orden: "direccion")), 
        parametro_id: "form_buscar_establecimientos_direccion", 
        resultado_id: "form_buscar_establecimientos_direccion_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Programa</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= select :form_buscar_establecimientos, :programa, [["",""],["Jornada Extendida", 1]], {}, :class => 'form-control input-sm' %>
      </div>
      </th>

      </tr>
      </thead>

      <tbody id="establecimientos-lista"></tbody>

    </table>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tbody id="establecimientos-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-establecimientos").bind("submit", function() {

    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $("#establecimientos-lista").html("<%= escape_javascript("<tr><td colspan='10' style='position:relative; text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")

  })

  $("#form_buscar_establecimientos_anio").bind('change', function() {

    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

  })

  $("#form_buscar_establecimientos_programa").bind('change', function() {

    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

  })

  $(".table-bordered input").bind('change', function() {

    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

  })

  function mostrar_mapa(parametros) {

    var tr_size = $.trim($("#establecimientos-ubicaciones-geograficas").html()).length

    $('.establecimientos-ubicaciones-geograficas').remove();

    if (tr_size == 0) {

      $("#link-to-ubicaciones-geograficas").parent().parent().after("<tr id=\"establecimientos-ubicaciones-geograficas\" class=\"establecimientos-ubicaciones-geograficas\"></tr>");

      $("#establecimientos-ubicaciones-geograficas").html("<%= escape_javascript("<tr><td colspan='11' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")

      $.ajaxQ.abortAll();

      $.ajax({
        type: 'POST',
        url: "<%= url_for(mec_custom_url(data_establecimientos_ubicaciones_geograficas_url)) %>" + parametros,
        dataType: 'script'
      });

    } else {
      $("#establecimientos-ubicaciones-geograficas").remove();
    }

  }

  function mostrar_establecimientos_instituciones(codigo_establecimiento, anio) {
    if ($('#establecimientos_instituciones').children().length === 0) {
      $.ajax({
        type: 'GET',
        url: '<%= mec_custom_url(data_establecimientos_instituciones_path) %>',
        data: {codigo_establecimiento: codigo_establecimiento,
          periodo: anio
        },
        dataType: 'script'
      });
      $('#ver_instituciones').text('Ocultar Instituciones del Establecimiento');
    } else {
      $('#establecimientos_instituciones').html('');
      $('#ver_instituciones').text('Ver Instituciones del Establecimiento');
    }
    //$('#ocultar_instituciones').toggle();
  }

<% if params[:ce].present? %>

    $("#form_buscar_establecimientos_codigo_establecimiento").val("<%= params[:ce] %>");
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

<% else %>

    //LIMPIAR FORMULARIO DE BUSQUEDA
    valor_defecto = [{
        id: '#form_buscar_establecimientos_anio',
        valor: 2014
      }];
    resetForm("#form-buscar-establecimientos", valor_defecto);

<% end %>

</script>
