<table class="table table-striped table-bordered table-hover">

  <tr>
    <th>Departamento</th>
    <td><%= matriculacion_educacion_superior.nombre_departamento %></td>
  </tr>

  <tr>
    <th>Distrito</th>
    <td><%= matriculacion_educacion_superior.nombre_distrito %></td>
  </tr>

  <tr>
    <th>Barrio/Localidad</th>
    <td><%= matriculacion_educacion_superior.nombre_barrio_localidad %></td>
  </tr>

  <tr>
    <th>Zona</th>
    <td><%= matriculacion_educacion_superior.nombre_zona %></td>
  </tr>

  <tr>
    <th>Sector o Tipo de Gesti贸n</th>
    <td><%= matriculacion_educacion_superior.sector_o_tipo_gestion %></td>
  </tr>

  <tr>
    <th>Establecimiento</th>
    <td><%= matriculacion_educacion_superior.codigo_establecimiento %></td>
  </tr>

  <tr>
    <th>Instituci贸n</th>
    <td><%= matriculacion_educacion_superior.nombre_instituci贸n %></td>
  </tr>

  <tr>
    <th>Cantidad de Matriculados - Nivel Terciario</th>
    <td><%= matriculacion_educacion_superior.matricula_ets%></td>
  </tr>

  <tr>
    <th>Cantidad de Matriculados - Cursos de Profesorado</th>
    <td><%= matriculacion_educacion_superior.matricula_fed%></td>
  </tr>

  <tr>
    <th>Cantidad de Matriculados - Formaci贸n Docente</th>
    <td><%= matriculacion_educacion_superior.matricula_fdes%></td>
  </tr>

  <tr>
    <th>Cantidad de Matriculados - Nivel Terciario</th>
    <td><%= matriculacion_educacion_superior.matricula_pd%></td>
  </tr>

</table>
