<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>

<div itemscope="" itemtype="https://schema.org/Dataset">

  <div>
    <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_matriculaciones_educacion_superior_url), :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
    <h1>
      <span>Matriculaciones Educación Superior</span>
      <meta itemprop="name" style="display: none;" content="MATRICULA EDUCACION SUPERIOR">
      <meta itemprop="description" content="Se refiere a la cantidad de matriculados en las diferentes modalidades de educación superior con sus correspondientes códigos identificatorios."/>
      <meta itemprop="url" content= <%= mec_custom_url(data_matriculaciones_educacion_superior_url) %> >
      <meta itemprop="temporal" style="display: none;" content="2012-01-01/2013-12-31"/>
      <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
        <meta itemprop="name" content="Ministerio de Educación y Cultura">
        <meta itemprop="url" content="http://www.mec.gov.py/">
        <meta itemprop="email" content="datosabiertos@mec.gov.py">
      </span>
      <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
        <meta itemprop="name" content="Juan Barrios">
        <meta itemprop="email" content="datosabiertos@mec.gov.py">
      </span>
      <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
      <meta itemprop="keywords" style="display: none;" content="educación,matriculaciones,educación superior"/>
      <meta itemprop="version" style="display: none;" content="1.0"/>
    </h1>
  </div>

  <%= form_tag mec_custom_url(data_matriculaciones_educacion_superior_lista_url(nil,nil)), :remote => true, :id => "form-buscar-matriculaciones-educacion-superior" do  %>
    <div class="table-responsive">
      <table class="table table-small-font table-bordered table-striped">
        <thead>
          <tr>

            <th data-priority="1">
              <span data-titulo="true">Periodo</span>

              <span class="orden anio">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
              </span>

              <%= select :form_buscar_matriculaciones_educacion_superior, :anio, [2012], {}, {:class => 'form-control input-sm'} %>
            </th>

            <th data-priority="1">
              <span data-titulo="true">C&oacute;digo Establecimiento</span>

              <span class="orden codigo_establecimiento">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
              </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_codigo_establecimiento, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_codigo_establecimiento');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_codigo_establecimiento_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_establecimiento, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "codigo_establecimiento",
              orden: "codigo_establecimiento")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_codigo_establecimiento", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_codigo_establecimiento_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Código Institución</span>

          <span class="orden codigo_institucion">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_codigo_institucion, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_codigo_institucion');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_codigo_institucion_id %>
        <%= autocomplete_help(  ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_institucion, 
              atributo_tipo: :int, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "codigo_institucion",
              orden: "codigo_institucion")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_codigo_institucion", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_codigo_institucion_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Instituci&oacute;n</span>

          <span class="orden nombre_institucion">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_institucion, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_nombre_institucion');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_institucion_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_institucion, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "nombre_institucion",
              orden: "nombre_institucion")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_nombre_institucion", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_nombre_institucion_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Departamento</span>

          <span class="orden nombre_departamento">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_departamento, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_nombre_departamento');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_departamento_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_departamento, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "nombre_departamento",
              orden: "nombre_departamento")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_nombre_departamento", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_nombre_departamento_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Distrito</span>

          <span class="orden nombre_distrito">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_distrito, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_nombre_distrito');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_distrito_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_distrito, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "nombre_distrito",
              orden: "nombre_distrito")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_nombre_distrito", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_nombre_distrito_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Barrio/Localidad</span>

          <span class="orden nombre_barrio_localidad">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_barrio_localidad, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_nombre_barrio_localidad');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_nombre_barrio_localidad_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_barrio_localidad, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "nombre_barrio_localidad",
              orden: "nombre_barrio_localidad")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_nombre_barrio_localidad", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_nombre_barrio_localidad_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Zona</span>

          <span class="orden nombre_zona">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

          <%= select :form_buscar_matriculaciones_educacion_superior, :nombre_zona, ['','RURAL', 'URBANA'], {}, {:class => 'form-control input-sm'} %>
        </th>

        <th data-priority="1">
          <span data-titulo="true">Sector o Tipo Gestión</span>

          <span class="orden sector_o_tipo_gestion">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_matriculaciones_educacion_superior_sector_o_tipo_gestion, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_sector_o_tipo_gestion');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_matriculaciones_educacion_superior_sector_o_tipo_gestion_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :sector_o_tipo_gestion, 
              atributo_tipo: :text, 
              model: :MatriculacionEducacionSuperior, 
              limit: 10,
              cadena_consulta: "sector_o_tipo_gestion",
              orden: "sector_o_tipo_gestion")), 
          parametro_id: "form_buscar_matriculaciones_educacion_superior_sector_o_tipo_gestion", 
          resultado_id: "form_buscar_matriculaciones_educacion_superior_sector_o_tipo_gestion_id",
          min_length: 2
          ) %>

        </th>

        <th>
          <span data-titulo="true">Matrícula Nivel Terciario</span>
          <span class="orden matricula_ets">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_ets_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_ets, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_ets');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Nivel Terciario<br />Hombre</span>
          <span class="orden matricula_ets_hombre">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_ets_hombre_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_ets_hombre, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_ets_hombre');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Nivel Terciario<br />Mujer</span>
          <span class="orden matricula_ets_mujer">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_ets_mujer_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_ets_mujer, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_ets_mujer');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Cursos de Profesorado</span>
          <span class="orden matricula_fed">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fed_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fed, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fed');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Cursos de Profesorado<br />Hombre</span>
          <span class="orden matricula_fed_hombre">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fed_hombre_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fed_hombre, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fed_hombre');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Cursos de Profesorado<br />Mujer</span>
          <span class="orden matricula_fed_mujer">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fed_mujer_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fed_mujer, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fed_mujer');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Formación Docente</span>
          <span class="orden matricula_fdes">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fdes_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fdes, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fdes');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Formación Docente<br />Hombre</span>
          <span class="orden matricula_fdes_hombre">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fdes_hombre_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fdes_hombre, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fdes_hombre');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Formación Docente<br />Mujer</span>
          <span class="orden matricula_fdes_mujer">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_fdes_mujer_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_fdes_mujer, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_fdes_mujer');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Profesionalización Docente</span>
          <span class="orden matricula_pd">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>
          
          <div class="input-group input-group-sm">
            <span class="input-group-addon">
              <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_pd_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
            </span>
            <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_pd, nil, :class => 'form-control', :placeholder => '' %>
            <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_pd');"><i class="fa fa-times"></i></span>
          </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Profesionalización Docente<br />Hombre</span>
          <span class="orden matricula_pd_hombre">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>
          
          <div class="input-group input-group-sm">
            <span class="input-group-addon">
              <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_pd_hombre_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
            </span>
            <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_pd_hombre, nil, :class => 'form-control', :placeholder => '' %>
            <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_pd_hombre');"><i class="fa fa-times"></i></span>
          </div>
        </th>

        <th>
          <span data-titulo="true">Matrícula Profesionalización Docente<br />Mujer</span>
          <span class="orden matricula_pd_mujer">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>
          
          <div class="input-group input-group-sm">
            <span class="input-group-addon">
              <%= select_tag(:form_buscar_matriculaciones_educacion_superior_matricula_pd_mujer_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
            </span>
            <%= number_field_tag :form_buscar_matriculaciones_educacion_superior_matricula_pd_mujer, nil, :class => 'form-control', :placeholder => '' %>
            <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-matriculaciones-educacion-superior', '#form_buscar_matriculaciones_educacion_superior_matricula_pd_mujer');"><i class="fa fa-times"></i></span>
          </div>
        </th>

        </tr>
        </thead>

        <tbody id="matriculaciones-educacion-superior-lista"></tbody>

      </table>
    </div>
  <% end %>

  <table class="table table-striped table-bordered table-hover">
    <tbody id="matriculaciones-educacion-superior-footer"></tbody>
  </table>

</div>


<script type="text/javascript">

  $("#form-buscar-matriculaciones-educacion-superior").bind("submit", function() {

    $("#matriculaciones-educacion-superior-lista").html("<%= escape_javascript("<tr><td colspan='11' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")

  })

  $("#form_buscar_matriculaciones_educacion_superior_anio").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-superior").submit();

  })

  $("#form_buscar_matriculaciones_educacion_superior_nombre_zona").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-superior").submit();

  })

  $(".table-bordered :input").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-superior").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  valor_defecto = [{
      id: '#form_buscar_matriculaciones_educacion_superior_anio',
      valor: 2012
    }];
  resetForm("#form-buscar-matriculaciones-educacion-superior", valor_defecto);

</script>