<table class="table table-striped table-bordered table-hover" style="font-size:10px;">

  <tr>
    <th>C&oacute;digo de Instituci&oacute;n</th>
    <td><%= @institucion.codigo_institucion %></td>
  </tr>

  <tr>
    <th>Instituci&oacute;n</th>
    <td><%= @institucion.nombre_institucion %></td>
  </tr>
  
  <tr>
    <th>Departamento</th>
    <td><%= @institucion.nombre_departamento %></td>
  </tr>

  <tr>
    <th>Distrito</th>
    <td><%= @institucion.nombre_distrito %></td>
  </tr>
  
  <tr>
    <th>Localidad/Barrio</th>
    <td><%= @institucion.nombre_barrio_localidad %></td>
  </tr>

  <tr>
    <th>Zona</th>
    <td><%= @institucion.nombre_zona %></td>
  </tr>

  
<!--
  <tr>
    <th>Direcci&oacute;n</th>
    <td><%#= institucion.direccion %></td>
  </tr>
-->
</table>


