
<% if instituciones.present? %>
  
  <% instituciones.each do |i| %>

    <tr>

      <td><%= i.anio %></td>
      <td style="font-weight:bold;">
        <%= link_to i.codigo_establecimiento, mec_custom_url(id_establecimientos_path(i.codigo_establecimiento)), id:'tab-establecimiento', target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %>
      </td>  
      <td><%= link_to i.codigo_institucion.gsub(".","").to_i, mec_custom_url(id_instituciones_path(i.codigo_institucion.gsub(".","").to_i)), id:'tab-institucion', target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></td>
      <td><%= i.nombre_institucion %></td>
      <td><%= i.nombre_departamento %></td>
      <td><%= i.nombre_distrito %></td>
      <td><%= i.nombre_barrio_localidad %></td>
      <td><%= i.nombre_zona %></td>
      <td><%= i.sector_o_tipo_gestion %></td>       
      <td><%= i.nombre_region_administrativa %></td>       
      <td><%= i.nombre_supervisor %></td>       
      <td><%= i.niveles_modalidades %></td>       
      <td><%= i.nombre_tipo_organizacion %></td>       
      <td><%= i.participacion_comunitaria %></td>       
      <td><%= i.direccion %></td>       
      <td><%= i.nro_telefono %></td>       
      <td><%= i.tiene_internet %></td>       
      <td><%= i.paginaweb %></td>       
      <td><%= i.correo_electronico %></td>       
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="19"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
