<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>
<div>
  <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_instituciones_url), :id => "tab-diccionario", :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
  <h1>
    <span itemprop="name" id="tab-titulo">Datos Espec&iacute;ficos de Instituciones Educativas</span>
    <meta itemprop="description"
          content="Contiene datos de los niveles/modalidades de educación ofertados por las instituciones educativas; región administrativa a la que pertenece la institución educativa; tipo de organización, participación comunitaria, dirección del establecimiento escolar, servicio disponible (internet, telefono, correo electronico, etc.). Una institución educativa puede poseer diferentes locales escolares ubicados en un mismo o en diferentes departamentos geográficos. El SIEC considera una misma institución cuando varios niveles o modalidades tienen una organización, gestión y administración única. Por ejemplo: Centro Regional de Educación Gral. Patricio Escobar de Encarnación, Colegio Santa Clara de Asunción."
          />
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,instituciones"/>
    <meta itemprop="version" style="display: none;" content="1.0">
  </h1>
</div>

<%= form_tag mec_custom_url(data_instituciones_lista_url(nil)), :remote => true, :id => "form-buscar-instituciones" do  %>
  <div class="table-responsive">
    <table class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>

          <th data-priority="1" id="tab-filtros-lista">
            <span data-titulo="true">Período</span>

            <span class="orden">
              <i class="filtro fa fa-sort"></i>
              <i class="descendente fa fa-sort-desc"></i>
              <i class="ascendente fa fa-sort-asc"></i>
            </span>

      <div class="input-group input-group-sm">
        <%= select :form_buscar_instituciones, :anio, [2012], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="1" id="tab-filtros-texto">
        <span data-titulo="true">Código Establecimiento</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_codigo_establecimiento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_codigo_establecimiento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_codigo_establecimiento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_establecimiento, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "codigo_establecimiento",
            orden: "codigo_establecimiento")), 
        parametro_id: "form_buscar_instituciones_codigo_establecimiento", 
        resultado_id: "form_buscar_instituciones_codigo_establecimiento_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Código Institución</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_codigo_institucion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_codigo_institucion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_codigo_institucion_id %>
      <%= autocomplete_help(  ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_institucion, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "codigo_institucion",
            orden: "codigo_institucion")), 
        parametro_id: "form_buscar_instituciones_codigo_institucion", 
        resultado_id: "form_buscar_instituciones_codigo_institucion_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Institución</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_institucion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_institucion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_institucion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_institucion, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_institucion",
            orden: "nombre_institucion")), 
        parametro_id: "form_buscar_instituciones_nombre_institucion", 
        resultado_id: "form_buscar_instituciones_nombre_institucion_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="2">
        <span data-titulo="true">Departamento</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_departamento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_departamento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_departamento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_departamento, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_departamento",
            orden: "nombre_departamento")), 
        parametro_id: "form_buscar_instituciones_nombre_departamento", 
        resultado_id: "form_buscar_instituciones_nombre_departamento_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="2">
        <span data-titulo="true">Distrito</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_distrito, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_distrito');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_distrito_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_distrito, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_distrito",
            orden: "nombre_distrito")), 
        parametro_id: "form_buscar_instituciones_nombre_distrito", 
        resultado_id: "form_buscar_instituciones_nombre_distrito_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="2">
        <span data-titulo="true">Localidad/Barrio</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_barrio_localidad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_barrio_localidad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_barrio_localidad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_barrio_localidad, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_barrio_localidad",
            orden: "nombre_barrio_localidad")), 
        parametro_id: "form_buscar_instituciones_nombre_barrio_localidad", 
        resultado_id: "form_buscar_instituciones_nombre_barrio_localidad_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Zona</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_zona, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_zona');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_zona_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_zona, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_zona",
            orden: "nombre_zona")), 
        parametro_id: "form_buscar_instituciones_nombre_zona", 
        resultado_id: "form_buscar_instituciones_nombre_zona_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Sector</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_sector_o_tipo_gestion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_sector_o_tipo_gestion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_sector_o_tipo_gestion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :sector_o_tipo_gestion, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "sector_o_tipo_gestion",
            orden: "sector_o_tipo_gestion")), 
        parametro_id: "form_buscar_instituciones_sector_o_tipo_gestion", 
        resultado_id: "form_buscar_instituciones_sector_o_tipo_gestion_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Regi&oacute;n Administrativa</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_region_administrativa, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_region_administrativa');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_region_administrativa_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_region_administrativa, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_region_administrativa",
            orden: "nombre_region_administrativa")), 
        parametro_id: "form_buscar_instituciones_nombre_region_administrativa", 
        resultado_id: "form_buscar_instituciones_nombre_region_administrativa_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Supervisor/a</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_supervisor, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_supervisor');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_supervisor_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_supervisor, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_supervisor",
            orden: "nombre_supervisor")), 
        parametro_id: "form_buscar_instituciones_nombre_supervisor", 
        resultado_id: "form_buscar_instituciones_nombre_supervisor_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="4">
        <span data-titulo="true">Nivel/Modalidad</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_niveles_modalidades, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_niveles_modalidades');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_niveles_modalidades_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :niveles_modalidades, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "niveles_modalidades",
            orden: "niveles_modalidades")), 
        parametro_id: "form_buscar_instituciones_niveles_modalidades", 
        resultado_id: "form_buscar_instituciones_niveles_modalidades_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="4">
        <span data-titulo="true">Tipo Organizaci&oacute;n</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nombre_tipo_organizacion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nombre_tipo_organizacion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nombre_tipo_organizacion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_tipo_organizacion, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nombre_tipo_organizacion",
            orden: "nombre_tipo_organizacion")), 
        parametro_id: "form_buscar_instituciones_nombre_tipo_organizacion", 
        resultado_id: "form_buscar_instituciones_nombre_tipo_organizacion_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="4">
        <span data-titulo="true">Participación Comunitaria</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= select :form_buscar_instituciones, :participacion_comunitaria, ['','SI','NO'], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="3">
        <span data-titulo="true">Direcci&oacute;n</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_direccion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_direccion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_direccion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :direccion, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "direccion",
            orden: "direccion")), 
        parametro_id: "form_buscar_instituciones_direccion", 
        resultado_id: "form_buscar_instituciones_direccion_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="3">
        <span data-titulo="true">Tel&eacute;fono</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_nro_telefono, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_nro_telefono');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_nro_telefono_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nro_telefono, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "nro_telefono",
            orden: "nro_telefono")), 
        parametro_id: "form_buscar_instituciones_nro_telefono", 
        resultado_id: "form_buscar_instituciones_nro_telefono_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="4">
        <span data-titulo="true">¿Tiene Internet?</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= select :form_buscar_instituciones, :tiene_internet, ['','SI','NO'], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="4">
        <span data-titulo="true">P&aacute;gina Web</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_paginaweb, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_paginaweb');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_paginaweb_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :paginaweb, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "paginaweb",
            orden: "paginaweb")), 
        parametro_id: "form_buscar_instituciones_paginaweb", 
        resultado_id: "form_buscar_instituciones_paginaweb_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="4">
        <span data-titulo="true">Correo Electr&oacute;nico</span>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_instituciones_correo_electronico, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-instituciones', '#form_buscar_instituciones_correo_electronico');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_instituciones_correo_electronico_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :correo_electronico, 
            atributo_tipo: :text, 
            model: :Institucion, 
            limit: 10,
            cadena_consulta: "correo_electronico",
            orden: "correo_electronico")), 
        parametro_id: "form_buscar_instituciones_correo_electronico", 
        resultado_id: "form_buscar_instituciones_correo_electronico_id",
        min_length: 3
        ) %>

      </th>

      </tr>
      </thead>

      <tbody id="instituciones-lista"></tbody>

    </table>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tbody id="instituciones-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-instituciones").bind("submit", function() {

    $("#instituciones-lista").html("<%= escape_javascript("<tr><td colspan='19' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_instituciones_anio").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-instituciones").submit();

  })

  $("#form_buscar_instituciones_tiene_internet").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-instituciones").submit();

  })

  $("#form_buscar_instituciones_participacion_comunitaria").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-instituciones").submit();

  })


  $(".table-bordered input").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-instituciones").submit();

  })

<% if params[:ci].present? %>

    $("#form_buscar_instituciones_codigo_institucion").val("<%= params[:ci] %>");
    $.ajaxQ.abortAll();
    $("#form-buscar-instituciones").submit();

<% else %>

    //LIMPIAR FORMULARIO DE BUSQUEDA
    valor_defecto = [{
        id: '#form_buscar_instituciones_anio',
        valor: 2012
      }];
    resetForm("#form-buscar-instituciones", valor_defecto);

<% end %>
</script>

<script>
  var stepsListado = [
    {
      intro: "Esta ayuda te mostrar&aacute; los elementos del Conjunto de Datos:\
          </br><b>Datos Espec&iacute;ficos de Instituciones Educativas</b>.\
          </br></br>Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          </br></br>Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/right.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> IZQ</li>\
            <li><%= image_tag('intro_images/left.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> DER</li>\
            <li><%= image_tag('intro_images/enter.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/esc.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          </br>Y, ¡COMENCEMOS!"
    },
    {
      element: "#tab-titulo",
      intro: "En esta sección, puedes ver el Nombre del Conjunto de Datos.",
      position: "right"
    },
    {
      element: "#tab-diccionario",
      intro: "Si tienes dudas acerca del significado de alg&uacute;n atributo del Conjunto de Datos, puedes ir al Diccionario siguiendo este enlace.\
          </br></br>El Diccionario de Datos describe los atributos que contiene un Conjunto de Datos, incluyendo el tipo de dato y las restricciones que se apliquen a cada uno.",
      position: "left"
    },
    {
      element: '#tab-filtros-lista',
      intro: "Echemos un vistazo a los filtros. ¿Alguna vez los has utilizado?</br> ¡Son muy &uacute;tiles \
          cuando buscas informaci&oacute;n espec&iacute;fica! \
          </br></br>Este filtro utiliza una lista desplegable. Permite realizar las b&uacute;squedas de acuerdo al item que selecciones.\
          </br>¡Intentalo!",
      position: "right"
    },
    {
      element: '#tab-filtros-texto',
      intro: "Este filtro permite realizar las b&uacute;squedas de acuerdo al texto que escribas en su secci&oacute;n.\
          </br>¡Tienes que Probarlo!",
      position: "right"
    },
    {
      element: "#tab-establecimiento",
      intro: "Si te interesan los datos de un Establecimiento, haciendo click sobre este enlace podr&iacute;as obtener\
          informaci&oacute;n espec&iacute;fica del mismo.\
          </br><%= image_tag('intro_images/resumen_establecimiento.png', style: 'width:220px;height:220px').to_s.gsub("\"", "'").html_safe %>\
          </br></br>Por ejemplo: Datos del Establecimiento, Instituciones del Establecimiento y la Ubicaci&oacute;n Geogr&aacute;fica.",
      position: "bottom-left-aligned"
    },
    {
      element: "#tab-institucion",
      intro: "As&iacute; tambi&eacute;n, si te interesan los datos de una Instituci&oacute;n, haciendo click sobre este enlace podr&iacute;as obtener\
          informaci&oacute;n espec&iacute;fica de la misma.\
          </br><%= image_tag('intro_images/resumen_institucion.png', style: 'width:220px;height:220px').to_s.gsub("\"", "'").html_safe %> \
          </br></br>Por ejemplo: Datos de la Instituci&oacute;n, Matriculaciones en la Instituci&oacute;n y la Ubicaci&oacute;n Geogr&aacute;fica.",
      position: "bottom-left-aligned"
    },
    {
      element: '#tab-cantidad-registros',
      intro: "A modo de informaci&oacute;n, aquí puedes ver un resumen de los resultados de tu búsqueda dentro del Conjunto de Datos.",
      position: "top"
    },
    {
      element: '#tab-paginacion',
      intro: "Cuando la lista de resultados es muy extensa, solo se muestran 15 registros. El resto se encuentra en las dem&aacute;s p&aacute;ginas de la tabla.\
          </br></br>¡Desplázate entre las páginas para acceder a todos los resultados de tu b&uacute;squeda!",
      position: "top"
    },
    {
      element: '#tab-descargas-filtradas',
      intro: "Seg&uacute;n tu b&uacute;squeda, descarga los resultados en formato XLS, CSV o JSON.\
          </br></br>El formato <b>XLS</b>, se abre normalmente con Microsoft Excel. \
          Es un formato cotidiano que podemos encontrar, \
          aunque no resulta ser del todo ventajoso, ya que se trata de un formato propietario.\
          </br></br>El formato <b>CSV</b>, es un tipo de documento de texto plano, en el cual los datos son tabulados en columnas separadas por comas (o punto y coma) y filas separadas por saltos de l&iacute;nea.\
          Puede ser exportada a una hoja de c&aacute;lculo Excel. As&iacute; tambi&eacute;n, provee agilidad para realizar importaciones y exportaciones sobre Bases de Datos.\
          </br></br>El formato <b>JSON</b>, es un formato de archivo muy fácil de leer por cualquier lenguaje de programación.\
          Esta simplicidad facilita su procesamiento para las computadoras en comparación a otros formatos.",
      position: "top"
    },
    {
      element: '#tab-descargas-total',
      intro: "Si necesitas todos los datos, puedes descargarlos haciendo click sobre el formato que te sea de mayor utilidad.\
          </br></br>Ten en cuenta nuestras recomendaciones del punto anterior.\
          </br></br>Los formatos que tienes disponibles son: XLS, CSV y JSON",
      position: "top"
    },
    {
      element: '#tab-microdata',
      intro: "Por &uacute;ltimo, ¿Has escuchado sobre los Microdatos en HTML? \
          </br></br>Para obtener m&aacute;s informaci&oacuten sobre ellos, puedes hacer click sobre este icono. \
          </br></br>Esta especificaci&oacute;n define el mecanismo de Microdatos HTML, el cual facilita el procesamiento autom&aacute;tico de los Documentos HTML.",
      position: "top"
    }
  ];

  $('#start-tour').click(function() {

    introJs().setOptions({
      doneLabel: 'Salir',
      nextLabel: 'Siguiente &rarr;',
      prevLabel: '&larr; Anterior',
      skipLabel: 'Salir',
      steps: stepsListado
    }).start();

  });
</script>
<style>
  .introjs-helperNumberLayer{
    width: 23px;
    height: 23px;
    padding: 0px;
  }
  #start-tour{
    cursor: pointer;
  }
</style>