<% if nomina.present? %>

  <tr>
    <td colspan="10" style="text-align:center;">
      <div class="flickr_pagination"><%= ajax_will_paginate nomina, :params => params %>
      </div>
    </td>
  </tr>

  <!--
  <tr><td colspan="11">Cantidad de registros encontrados: <%#= @total_registros_encontrados %> de <%#= @total_registros %></td></tr>
  -->

  <tr>

    <%  
        parametros_csv = { :format => 'csv' }
        parametros_csv = parametros_csv.merge(params) 
        parametros_csv_todos = { :format => 'csv', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
    %>

    <% 
        parametros_xls = { :format => 'xlsx'}
        parametros_xls = parametros_xls.merge(params) 
        parametros_xls_todos = { :format => 'xlsx', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
    %>

    <% 
        parametros_json = { :format => 'json' }
        parametros_json = parametros_json.merge(params) 
        parametros_json_todos = { :format => 'json', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
    %>

    <% 
        parametros_pdf = { :format => 'pdf' }
        parametros_pdf = parametros_pdf.merge(params) 
        parametros_pdf_todos = { :format => 'pdf', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
    %>

    <%
        parametros_md5_csv = { :format => 'md5_csv', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
    %>

    <td colspan="10" class="row-descargar">

      <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
      <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a>
      <br />

      <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>

      <!-- DESCARGAS FILTRADAS -->
      <span data-toggle="tooltip-descarga-filtrada" title="Para las descargas filtradas, mínimamente se debe incluir el filtro por número de documento">Descargar datos del funcionario docente:</span>

      <% if params[:form_buscar_nominas_codigo_trabajador].present? && @nomina.size > 0 %>
        <%= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nomina_docentes_lista_url(parametros_pdf)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
      <% else %>
        <%= link_to "PDF#{image_star}".html_safe, "#", :onclick => "alert('Ingrese el número de documento para descargar este reporte.');return false;", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
      <% end %>

      <br /><br />

      <% if (params[:form_buscar_nominas][:ano_periodo_pago].to_i >= 2014 && params[:form_buscar_nominas][:mes_periodo_pago].present? ) %>

        <!-- DESCARGAS TOTALES -->
        <div style="float:left;" data-toggle="tooltip-descarga-total" title="Las descargas totales se realizan por periodo y mes">Descargar la N&oacute;mina completa de docentes del lapso <b><%= params[:form_buscar_nominas][:ano_periodo_pago] + ' - ' + params[:form_buscar_nominas][:mes_periodo_pago] %></b>:</div>

        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= descargar_documento(11, params[:form_buscar_nominas][:ano_periodo_pago], params[:form_buscar_nominas][:mes_periodo_pago], "pdf")%>
          <br />          
          <meta itemprop="name" content="Nomina de funcionarios docentes ">
          <meta itemprop="description" content="Listado de funcionarios docentes">
          <meta itemprop="encodingFormat" content="pdf">
          <meta itemprop="license" style="display: none;" content="http://creativecommons.org/licenses/by-nc/4.0/" />
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= descargar_documento(111, params[:form_buscar_nominas][:ano_periodo_pago], params[:form_buscar_nominas][:mes_periodo_pago], "csv.zip") %>
          <br />          
          <meta itemprop="name" content="Funcionarios Docentes ">
          <meta itemprop="description" content="Listado de funcionarios docentes">
          <meta itemprop="encodingFormat" content="csv">
          <meta itemprop="license" style="display: none;" content="http://creativecommons.org/licenses/by-nc/4.0/" />
        </div>

        <div style="float:left;text-align:center;">
          <%= link_to "MD5/CSV".html_safe, mec_custom_url(data_matriculaciones_inicial_lista_url( parametros_md5_csv )), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_md5' %>
        </div>

      <% else %>

        <div class="bg-primary">
          <center><h4>¡Atención! Las descargas <b>totales</b> se realizan por <b>periodo</b> y <b>mes</b></h4></center>
        </div>

      <% end %>

      <div style="clear:both;"></div>

    </td>

  </tr>

  <script>
    $('[data-toggle="tooltip-descarga-filtrada"]').tooltip();
    $('[data-toggle="tooltip-descarga-total"]').tooltip();
  </script>

<% end %>