<% if nomina.present? %>
  <tr>
    <td colspan="10" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate nomina, :params => params %></div></td>

  </tr>

  <!--
  <tr><td colspan="11">Cantidad de registros encontrados: <%#= @total_registros_encontrados %> de <%#= @total_registros %></td></tr>
  -->

  <tr>

    <%  
    parametros_csv = { :format => 'csv' }
    parametros_csv = parametros_csv.merge(params) 
    parametros_csv_todos = { :format => 'csv', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
  %>

    <% 
    parametros_xls = { :format => 'xlsx'}
    parametros_xls = parametros_xls.merge(params) 
    parametros_xls_todos = { :format => 'xlsx', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
  %>

    <%  %>

    <% 
    parametros_json = { :format => 'json' }
    parametros_json = parametros_json.merge(params) 
    parametros_json_todos = { :format => 'json', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
  %>

    <% 
    parametros_pdf = { :format => 'pdf' }
    parametros_pdf = parametros_pdf.merge(params) 
    parametros_pdf_todos = { :format => 'pdf', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
  %>

    <%= parametros_pdf %>

    <td colspan="10" class="row-descargar">

      <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
      <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a></br>
      <span>Descargar datos del funcionario docente:</span>
      <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>

      <% if params[:form_buscar_nominas_codigo_trabajador].present? && @nomina.size > 0 %>
        <%= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nomina_docentes_lista_url(parametros_pdf)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
      <% else %>
        <%= link_to "PDF#{image_star}".html_safe, "#", :onclick => "alert('Ingrese el número de documento para descargar este reporte.');return false;", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
      <% end %>

  <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%>
  <%#= link_to "XLS#{image_star * 2}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_xls)) , :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_excel'%>
  <%#= link_to "CSV#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_csv)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page'%>
  <%#= link_to "JSON#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_json)) , :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

      <br /><br />

      <div style="float:left;">Descargar la N&oacute;mina completa de docentes:</div>

      <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!dk5F0Cxb!oJgF9cQ_3gC8N4bHPqKER1eiOzsV81N7gdf-PMbBOzY", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">61,8MB <br /> junio 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes junio 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de junio del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!FoByxCpC!kqiue2krvjtukETMOx4QHj7iXkprIly96LjGpA9AqkQ", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">61,6MB <br /> julio 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes julio 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de julio del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>       

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!BxpUET6Z!abAxMKCtGNKbvtYyLCex1gmDH6QlHygopLpFV19SBp4", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">61,6MB <br /> agosto 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes agosto 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de agosto del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!It5hCJCb!vwByNfSKh5DXZiFwb22CfgZI9KpYvEwPtxMdsco3xI0", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">68,7MB <br /> setiembre 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes setiembre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de setiembre del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!U8JSkTIY!HUumE5y_q-DREfNr5LfzCCFnNXLRSAtu-oOCEKrW6T4", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">68,8 MB <br /> octubre 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes octubre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de octubre del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!wwpSgYYJ!28PFnFWR81ScdQ6-kLziN1-Uq35bv7GYERFOy7uun0E", :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <br />
        <span style="color:silver;">73,1 MB <br /> noviembre 2014</span>
        <meta itemprop="name" content="Nomina de funcionarios docentes noviembre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes de noviembre del año 2014">
        <meta itemprop="encodingFormat" content="pdf">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
  <%#= link_to "XLS#{image_star * 2}".html_safe, "" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_excel'%><br />
        <!--<span style="color:silver;">14,8MB <br /> agosto 2014</span>-->
  <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
        <meta itemprop="name" content="Funcionarios Administrativos agosto 2014">
        <meta itemprop="description" content="Listado de funcionarios administrativos al mes de agosto del año 2014">
        <meta itemprop="encodingFormat" content="xls">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!U8onyb4b!N0Q6cTglHVLsXYvzSymVwUZIxyMLccOb5tfKlfjzdBM" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
        <span style="color:silver;">120,5 MB <br /> agosto 2014</span>
        <meta itemprop="name" content="Funcionarios Docentes agosto 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes al mes de agosto del año 2014">
        <meta itemprop="encodingFormat" content="csv">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!A8Qx2aJR!b6wDL_hf5QxqEAjmxPxlLr0mefe4u8sJEpHy0knmVcM" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
        <span style="color:silver;">166,8 MB <br /> setiembre 2014</span>
        <meta itemprop="name" content="Funcionarios Docentes setiembre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes al mes de setiembre del año 2014">
        <meta itemprop="encodingFormat" content="csv">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!JhpEySqR!zI1nCOgdkVDxqzE7Zu3oZWq-BrhdaGGu3Sp2qGp_AI4" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
        <span style="color:silver;">167,8 MB <br /> octubre 2014</span>
        <meta itemprop="name" content="Funcionarios Docentes octubre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes al mes de octubre del año 2014">
        <meta itemprop="encodingFormat" content="csv">
      </div>

      <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!pwZlXRLT!sx_dm2slwbcsITl0wF4eMyG-P06N5YgUnP0HUih8Gzg" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
        <span style="color:silver;">169 MB <br /> noviembre 2014</span>
        <meta itemprop="name" content="Funcionarios Docentes noviembre 2014">
        <meta itemprop="description" content="Listado de funcionarios docentes al mes de noviembre del año 2014">
        <meta itemprop="encodingFormat" content="csv">
      </div>

      <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
  <%#= link_to "XLS#{image_star * 2}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_xls_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_excel', :itemprop => "url"%>
        <meta itemprop="name" content="Establecimientos Escolares 2012">
        <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
        <meta itemprop="encodingFormat" content="xls">
      </div>
      <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
  <%#= link_to "CSV#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_csv_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page', :itemprop => "url"%>
        <meta itemprop="name" content="Establecimientos Escolares 2012">
        <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
        <meta itemprop="encodingFormat" content="csv">
      </div>
      <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
  <%#= link_to "JSON#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_json_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width', :itemprop => "url"%>
        <meta itemprop="name" content="Establecimientos Escolares 2012">
        <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
        <meta itemprop="encodingFormat" content="json">
      </div>
      <div style="clear:both;"></div>
    </td>

  </tr>

<% end %>
