<% if nomina.present? %>
  
  <% nomina.each do |n| %>

    <tr>

      <td class="text-min" style="text-align:right;"><%= n.ano_periodo_pago %></td>
      <td class="text-min" style="text-align:left;"><%= obtener_mes(n.mes_periodo_pago) %></td>
      <!--<td class="text-min" style="text-align:right;"><%#= n.codigo_trabajador %></td>-->
      <td class="text-min" style="text-align:right;"><%= link_to n.codigo_trabajador,mec_custom_url(id_nomimas_administrativo_path(n.codigo_trabajador)),target:'_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %></td>
      <td class="text-min" style="text-align:left;"><%= n.nombre_trabajador %></td>
      <td class="text-min" style="text-align:left;"><%= "#{n.nombre_objeto_gasto} (#{n.codigo_objeto_gasto})" %></td>
      <td class="text-min" style="text-align:left;"><%= n.estado %></td>
      <td class="text-min" style="text-align:left;"><%= n.antiguedad_administrativo %></td>
      <td class="text-min" style="text-align:right;"><%= number_to_currency(n.asignacion, :unit => '', :precision => 0) %></td>
      <td style="width:20px;"><%= link_to_nominas_detalles(n) %></td>
       
    </tr>
      
  <% end %>

    <tr>

      <td colspan="9" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate nomina, :params => params %></div></td>
    
    </tr>

    <!--
    <tr><td colspan="11">Cantidad de registros encontrados: <%#= @total_registros_encontrados %> de <%#= @total_registros %></td></tr>
    -->

    <tr>

      <%  
          parametros_csv = { :format => 'csv' }
          parametros_csv = parametros_csv.merge(params) 
          parametros_csv_todos = { :format => 'csv', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
      %>

      <% 
          parametros_xls = { :format => 'xlsx'}
          parametros_xls = parametros_xls.merge(params) 
          parametros_xls_todos = { :format => 'xlsx', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
      %>

      <%  %>

      <% 
          parametros_json = { :format => 'json' }
          parametros_json = parametros_json.merge(params) 
          parametros_json_todos = { :format => 'json', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
      %>

      <% 
          parametros_pdf = { :format => 'pdf' }
          parametros_pdf = parametros_pdf.merge(params) 
          parametros_pdf_todos = { :format => 'pdf', "form_buscar_nominas[ano_periodo_pago]" => params[:form_buscar_nominas][:ano_periodo_pago], "form_buscar_nominas[mes_periodo_pago]" => params[:form_buscar_nominas][:mes_periodo_pago] }
      %>

      <%= parametros_pdf %>

      <td colspan="9" class="row-descargar">
       
        <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
        <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a></br>
        <span>Descargar datos del funcionario administrativo:</span>
        <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>

        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(PARAMETRO[:nomina_administrativos]) , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%>
        <% if params[:form_buscar_nominas_codigo_trabajador].present? && @nomina.size > 0 %>
          <%= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nomina_administrativos_lista_url(parametros_pdf)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
        <% else %>
          <%= link_to "PDF#{image_star}".html_safe, "#", :onclick => "alert('Ingrese el número de documento para descargar este reporte.');return false;", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'  %>
        <% end %>
        <%#= link_to "XLS#{image_star * 2}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_xls)) , :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_excel'%>
        <%#= link_to "CSV#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_csv)) , :targer => "_target", :style => "margin-left:10px;", :class => 'icon icon-page'%>
        <%#= link_to "JSON#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_json)) , :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>
        <br /><br />
        
        <div style="float:left;">Descargar la N&oacute;mina completa de funcionarios administrativos:</div>
        
        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!M5hh1SzR!T8sOSki9cIs6YJJ0LORy1CdguEs2GwH93mSJIksvEP0" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%><br />
          <span style="color:silver;">1,6MB <br /> junio 2014</span>
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos junio 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de junio del año 2014">
          <meta itemprop="encodingFormat" content="pdf">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!NhhQQaoY!fzeYi5SVkDn2NS_urLjp_u0mkm1h7DoGZP4_7VvXQtA" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%><br />
          <span style="color:silver;">1,6MB <br /> julio 2014</span>
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos julio 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de julio del año 2014">
          <meta itemprop="encodingFormat" content="pdf">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!c9YCjYaS!IN8emuqRHDHMjjAqwE7p7b-laPsXQ9If7DXs6kbM_QY" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%><br />
          <span style="color:silver;">2MB <br /> agosto 2014</span>
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos agosto 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de agosto del año 2014">
          <meta itemprop="encodingFormat" content="pdf">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "PDF#{image_star}".html_safe, "https://mega.co.nz/#!ktQG3I6C!e2DAeCgmlcMWetLzpVPFrRZI07YHCgKiiDKbvRUpcsw" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat'%><br />
          <span style="color:silver;">1,9MB <br /> setiembre 2014</span>
          <meta itemprop="name" content="Funcionarios Administrativos setiembre 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de setiembre del año 2014">
          <meta itemprop="encodingFormat" content="pdf">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%#= link_to "XLS#{image_star * 2}".html_safe, "" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_excel'%><br />
          <!--<span style="color:silver;">14,8MB <br /> agosto 2014</span>-->
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos agosto 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de agosto del año 2014">
          <meta itemprop="encodingFormat" content="xls">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!VxBwFSSC!9wFkMAHSA3wdLtHbmVEevL588-kyNYUn_Y9xWSASVJ4" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
          <span style="color:silver;">3,5 MB <br /> agosto 2014</span>
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos agosto 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de agosto del año 2014">
          <meta itemprop="encodingFormat" content="csv">
        </div>

        <div style="float:left;text-align:center;margin-left:10px;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
          <%= link_to "CSV#{image_star * 3}".html_safe, "https://mega.co.nz/#!E9hRRYbS!obDfJ0dUdMxRo8zKzzZVlqbcHIyf2U5adrp14z_NTSo" , :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page' %><br />
          <span style="color:silver;">4,3 MB <br /> setiembre 2014</span>
        <%#= link_to "PDF#{image_star}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_pdf_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_acrobat', :itemprop => "url"%>
          <meta itemprop="name" content="Funcionarios Administrativos setiembre 2014">
          <meta itemprop="description" content="Listado de funcionarios administrativos al mes de setiembre del año 2014">
          <meta itemprop="encodingFormat" content="csv">
        </div>

        <div itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%#= link_to "XLS#{image_star * 2}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_xls_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_excel', :itemprop => "url"%>
          <meta itemprop="name" content="Establecimientos Escolares 2012">
          <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
          <meta itemprop="encodingFormat" content="xls">
        </div>
        <div style="float:left;text-align:center;" itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%#= link_to "CSV#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_csv_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page', :itemprop => "url"%>
          <meta itemprop="name" content="Establecimientos Escolares 2012">
          <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
          <meta itemprop="encodingFormat" content="csv">
        </div>
        <div style="float:left;text-align:center;"itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">
        <%#= link_to "JSON#{image_star * 3}".html_safe, mec_custom_url(data_nominas_lista_url(parametros_json_todos)), :target => "_blank", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width', :itemprop => "url"%>
          <meta itemprop="name" content="Establecimientos Escolares 2012">
          <meta itemprop="description" content="Listado de establecimientos escolares correspondiente al año 2012">
          <meta itemprop="encodingFormat" content="json">
          </div>
  
          <div style="clear::both;"></div>

      </td>
 
    </tr>


  <% else %>

  <tr>
    
    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
