<%= javascript_include_tag "/assets/views/uri_nomina_view.js?body=1" %>
<div>
  <div class="submenu pull-right hidden-xs">
    <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_nomina_administrativos_url), :class => "btn-lg hidden-xs", :title => "Ir al diccionario" %>
    <%= link_to ('<i class="icon-py-datos"></i> Ver Datos').html_safe, mec_custom_url(data_nomina_administrativos_url), :id => "tab-datos", :class => "btn-lg hidden-xs", :title => "Ir al Conjunto de Datos" %>
  </div>
  <h1>
    <span itemprop="name">Administrativos</span>
    <meta itemprop="description"
          content="Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación."/>
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31">
    <meta itemprop="url" content="http://datos.mec.gov.py/data/establecimientos">  
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,geografico"/>
    <meta itemprop="version" style="display: none;" content="1.0"/>
  </h1>
</div>
<br>

<% if @adminnomina.present? %>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <%= label_tag "Periodo", nil, :class => 'col-sm-4 label-combo' %>
      <div class="col-sm-4">
        <%= select :form_buscar_nominas, :ano_periodo_pago, [2014], {}, { :class => 'form-control' } %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "Mes", nil, :class => 'col-sm-4 label-combo' %>
      <div class="col-sm-4">
        <%= select :form_buscar_nominas, :ano_periodo_pago, [["octubre", 10]], {}, { :class => 'form-control' } %>
      </div>
    </div>
  </form>

  <div class="clearfix"></div>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h2>Datos del administrativo</h2>
      <ul class="listado">

        <li class="row">
          <div class="celda col-sm-4"><strong>Periodo</strong></div>
          <div class="celda col-sm-8"><%= @adminnomina.ano_periodo_pago %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Mes</strong></div>
          <div class="celda col-sm-8"><%= obtener_mes(@adminnomina.mes_periodo_pago) %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>N° documento</strong></div>
          <div class="celda col-sm-8"><%= @adminnomina.codigo_trabajador %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Nombre completo</strong></div>
          <div class="celda col-sm-8"><%=@adminnomina.nombre_trabajador%></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Antiguedad docente</strong></div>
          <div class="celda col-sm-8"><%=@adminnomina.antiguedad_docente%></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Antiguedad administrativa</strong></div>
          <div class="celda col-sm-8"><%=@adminnomina.antiguedad_administrativo%></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Número matriculación</strong></div>
          <div class="celda col-sm-8"><%=@adminnomina.numero_matriculacion %></div>
        </li>

        <li class="row">
          <div class="celda col-sm-4"><strong>Sexo</strong></div>
          <div class="celda col-sm-8"><%=@adminnomina.sexo %></div>
        </li>

      </ul>
    </div>
  </div>

  <hr>
  <br>

  <!--<div class="">
    <h2>Detalles de la Asignación</h2>
    <ul class="listado">
      <li class="row hidden-xs titulos">
        <div class="celda col-sm-4">Concepto</div>
        <div class="celda col-sm-2">Dependencia</div>
        <div class="celda col-sm-1">Cargo</div>
        <div class="celda col-sm-1">Categoría<br>Rubro</div>
        <div class="celda col-sm-1">Asignación<br>Categoría<br>Rubro</div>
        <div class="celda col-sm-1">Cantidad</div>
        <div class="celda col-sm-1">Asignación</div>
        <div class="celda col-sm-1">Devuelto</div>
      </li>

      {{#each asignacion in modelo.asignaciones}}
      <li class="row">
        {{#if asignacion.concepto}}<label class="col-xs-12 visible-xs">Concepto</label>{{/if}}
        <div class="celda col-sm-4">{{asignacion.concepto}}</div>

        {{#if asignacion.dependencia}}<label class="col-xs-12 visible-xs">Dependencia</label>{{/if}}
        <div class="celda col-sm-2">{{asignacion.dependencia}}</div>

        {{#if asignacion.cargo}}<label class="col-xs-12 visible-xs">Cargo</label>{{/if}}
        <div class="celda col-sm-1">{{asignacion.cargo}}</div>

        {{#if asignacion.categoriarubro}}<label class="col-xs-12 visible-xs">Categoría<br>Rubro</label>{{/if}}
        <div class="celda col-sm-1">{{asignacion.categoriarubro}}</div>

        {{#if asignacion.asignacioncategoriarubro}}<label class="col-xs-12 visible-xs">Asignación<br>Categoría<br>Rubro</label>{{/if}}
        <div class="celda col-sm-1 text-right">{{asignacion.asignacioncategoriarubro}}</div>

        {{#if asignacion.cantidad}}<label class="col-xs-12 visible-xs">Cantidad</label>{{/if}}
        <div class="celda col-sm-1 text-right">{{asignacion.cantidad}}</div>

        {{#if asignacion.asignacion}}<label class="col-xs-12 visible-xs">Asignación</label>{{/if}}
        <div class="celda col-sm-1 text-right">{{asignacion.asignacion}}</div>

        {{#if asignacion.devuelto}}<label class="col-xs-12 visible-xs">Devuelto</label>{{/if}}
        <div class="celda col-sm-1 text-right">{{asignacion.devuelto}}</div>


      </li>
      {{/each}}
    </ul>
  </div>-->





  <div class="uri-data-fin">

    <br />
    <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
    <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a>
    </br>
    <span>Descargar Administrativo:</span>
    <% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>
    <% if params[:codigo_trabajador].present? %>
      <% ruta = mec_custom_url(id_nomimas_docentes_url(params[:codigo_trabajador], format: 'json'))%>
    <% else %>
      <% ruta = mec_custom_url(id_nominas_docentes_url(params[:codigo_trabajador], format: 'json'))%>
    <% end %>
    <%= link_to "JSON#{image_star * 3}".html_safe, ruta, :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

  <%# image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>
  <%# if params[:institucion] && params[:institucion][:anio].present? %>
  <%# ruta = mec_custom_url(id_instituciones_url(params[:codigo_institucion], periodo: { anio: params[:institucion][:anio]}, format: 'json'))%>
  <%# else %>
  <%# ruta = mec_custom_url(id_instituciones_url(params[:codigo_institucion], format: 'json'))%>
  <%# end %>
  <%#= link_to "JSON#{image_star * 3}".html_safe, ruta, :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

  </div>

<% else %>

  <div>No se ha encontrado el administrativo</div>

<% end %>

<style>
  div.first{
    border-top:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:21px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:21px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:21px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }

  div.last{
    border-bottom:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:21px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:21px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:21px;
  } 

</style>