<h2>
	<span itemprop="name">Administrativos</span>
  <meta itemprop="description"
    content="Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación."/>
  <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31">
  <meta itemprop="url" content="http://datos.mec.gov.py/data/establecimientos">  
  <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://www.mec.gov.py/">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
    <meta itemprop="name" content="Juan Barrios">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
  <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,geografico"/>
  <meta itemprop="version" style="display: none;" content="1.0"/>
  <span style="float:right;">
    <%= link_to "Ver dataset", mec_custom_url(data_nomina_administrativos_url), :title => "Ir al Dataset", :style => "font-size:12px;" %>
    <%= link_to image_tag("datos_ico.jpg", :style => "width:24px;" ), mec_custom_url(data_nomina_administrativos_url), :title => "Ir al Dataset" %> 
    <%= link_to "Ver diccionario", mec_custom_url(def_nomina_administrativos_url), :title => "Ir al diccionario", :style => "font-size:12px;" %>
    <%= link_to image_tag("def_icon.png", :style => "width:24px;" ), mec_custom_url(def_nomina_administrativos_url), :title => "Ir al diccionario" %>
    <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
  </span>

</h2>

<% if @adminnomina.present? %>


  <div class="uri-data-filter">
  	<%= label_tag "Periodo" %>
    <%= select :form_buscar_nominas, :ano_periodo_pago, [2014], {:class => 'text-min'} %>
    <%= label_tag "Mes" %>
    <%= select :form_buscar_nominas, :mes_periodo_pago, [["octubre", 10]], {:class => 'text-min'} %>
  	
  </div>
  
  <br />
  
  <div class='uri-data-left'>

    <h4>Datos del Administrativo </h4>
    <div class='uri-titulo' style='border-top:1px solid silver;'>Periodo</div><div class='uri-valor first'><%= @adminnomina.ano_periodo_pago %></div><br />
    <div class='uri-titulo'>Mes</div><div class='uri-valor'><%= obtener_mes(@adminnomina.mes_periodo_pago) %></div><br />
    <div class='uri-titulo'>N° documento</div><div class='uri-valor'><%= @adminnomina.codigo_trabajador %></div><br />
    <div class='uri-titulo'>Nombre completo</div><div class='uri-valor'><%=@adminnomina.nombre_trabajador%></div><br />
    <div class='uri-titulo'>Antiguedad docente</div><div class='uri-valor'><%=@adminnomina.antiguedad_docente%></div><br />
    <div class='uri-titulo'>Antiguedad administrativa</div><div class='uri-valor'><%=@adminnomina.antiguedad_administrativo%></div><br />
    <div class='uri-titulo'>Número matriculación</div><div class='uri-valor'><%=@adminnomina.numero_matriculacion %></div><br />
    
  </div>
 
 
 <!--  begin detalles    -->

  <!--<div class="uri-data-right"> 
  	
 
    <h4>Detalle de la asignación</h4>
    
    <table class="table table-striped table-bordered table-hover">
    	
      
	        <th>nn</th>
        <th style="text-align:right;">nn</th>

      </tr>

        <tr>

         
          <td></td>
      
          <td style="text-align:right;"></td>
		         
        </tr>
        
        <tr>

         
          <td>    </td>
      
          <td style="text-align:right;"></td>
		     
        </tr>
        
        <tr>
        	<td></td>
      
          <td style="text-align:right;"></td>
        	
        </tr>
        
        <tr>
        	<td></td>
      
          <td style="text-align:right;"></td>
        	
        </tr>
        <tr>
        	<td></td>
      
          <td style="text-align:right;"></td>
        	
        </tr>
        
        <tr>
        	<td></td>
      
          <td style="text-align:right;"></td>
        	
        </tr>
         <tr>
        	<th>nn</th>
      
          <td style="text-align:right;"></td>
        	
        </tr>

    </table>
	
    
    

</div>-->
 <!--  end detalles    -->

  <div style="clear:both;"></div>
  <div class="uri-data-fin">

    <br />
    <%= image_tag "datos-abiertos-nuevo.png", :style => "width:240px; margin-bottom:10px;" %>
    <a href="http://www.w3.org/TR/microdata/"><%= image_tag "microdata-icon.png", :style => "width:32px; margin-bottom:10px;" %></a>
    </br>
    <span>Descargar Administrativo:</span>
	<% image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>
    <% if params[:codigo_trabajador].present? %>
    	<% ruta = mec_custom_url(id_nomimas_docentes_url(params[:codigo_trabajador], format: 'json'))%>
    <% else %>
      <% ruta = mec_custom_url(id_nominas_docentes_url(params[:codigo_trabajador], format: 'json'))%>
    <% end %>
    <%= link_to "JSON#{image_star * 3}".html_safe, ruta, :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

    <%# image_star = image_tag('star.png', :style => 'width:12px;padding-bottom:10px;') %>
    <%# if params[:institucion] && params[:institucion][:anio].present? %>
      <%# ruta = mec_custom_url(id_instituciones_url(params[:codigo_institucion], periodo: { anio: params[:institucion][:anio]}, format: 'json'))%>
    <%# else %>
      <%# ruta = mec_custom_url(id_instituciones_url(params[:codigo_institucion], format: 'json'))%>
    <%# end %>
    <%#= link_to "JSON#{image_star * 3}".html_safe, ruta, :target => "_target", :style => "margin-left:10px;", :class => 'icon icon-page_white_text_width'%>

  </div>

 <% else %>

  <div>No se ha encontrado el administrativo</div>

<% end %>
 

<style>

  h2 {border-bottom: 3px solid gray;}
  h4 {border-bottom: 1px dashed silver;}
  div.uri-data-filter { width:100%; border-bottom: 4px solid silver;margin-top:30px;padding-bottom:10px;}
  div.uri-data-left { width:45%; float:left;}
  div.uri-data-right { width:52%; float:right; border-left: 4px solid silver; padding-left:20px;}
  div.uri-data-fin { width:100%; border-top: 4px solid silver;margin-bottom:30px;clear:both;margin-top:20px;}
  div.uri-data-left br {clear:both;}
  div.uri-titulo, div.uri-valor { font-size: 12px; float:left; padding:5px; height:40px;}
  div.uri-titulo { border-bottom: 1px solid silver;width:30%; border-left:6px solid silver; background-color: #efefef; color: #5a86a5;}
  div.uri-valor { border-bottom: 1px solid silver;border-right: 1px solid silver; width:70%; -moz-box-shadow: 9px -4px 11px #878787;}

  div.first{
    border-top:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:21px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:21px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:21px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }

  div.last{
    border-bottom:solid 1px silver;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:21px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:21px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:21px;
  } 

</style>