<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>

<div itemscope="" itemtype="https://schema.org/Dataset">

  <div>
    <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_nomina_administrativos_url), :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
    <!--<div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>-->
    <h1>
      <span>Nómina de Funcionarios Administrativos</span><br/>
      <meta itemprop="name" style="display: none;" content="NOMINA DE FUNCIONARIOS ADMINISTRATIVOS">
      <meta itemprop="description"
            content="Contiene todos los datos de la nómina de funcionarios administrativos, conforme a lo establecido en la ley 5189/14. El formato de los datos sigue la recomendaci&oacute;n propuesta por la Secretar&iacute;a de la Funci&oacute;n P&uacute;blica."/>
      <meta itemprop="temporal" style="display: none;" content="2014-01-01/2015-12-31">
      <meta itemprop="url" content= <%= mec_custom_url(data_nomina_administrativos_url) %> >
      <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
          <meta itemprop="name" content="Ministerio de Educación y Cultura">
          <meta itemprop="url" content="http://www.mec.gov.py/">
          <meta itemprop="email" content="datosabiertos@mec.gov.py">
      </span>
      <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
          <meta itemprop="name" content="Juan Barrios">
          <meta itemprop="email" content="datosabiertos@mec.gov.py">
      </span>
      <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
      <meta itemprop="keywords" style="display: none;" content="educación,nóminas,administrativos"/>
      <meta itemprop="version" style="display: none;" content="1.0"/>
    </h1>
    <span style="font-size: 12px;font-weight: bold;color:silver;">
      <i>
        La información presentada para el último periodo está sujeta a ajustes por parte de MEC debido a la dinámica de movimientos mensual de funcionarios.<br />Ley 5189/2014 Art. 5: "Queda expresamente prohibida la utilización de los datos contenidos en estos documentos para fines comerciales.
      </i>
    </span>
  </div>

  <%= form_tag mec_custom_url(data_nomina_administrativos_lista_url(nil)), :remote => true, :id => "form-buscar-nominas" do  %>
    <div class="table-responsive">
      <table class="table table-small-font table-bordered table-striped">
        <thead>
          <tr>

            <th data-priority="1">
              <span data-titulo="true">Año</span>

              <span class="orden ano_periodo_pago">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
              </span>

              <%= select :form_buscar_nominas, :ano_periodo_pago, options_periodos_nominas, {}, {:class => 'form-control input-sm'} %>
            </th>

            <th data-priority="1">
              <span data-titulo="true">Mes</span>

              <span class="orden mes_periodo_pago">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
              </span>

              <%= select :form_buscar_nominas, :mes_periodo_pago, options_meses_nominas, {}, {:class => 'form-control input-sm'} %>
            </th>

            <th data-priority="1">
              <span data-titulo="true">N° Documento</span>

              <span class="orden codigo_trabajador">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
              </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_nominas_codigo_trabajador, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_codigo_trabajador');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_nominas_codigo_trabajador_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_trabajador, 
              atributo_tipo: :text, 
              model: :VNomina, 
              limit: 10,
              cadena_consulta: "codigo_trabajador",
              cadena_consulta_adicional: "(es_categoria_administrativa=1)",
              orden: "codigo_trabajador")), 
          parametro_id: "form_buscar_nominas_codigo_trabajador", 
          resultado_id: "form_buscar_nominas_codigo_trabajador_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Nombre Completo</span>

          <span class="orden nombre_trabajador">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_nominas_nombre_trabajador, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_nombre_trabajador');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_nominas_nombre_trabajador_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_trabajador, 
              atributo_tipo: :text, 
              model: :VNomina, 
              limit: 10,
              cadena_consulta: "nombre_trabajador",
              cadena_consulta_adicional: "(es_categoria_administrativa=1)",
              orden: "nombre_trabajador")), 
          parametro_id: "form_buscar_nominas_nombre_trabajador", 
          resultado_id: "form_buscar_nominas_nombre_trabajador_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Objeto de Gasto</span>

          <span class="orden nombre_objeto_gasto">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_nominas_nombre_objeto_gasto, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_nombre_objeto_gasto');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_nominas_nombre_objeto_gasto_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_objeto_gasto, 
              atributo_tipo: :text, 
              model: :VNomina, 
              limit: 10,
              cadena_consulta: "nombre_objeto_gasto",
              cadena_consulta_adicional: "(es_categoria_administrativa=1)",
              orden: "nombre_objeto_gasto")), 
          parametro_id: "form_buscar_nominas_nombre_objeto_gasto", 
          resultado_id: "form_buscar_nominas_nombre_objeto_gasto_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <span data-titulo="true">Estado</span>

          <span class="orden estado">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_nominas_estado, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_estado');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_nominas_estado_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :estado, 
              atributo_tipo: :text, 
              model: :VNomina, 
              limit: 10,
              cadena_consulta: "estado",
              cadena_consulta_adicional: "(es_categoria_administrativa=1)",
              orden: "estado")), 
          parametro_id: "form_buscar_nominas_estado", 
          resultado_id: "form_buscar_nominas_estado_id",
          min_length: 2
          ) %>

        </th>

        <th data-priority="1">
          <%= label_tag nil, "Antigüedad".html_safe %>

          <span class="orden antiguedad_administrativo">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <%= text_field_tag :form_buscar_nominas_antiguedad_administrativo, nil, :class => 'form-control', :placeholder => "" %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_antiguedad_administrativo');"><i class="fa fa-times"></i></span>
        </div>

        <%= hidden_field_tag :form_buscar_nominas_antiguedad_administrativo_id %>
        <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :antiguedad_administrativo, 
              atributo_tipo: :text, 
              model: :VNomina, 
              limit: 10,
              cadena_consulta: "antiguedad_administrativo",
              cadena_consulta_adicional: "(es_categoria_administrativa=1)",
              orden: "antiguedad_administrativo")), 
          parametro_id: "form_buscar_nominas_antiguedad_administrativo", 
          resultado_id: "form_buscar_nominas_antiguedad_administrativo_id",
          min_length: 2
          ) %>

        </th>

        <th>
          <span data-titulo="true">Asignaci&oacute;n</span>
          <span class="orden asignacion">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>

        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <%= select_tag(:form_buscar_nominas_asignacion_operador, options_for_select(['>', '<', '=']), :class => 'form-control input-sm comparador')%>
          </span>
          <%= number_field_tag :form_buscar_nominas_asignacion, nil, :class => 'form-control', :placeholder => '' %>
          <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-nominas', '#form_buscar_nominas_asignacion');"><i class="fa fa-times"></i></span>
        </div>
        </th>

        <th data-priority="1">
            <span data-titulo="true">Sexo</span>

            <span class="orden sexo">
                <i class="filtro fa fa-sort"></i>
                <i class="descendente fa fa-sort-desc"></i>
                <i class="ascendente fa fa-sort-asc"></i>
            </span>

            <%= select :form_buscar_nominas, :sexo, ['','MUJER','HOMBRE'], {}, {:class => 'form-control input-sm'} %>
        </th>

        <th style="width:16px;"></th>

        </tr>
        </thead>

        <tbody id="nominas-lista"></tbody>

      </table>
    </div>
  <% end %>

  <table class="table table-striped table-bordered table-hover">
    <tbody id="nominas-footer"></tbody>
  </table>

</div>

<script type="text/javascript">

  $("#form-buscar-nominas").bind("submit", function() {

    $('.nominas-detalles').html('');
    $("#nominas-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })
/*
  $("#form_buscar_nominas_ano_periodo_pago").bind('change', function() {

    $(".nominas-detalles").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-nominas").submit();

  })

  $("#form_buscar_nominas_mes_periodo_pago").bind('change', function() {

    $(".nominas-detalles").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-nominas").submit();

  })

  $("#form_buscar_nominas_asignacion_operador").bind('change', function() {

    $(".nominas-detalles").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-nominas").submit();

  })
*/
  $(".table-bordered :input").bind('change', function() {

    $(".nominas-detalles").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-nominas").submit();

  });

  <% obtener_ultimo_periodo_mes(1) %>

  //LIMPIAR FORMULARIO DE BUSQUEDA
  valor_defecto = [{
      id: '#form_buscar_nominas_ano_periodo_pago',
      valor: <%= @nomina_ultimo[0].ano_periodo_pago %>
    },
    {
      id: '#form_buscar_nominas_mes_periodo_pago',
      valor: <%= @nomina_ultimo[0].mes_periodo_pago %>
    }];
  resetForm("#form-buscar-nominas", valor_defecto);

</script>
