<% if contrataciones.present? %>
  
  <% contrataciones.each do |c| %>

    <tr>

      <td><%= c.ejercicio_fiscal %></td>
      <td><%= c.llamado_publico %></td>
      <td><%= c.modalidad %></td>  
      <!--      <td><%#= c.nombre %></td> -->
      <td><%= c.descripcion %></td>
      <td><%= c.fecha_apertura_oferta %></td>
      <td><%= c.estado_llamado %></td>
      <td><%= "#{c.proveedor_ruc} - #{c.proveedor}" %></td>    
      <td><%= c.fecha_contrato %></td>
      <td><%= c.fecha_vigencia_contrato %></td> 
      <!--      <td><%#= c.categoria %></td>        -->
      <td style="text-align:right !important;"><%= c.monto_adjudicado.present? ? number_to_currency(c.monto_adjudicado, :unit => '', :precision => 0) : 0 %></td>
 
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="10"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
