<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>
<div>
  <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_contrataciones_url), :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
  <h1>
    <span itemprop="name">Contrataciones</span>
    <meta itemprop="description"
          content=""
          />
    <meta itemprop="temporal" style="display: none;" content="2014-01-01/2014-12-31"/>
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,instituciones,contrataciones"/>
    <meta itemprop="version" style="display: none;" content="1.0">
  </h1>
</div>
<br>

<%= form_tag mec_custom_url(data_contrataciones_lista_url), :remote => true, :id => "form-buscar-contrataciones" do  %>
  <div class="table-responsive">
    <table class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>

          <th data-priority="1">
            <%= label_tag "Ejercicio Fiscal" %>

            <span class="orden">
              <i class="filtro fa fa-sort"></i>
              <i class="descendente fa fa-sort-desc"></i>
              <i class="ascendente fa fa-sort-asc"></i>
            </span>

      <div class="input-group input-group-sm">
        <%= select :form_buscar_contrataciones, :ejercicio_fiscal, [2015,2014], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="1">
        <%= label_tag nil, "Id DNCP".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_llamado_publico, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_llamado_publico');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_llamado_publico_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :llamado_publico, 
            atributo_tipo: :int, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "llamado_publico",
            orden: "llamado_publico")), 
        parametro_id: "form_buscar_contrataciones_llamado_publico", 
        resultado_id: "form_buscar_contrataciones_llamado_publico_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Modalidad".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_modalidad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_modalidad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_modalidad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :modalidad, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "modalidad",
            orden: "modalidad")), 
        parametro_id: "form_buscar_contrataciones_modalidad", 
        resultado_id: "form_buscar_contrataciones_modalidad_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Descripci&oacute;n".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_descripcion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_descripcion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_descripcion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :descripcion, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "descripcion",
            orden: "descripcion")), 
        parametro_id: "form_buscar_contrataciones_descripcion", 
        resultado_id: "form_buscar_contrataciones_descripcion_id",
        min_length: 4
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Fecha de Apertura de Ofertas".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_fecha_apertura_oferta, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_fecha_apertura_oferta');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_fecha_apertura_oferta_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :fecha_apertura_oferta, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "fecha_apertura_oferta",
            orden: "fecha_apertura_oferta")), 
        parametro_id: "form_buscar_contrataciones_fecha_apertura_oferta", 
        resultado_id: "form_buscar_contrataciones_fecha_apertura_oferta_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Estado".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_estado_llamado, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_estado_llamado');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_estado_llamado_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :estado_llamado, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "estado_llamado",
            orden: "estado_llamado")), 
        parametro_id: "form_buscar_contrataciones_estado_llamado", 
        resultado_id: "form_buscar_contrataciones_estado_llamado_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Proveedor Adjudicado".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_proveedor_adjudicado, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_proveedor_adjudicado');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_proveedor_adjudicado_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :proveedor_adjudicado, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "proveedor_adjudicado",
            orden: "proveedor_adjudicado")), 
        parametro_id: "form_buscar_contrataciones_proveedor_adjudicado", 
        resultado_id: "form_buscar_contrataciones_proveedor_adjudicado_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Fecha Contrato".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_fecha_contrato, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_fecha_contrato');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_fecha_contrato_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :fecha_contrato, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "fecha_contrato",
            orden: "fecha_contrato")), 
        parametro_id: "form_buscar_contrataciones_fecha_contrato", 
        resultado_id: "form_buscar_contrataciones_fecha_contrato_id",
        min_length: 3
        ) %>

      </th>

      <th data-priority="1">
        <%= label_tag nil, "Fecha Vigencia de Contrato".html_safe %>

        <span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_contrataciones_fecha_vigencia_contrato, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_fecha_vigencia_contrato');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_contrataciones_fecha_vigencia_contrato_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :fecha_vigencia_contrato, 
            atributo_tipo: :text, 
            model: :Contratacion, 
            limit: 10,
            cadena_consulta: "fecha_vigencia_contrato",
            orden: "fecha_vigencia_contrato")), 
        parametro_id: "form_buscar_contrataciones_fecha_vigencia_contrato", 
        resultado_id: "form_buscar_contrataciones_fecha_vigencia_contrato_id",
        min_length: 3
        ) %>

      </th>

      <th style="width:9%;" class="text-min">
        <%= label_tag nil, "Monto Adjudicado".html_safe%><br /><br />
        <%= select_tag(:form_buscar_contrataciones_monto_adjudicado_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_contrataciones_monto_adjudicado, nil, :class => 'text-min' %>
        <%= link_to icon_delete, "#", onclick: "quitar_filtro('#form-buscar-contrataciones', '#form_buscar_contrataciones_monto_adjudicado');" %>
      </th>


      </tr>
      </thead>

      <tbody id="contrataciones-lista"></tbody>

    </table>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tbody id="contrataciones-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-contrataciones").bind("submit", function() {

    $("#contrataciones-lista").html("<%= escape_javascript("<tr><td colspan='10' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_contrataciones_ejercicio_fiscal").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-contrataciones").submit();

  })

  $("#form_buscar_contrataciones_monto_adjudicado_operador").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-contrataciones").submit();

  })

  $(".table-bordered input").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-contrataciones").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  valor_defecto = [{
      id: '#form_buscar_contrataciones_ejercicio_fiscal',
      valor: 2015
    }];
  resetForm("#form-buscar-contrataciones", valor_defecto);

</script>