
<% if matriculaciones_educacion_permanente.present? %>

  <% matriculaciones_educacion_permanente.each do |p| %>

    <tr>

      <td><%= p.anio %></td>
      <td><b><%= link_to p.codigo_establecimiento, mec_custom_url(id_establecimientos_path(p.codigo_establecimiento)), target: '_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %></b></td>
      <td><b><%= link_to p.codigo_institucion, mec_custom_url(id_instituciones_path(p.codigo_institucion)), target: '_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %></b></td>
      <td><%= p.nombre_institucion %></td>
      <td><%= p.nombre_departamento %></td>
      <td><%= p.nombre_distrito %></td>
      <td><%= p.nombre_barrio_localidad %></td>
      <td><%= p.nombre_zona %></td>
      <td><%= p.sector_o_tipo_gestion %></td>
      <td><%= p.matricula_ebbja %></td>
      <td><%= p.matricula_ebbja_hombre %></td>
      <td><%= p.matricula_ebbja_mujer %></td>
      <td><%= p.matricula_fpi %></td>
      <td><%= p.matricula_fpi_hombre %></td>
      <td><%= p.matricula_fpi_mujer %></td>
      <td><%= p.matricula_emapja %></td>
      <td><%= p.matricula_emapja_hombre %></td>
      <td><%= p.matricula_emapja_mujer %></td>
      <td><%= p.matricula_emdja %></td>
      <td><%= p.matricula_emdja_hombre %></td>
      <td><%= p.matricula_emdja_mujer %></td>
      <td><%= p.matricula_fp %></td>
      <td><%= p.matricula_fp_hombre %></td>
      <td><%= p.matricula_fp_mujer %></td>

    </tr>

  <% end %>

<% else %>

  <tr>

    <td colspan="14"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>

<% end %>
