<h2>
	<span itemprop="name">Matriculaciones Educación Permanente</span>
  <meta itemprop="description" content="Se refiere a la cantidad de matriculados en las diferentes modalidades de educación permanente con sus correspondientes códigos identificatorios."/>
  <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
  <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://www.mec.gov.py/">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
    <meta itemprop="name" content="Juan Barrios">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
  <meta itemprop="keywords" style="display: none;" content="educación,matriculaciones,educación permanente"/>
  <meta itemprop="version" style="display: none;" content="1.0"/>
  <span style="float:right;">
    <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_educacion_permanente_url), :title => "Ir al diccionario", :style => "font-size:12px;" %>
    <%= link_to image_tag("def_icon.png", :style => "width:24px;" ), mec_custom_url(def_matriculaciones_educacion_permanente_url), :title => "Ir al diccionario" %>
    <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
  </span>

</h2>

<div class="table-outter">

  <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0px; width: 00px; max-width: none;">

  <tr>

    <%= form_tag mec_custom_url(data_matriculaciones_educacion_permanente_lista_url(nil)), :remote => true, :id => "form-buscar-matriculaciones-educacion-permanente" do  %>

      <th style="width:7%;" class="text-min celda-derecha">
        <%= label_tag "Periodo" %><br />
        <%= select :form_buscar_matriculaciones_educacion_permanente, :anio, [2012], {:class => 'text-min'} %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_anio').val('2012');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

      <th style="width:7%;" class="text-min">
        <%= label_tag nil, "C&oacute;digo Establecimiento".html_safe%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_codigo_establecimiento, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_codigo_establecimiento').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

      <th style="width:7%;" class="text-min">
        <%= label_tag "Departamento"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_nombre_departamento, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_nombre_departamento').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

      <th style="width:7%;" class="text-min">
        <%= label_tag "Distrito"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_nombre_distrito, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_nombre_distrito').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

      <th style="width:7%;" class="text-min">
        <%= label_tag "Zona"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_nombre_zona, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_nombre_zona').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

      <th style="width:7%;" class="text-min">
        <%= label_tag "Barrio/Localidad"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_nombre_barrio_localidad, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_nombre_barrio_localidad').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Sector o Tipo Gestión"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_sector_o_tipo_gestion, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_sector_o_tipo_gestion').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Nombre Institución"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_nombre_institucion, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_nombre_institucion').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Matricula EBBJA", "Matricula EBBJA" %><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_matricula_ebbja, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_matricula_ebbja').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Matricula FPI", "Matricula FPI" %><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_matricula_fpi, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_matricula_fpi').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Matricula EMAPJA", "Matricula EMAPJA" %><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_matricula_emapja, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_matricula_emapja').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Matricula EMDJA"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_matricula_emdja, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_matricula_emdja').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>
      <th style="width:7%;" class="text-min">
        <%= label_tag "Matricula FP"%><br />
        <%= text_field_tag :form_buscar_matriculaciones_educacion_permanente_matricula_fp, nil, :class => 'text-min' %>
        <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_matriculaciones_educacion_permanente_matricula_fp').val('');$('#form-buscar-matriculaciones-educacion-permanente').submit();" ,:style => "color:#fff;"%>
      </th>

 <% end %>

    </tr>

    <tbody id="lista"></tbody>

  </table>
  </div>

   <table class="table table-striped table-bordered table-hover">
    <tbody id="matriculaciones-educacion-permanente-footer"></tbody>
  </table>

<script type="text/javascript">

  $("#form-buscar-matriculaciones-educacion-permanente").bind("submit", function(){

      $("#lista").html("<%= escape_javascript("<tr><td style='7'><p class='none-result'>#{image_tag('ajax-loader0.gif')}</p>").html_safe %></td></tr>")    
  
  })

  $("#form_buscar_matriculaciones_educacion_permanente_anio").bind('change',function(){
      
    $("#form-buscar-matriculaciones-educacion-permanente").submit();
      
  })

  $(".table-bordered input").bind('change',function(){
      
    $("#form-buscar-matriculaciones-educacion-permanente").submit();
      
  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  function limpiar_form_buscar_matriculaciones_educacion_permanente(){
    
    $("#form_buscar_matriculaciones_educacion_permanente_anio").val("2012");
    $("#form_buscar_matriculaciones_educacion_permanente_codigo_establecimiento").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_departamento").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_distrito").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_zona").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_barrio_localidad").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_institucion").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_sector_o_tipo_gestion").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_nombre_institucion").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_matricula_ebbja").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_matricula_fpi").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_matricula_emapja").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_matricula_emdja").val("");
    $("#form_buscar_matriculaciones_educacion_permanente_matricula_fp").val("");
    $("#form-buscar-matriculaciones-educacion-permanente").submit();

  }  

 limpiar_form_buscar_matriculaciones_educacion_permanente();

</script>

<style>

  .text-min {font-size:9px !important; color: #000; text-align:center !important;}
  #cbue-menu1 {background:#e9e9e9;}
  .text-min input[type="text"], .text-min select {
    border: 1px solid silver;
    padding: 3px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:#000;
  }
  .text-min input[type="text"] { width: 80px;}
  #tablaContenedor{width:100%;}
 
</style>

