
<% if servicios_basicos.present? %>
  
  <% servicios_basicos.each do |i| %>

    <tr>
      <td class="text-min"><%= i.periodo %></td>
      <td class="text-min"><%= i.nombre_departamento %></td>
      <td class="text-min"><%= i.nombre_distrito %></td>
      <td class="text-min" style="font-weight:bold;">
        <%= link_to i.codigo_establecimiento, mec_custom_url(id_establecimientos_path(i.codigo_establecimiento)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %>
      </td>
      <td class="text-min"><%= i.nombre_barrio_localidad %></td>
      <td class="text-min"><%= i.nombre_zona %></td>
      <td class="text-min"><%= i.nombre_asentamiento_colonia %></td>       
      <td class="text-min"><%= i.suministro_energia_electrica %></td>       
      <td class="text-min"><%= i.abastecimiento_agua %></td>       
      <td class="text-min"><%= i.servicio_sanitario_actual %></td>       
      <td class="text-min"><%= i.titulo_de_propiedad %></td>       
      <td class="text-min"><%= i.cuenta_plano %></td>
      <td class="text-min"><%= i.prevencion_incendio %></td>
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="19"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
