<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>
<div>
  <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_servicios_basicos_url), :id => "tab-diccionario", :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
  <h2>
    <span itemprop="name" id="tab-titulo">Servicios Básicos de los Establecimientos según FONACIDE</span>
    <meta itemprop="url" content="http://datos.mec.gov.py/data/servicios_basicos">  
    <meta itemprop="description"
          content="Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación. Se contiene inforamaci&oacute; sobre su estructura actual, abastecimiento de agua, severvicio de sanitario acutal, suministro de energ&iacute;a el&eacute;ctrica, si cuenta con plano, t&iacute;tulo de propiedad y mecanismo de prevenci&oac&oacute;n de incendio."
          />
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
    <span itemprop="catalog" itemscope itemtype="https://schema.org/DataCatalog" style="display: none;">
      <meta itemprop="name" content="Datos Abiertos del Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://datos.mec.gov.py/">
      <meta itemprop="description" content="Datos Abiertos del Ministerio de Educación y Cultura">
    </span>
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,estado,local,servicios,básicos"/>
    <meta itemprop="version" style="display: none;" content="1.0">
  </h2>
</div>

<%= form_tag mec_custom_url(data_servicios_basicos_lista_url(nil)), :remote => true, :id => "form-buscar-servicios-basicos" do  %>
  <div class="table-responsive">
    <table class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>

          <th data-priority="1" id="tab-filtros-lista">
            <span data-titulo="true">Periodo</span>

            <!--<span class="orden">
              <i class="filtro fa fa-sort"></i>
              <i class="descendente fa fa-sort-desc"></i>
              <i class="ascendente fa fa-sort-asc"></i>
            </span>-->

      <div class="input-group input-group-sm">
        <%= select :form_buscar_servicios_basicos, :periodo, [2014], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="1" id="tab-filtros-texto">
        <span data-titulo="true">Departamento</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_nombre_departamento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_nombre_departamento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_nombre_departamento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_departamento, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "nombre_departamento",
            orden: "nombre_departamento", 
            descripcion_total: :nombre_departamento,
            descripcion_elegida: :nombre_departamento)), 
        parametro_id: "form_buscar_servicios_basicos_nombre_departamento", 
        resultado_id: "form_buscar_servicios_basicos_nombre_departamento_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Distrito</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_nombre_distrito, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_nombre_distrito');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_nombre_distrito_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_distrito, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "nombre_distrito",
            orden: "nombre_distrito", 
            descripcion_total: :nombre_distrito,
            descripcion_elegida: :nombre_distrito)), 
        parametro_id: "form_buscar_servicios_basicos_nombre_distrito", 
        resultado_id: "form_buscar_servicios_basicos_nombre_distrito_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">C&oacute;digo Establecimiento</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_codigo_establecimiento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_codigo_establecimiento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_codigo_establecimiento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_establecimiento, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "codigo_establecimiento",
            orden: "codigo_establecimiento", 
            descripcion_total: :codigo_establecimiento,
            descripcion_elegida: :codigo_establecimiento)), 
        parametro_id: "form_buscar_servicios_basicos_codigo_establecimiento", 
        resultado_id: "form_buscar_servicios_basicos_codigo_establecimiento_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Barrio/Localidad</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_nombre_barrio_localidad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_nombre_barrio_localidad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_nombre_barrio_localidad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_barrio_localidad, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "nombre_barrio_localidad",
            orden: "nombre_barrio_localidad", 
            descripcion_total: :nombre_barrio_localidad,
            descripcion_elegida: :nombre_barrio_localidad)), 
        parametro_id: "form_buscar_servicios_basicos_nombre_barrio_localidad", 
        resultado_id: "form_buscar_servicios_basicos_nombre_barrio_localidad_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Zona</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= select :form_buscar_servicios_basicos, :nombre_zona, ['','RURAL', 'URBANA'], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="1">
        <span data-titulo="true">Nombre de Asentamiento o Colonia</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_nombre_asentamiento_colonia, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_nombre_asentamiento_colonia');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_nombre_asentamiento_colonia_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_asentamiento_colonia, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "nombre_asentamiento_colonia",
            orden: "nombre_asentamiento_colonia", 
            descripcion_total: :nombre_asentamiento_colonia,
            descripcion_elegida: :nombre_asentamiento_colonia)), 
        parametro_id: "form_buscar_servicios_basicos_nombre_asentamiento_colonia", 
        resultado_id: "form_buscar_servicios_basicos_nombre_asentamiento_colonia_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Suministro Energ&iacute;a El&eacute;ctrica</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_suministro_energia_electrica, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_suministro_energia_electrica');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_suministro_energia_electrica_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :suministro_energia_electrica, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "suministro_energia_electrica",
            orden: "suministro_energia_electrica", 
            descripcion_total: :suministro_energia_electrica,
            descripcion_elegida: :suministro_energia_electrica)), 
        parametro_id: "form_buscar_servicios_basicos_suministro_energia_electrica", 
        resultado_id: "form_buscar_servicios_basicos_suministro_energia_electrica_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Abastecimiento de Agua</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_abastecimiento_agua, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_abastecimiento_agua');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_abastecimiento_agua_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :abastecimiento_agua, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "abastecimiento_agua",
            orden: "abastecimiento_agua", 
            descripcion_total: :abastecimiento_agua,
            descripcion_elegida: :abastecimiento_agua)), 
        parametro_id: "form_buscar_servicios_basicos_abastecimiento_agua", 
        resultado_id: "form_buscar_servicios_basicos_abastecimiento_agua_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Servicio Sanitario Actual</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_servicio_sanitario_actual, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_servicio_sanitario_actual');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_servicio_sanitario_actual_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :servicio_sanitario_actual, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "servicio_sanitario_actual",
            orden: "servicio_sanitario_actual", 
            descripcion_total: :servicio_sanitario_actual,
            descripcion_elegida: :servicio_sanitario_actual)), 
        parametro_id: "form_buscar_servicios_basicos_servicio_sanitario_actual", 
        resultado_id: "form_buscar_servicios_basicos_servicio_sanitario_actual_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">T&iacute;tulo de Propiedad</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_titulo_de_propiedad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_titulo_de_propiedad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_titulo_de_propiedad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :titulo_de_propiedad, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "titulo_de_propiedad",
            orden: "titulo_de_propiedad", 
            descripcion_total: :titulo_de_propiedad,
            descripcion_elegida: :titulo_de_propiedad)), 
        parametro_id: "form_buscar_servicios_basicos_titulo_de_propiedad", 
        resultado_id: "form_buscar_servicios_basicos_titulo_de_propiedad_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Cuenta con Plano</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_cuenta_plano, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_cuenta_plano');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_cuenta_plano_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :cuenta_plano, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "cuenta_plano",
            orden: "cuenta_plano", 
            descripcion_total: :cuenta_plano,
            descripcion_elegida: :cuenta_plano)), 
        parametro_id: "form_buscar_servicios_basicos_cuenta_plano", 
        resultado_id: "form_buscar_servicios_basicos_cuenta_plano_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Cuenta con Prevenci&oacute;n de Incendio</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_servicios_basicos_prevencion_incendio, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-servicios-basicos', '#form_buscar_servicios_basicos_prevencion_incendio');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_servicios_basicos_prevencion_incendio_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :prevencion_incendio, 
            atributo_tipo: :text, 
            model: :VServicioBasico, 
            limit: 10,
            cadena_consulta: "prevencion_incendio",
            orden: "prevencion_incendio", 
            descripcion_total: :prevencion_incendio,
            descripcion_elegida: :prevencion_incendio)), 
        parametro_id: "form_buscar_servicios_basicos_prevencion_incendio", 
        resultado_id: "form_buscar_servicios_basicos_prevencion_incendio_id",
        min_length: 2
        ) %>

      </th>

      </tr>
      </thead>

      <tbody id="servicios-basicos-lista"></tbody>

    </table>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tbody id="servicios-basicos-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-servicios-basicos").bind("submit", function() {

    $("#servicios-basicos-lista").html("<%= escape_javascript("<tr><td colspan='19' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_servicios_basicos_periodo").bind('change', function() {

    $.ajaxQ.abortAll();
    $("#form-buscar-servicios-basicos").submit();

  })
  
  $("#form_buscar_servicios_basicos_nombre_zona").bind('change', function() {

    $.ajaxQ.abortAll();
    $("#form-buscar-servicios-basicos").submit();

  })

  $(".table-bordered input").bind('change', function() {

    $.ajaxQ.abortAll();
    $("#form-buscar-servicios-basicos").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  valor_defecto = [{
      id: '#form_buscar_servicios_basicos_periodo',
      valor: 2014
    }];
  resetForm("#form-buscar-servicios-basicos", valor_defecto);

</script>

<script>
  var stepsListado = [
    {
      intro: "Esta ayuda te mostrar&aacute; los elementos del Conjunto de Datos:\
          </br><b>Servicios B&aacute;sicos de los Establecimientos seg&uacute;n FONACIDE</b>.\
          </br></br>Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          </br></br>Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/right.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> IZQ</li>\
            <li><%= image_tag('intro_images/left.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> DER</li>\
            <li><%= image_tag('intro_images/enter.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/esc.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          </br>Y, ¡COMENCEMOS!"
    },
    {
      element: "#tab-titulo",
      intro: "En esta sección, puedes ver el Nombre del Conjunto de Datos.",
      position: "right"
    },
    {
      element: "#tab-diccionario",
      intro: "Si tienes dudas acerca del significado de alg&uacute;n atributo del Conjunto de Datos, puedes ir al Diccionario siguiendo este enlace.\
          </br></br>El Diccionario de Datos describe los atributos que contiene un Conjunto de Datos, incluyendo el tipo de dato y las restricciones que se apliquen a cada uno.",
      position: "left"
    },
    {
      element: '#tab-filtros-lista',
      intro: "Echemos un vistazo a los filtros. ¿Alguna vez los has utilizado?</br> ¡Son muy &uacute;tiles \
          cuando buscas informaci&oacute;n espec&iacute;fica! \
          </br></br>Este filtro utiliza una lista desplegable. Permite realizar las b&uacute;squedas de acuerdo al item que selecciones.\
          </br>¡Intentalo!",
      position: "right"
    },
    {
      element: '#tab-filtros-texto',
      intro: "Este filtro permite realizar las b&uacute;squedas de acuerdo al texto que escribas en su secci&oacute;n.\
          </br>¡Tienes que Probarlo!",
      position: "right"
    },
    {
      element: "#tab-establecimiento",
      intro: "Si te interesan los datos de un Establecimiento, haciendo click sobre este enlace podr&iacute;as obtener\
          informaci&oacute;n espec&iacute;fica del mismo.\
          </br><%= image_tag('intro_images/resumen_establecimiento.png', style: 'width:220px;height:220px').to_s.gsub("\"", "'").html_safe %>\
          </br></br>Por ejemplo: Datos del Establecimiento, Instituciones del Establecimiento y la Ubicaci&oacute;n Geogr&aacute;fica.",
      position: "bottom-left-aligned"
    },
    {
      element: '#tab-cantidad-registros',
      intro: "A modo de informaci&oacute;n, aquí puedes ver un resumen de los resultados de tu búsqueda dentro del Conjunto de Datos.",
      position: "top"
    },
    {
      element: '#tab-paginacion',
      intro: "Cuando la lista de resultados es muy extensa, solo se muestran 15 registros. El resto se encuentra en las dem&aacute;s p&aacute;ginas de la tabla.\
          </br></br>¡Desplázate entre las páginas para acceder a todos los resultados de tu b&uacute;squeda!",
      position: "top"
    },
    {
      element: '#tab-descargas-filtradas',
      intro: "Seg&uacute;n tu b&uacute;squeda, descarga los resultados en formato XLS, CSV o JSON.\
          </br></br>El formato <b>XLS</b>, se abre normalmente con Microsoft Excel. \
          Es un formato cotidiano que podemos encontrar, \
          aunque no resulta ser del todo ventajoso, ya que se trata de un formato propietario.\
          </br></br>El formato <b>CSV</b>, es un tipo de documento de texto plano, en el cual los datos son tabulados en columnas separadas por comas (o punto y coma) y filas separadas por saltos de l&iacute;nea.\
          Puede ser exportada a una hoja de c&aacute;lculo Excel. As&iacute; tambi&eacute;n, provee agilidad para realizar importaciones y exportaciones sobre Bases de Datos.\
          </br></br>El formato <b>JSON</b>, es un formato de archivo muy fácil de leer por cualquier lenguaje de programación.\
          Esta simplicidad facilita su procesamiento para las computadoras en comparación a otros formatos.",
      position: "top"
    },
    {
      element: '#tab-descargas-total',
      intro: "Si necesitas todos los datos, puedes descargarlos haciendo click sobre el formato que te sea de mayor utilidad.\
          </br></br>Ten en cuenta nuestras recomendaciones del punto anterior.\
          </br></br>Los formatos que tienes disponibles son: XLS, CSV y JSON",
      position: "top"
    },
    {
      element: '#tab-microdata',
      intro: "Por &uacute;ltimo, ¿Has escuchado sobre los Microdatos en HTML? \
          </br></br>Para obtener m&aacute;s informaci&oacuten sobre ellos, puedes hacer click sobre este icono. \
          </br></br>Esta especificaci&oacute;n define el mecanismo de Microdatos HTML, el cual facilita el procesamiento autom&aacute;tico de los Documentos HTML.",
      position: "top"
    }
  ];

  $('#start-tour').click(function() {

    introJs().setOptions({
      doneLabel: 'Salir',
      nextLabel: 'Siguiente &rarr;',
      prevLabel: '&larr; Anterior',
      skipLabel: 'Salir',
      steps: stepsListado
    }).start();

  });
</script>
<style>
  .introjs-helperNumberLayer{
    width: 23px;
    height: 23px;
    padding: 0px;
  }
  #start-tour{
    cursor: pointer;
  }
</style>