<%= javascript_include_tag "/assets/views/datos_ver_view.js?body=1" %>
<div>
  <%= link_to ('<i class="icon-py-manual"></i> Ver diccionario').html_safe, mec_custom_url(def_requerimientos_aulas_url), :id => "tab-diccionario", :class => "pull-right btn-lg hidden-xs", :title => "Ir al diccionario" %>
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
  <h2>
    <span itemprop="name" id="tab-titulo">Establecimientos Escolares Priorizados Elegibles - FONACIDE: AULAS</span>
    <meta itemprop="url" content="http://datos.mec.gov.py/data/requerimientos_aulas">  
    <meta itemprop="description"
          content="Contiene datos de los requerimientos de aulas con que se cuentan en las distintas Intstituciones Educativas. Los requerimientos son priorizados por distrito, de modo a saber el grado de necesidad con que se los solicita."
          />
    <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
    <span itemprop="catalog" itemscope itemtype="https://schema.org/DataCatalog" style="display: none;">
      <meta itemprop="name" content="Datos Abiertos del Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://datos.mec.gov.py/">
      <meta itemprop="description" content="Datos Abiertos del Ministerio de Educación y Cultura">
    </span>
    <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
      <meta itemprop="name" content="Ministerio de Educación y Cultura">
      <meta itemprop="url" content="http://www.mec.gov.py/">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
      <meta itemprop="name" content="Juan Barrios">
      <meta itemprop="email" content="datosabiertos@mec.gov.py">
    </span>
    <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
    <meta itemprop="keywords" style="display: none;" content="educación,instituciones,requerimientos,aulas"/>
    <meta itemprop="version" style="display: none;" content="1.0">
    </span>
  </h2>
  <span style="font-size: 12px;font-weight: bold;color:silver;" id="tab-leyenda">
    <i>
      La informaci&oacute;n presentada en la p&aacute;gina puede presentar diferencias con las planillas remitidas, esto es debido a que los datos de las planillas se encuentran en proceso de validaci&oacute;n de c&oacute;digos.
      Si desea acceder a las planillas remitidas, las mismas est&aacute;n <a href="http://datos.mec.gov.py/data/establecimientos_escolares_priorizados_elegibles_fonacide" target="_blank">disponibles en formato EXCEL en el Catalogo de datos.</a>
    </i>
  </span>
</div>

<%= form_tag mec_custom_url(data_requerimientos_aulas_lista_url(nil)), :remote => true, :id => "form-buscar-requerimientos-aulas" do  %>
  <div class="table-responsive">
    <table class="table table-small-font table-bordered table-striped">
      <thead>
        <tr>

          <th data-priority="1" id="tab-filtros-lista">
            <span data-titulo="true">Periodo</span>

            <!--<span class="orden">
              <i class="filtro fa fa-sort"></i>
              <i class="descendente fa fa-sort-desc"></i>
              <i class="ascendente fa fa-sort-asc"></i>
            </span>-->

      <div class="input-group-sm">
        <%= select :form_buscar_requerimientos_aulas, :periodo, [2015], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>

      <th data-priority="1" id="tab-filtros-texto">
        <span data-titulo="true">Departamento</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_nombre_departamento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_nombre_departamento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_nombre_departamento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_departamento, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "nombre_departamento",
            orden: "nombre_departamento")), 
        parametro_id: "form_buscar_requerimientos_aulas_nombre_departamento", 
        resultado_id: "form_buscar_requerimientos_aulas_nombre_departamento_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Distrito</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_nombre_distrito, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_nombre_distrito');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_nombre_distrito_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_distrito, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "nombre_distrito",
            orden: "nombre_distrito")), 
        parametro_id: "form_buscar_requerimientos_aulas_nombre_distrito", 
        resultado_id: "form_buscar_requerimientos_aulas_nombre_distrito_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">N&uacute;mero</br>Prioridad</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_numero_prioridad, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_numero_prioridad');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_numero_prioridad_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :numero_prioridad, 
            atributo_tipo: :int, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "numero_prioridad",
            orden: "numero_prioridad")), 
        parametro_id: "form_buscar_requerimientos_aulas_numero_prioridad", 
        resultado_id: "form_buscar_requerimientos_aulas_numero_prioridad_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">C&oacute;digo Establecimiento</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_codigo_establecimiento, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_codigo_establecimiento');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_codigo_establecimiento_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_establecimiento, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "codigo_establecimiento",
            orden: "codigo_establecimiento")), 
        parametro_id: "form_buscar_requerimientos_aulas_codigo_establecimiento", 
        resultado_id: "form_buscar_requerimientos_aulas_codigo_establecimiento_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">C&oacute;digo Instituci&oacute;n</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_codigo_institucion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_codigo_institucion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_codigo_institucion_id %>
      <%= autocomplete_help(  ruta: mec_custom_url( autocompletar_path(atributo_id: :codigo_institucion, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "codigo_institucion",
            orden: "codigo_institucion")), 
        parametro_id: "form_buscar_requerimientos_aulas_codigo_institucion", 
        resultado_id: "form_buscar_requerimientos_aulas_codigo_institucion_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Instituci&oacute;n</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_nombre_institucion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_nombre_institucion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_nombre_institucion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nombre_institucion, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "nombre_institucion",
            orden: "nombre_institucion")), 
        parametro_id: "form_buscar_requerimientos_aulas_nombre_institucion", 
        resultado_id: "form_buscar_requerimientos_aulas_nombre_institucion_id",
        min_length: 2
        ) %>

      </th>
      
        <th data-priority="1">
          <span data-titulo="true">Zona</span>
  
          <!--<span class="orden">
            <i class="filtro fa fa-sort"></i>
            <i class="descendente fa fa-sort-desc"></i>
            <i class="ascendente fa fa-sort-asc"></i>
          </span>-->
  
        <div class="input-group-sm">
          <%= select :form_buscar_requerimientos_aulas, :nombre_zona, ['','RURAL', 'URBANA'], {}, {:class => 'form-control input-sm'} %>
        </div>
      </th>

      <th data-priority="1">
        <span data-titulo="true">Nivel</br>Educativo Beneficiado</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_nivel_educativo_beneficiado, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_nivel_educativo_beneficiado');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_nivel_educativo_beneficiado_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :nivel_educativo_beneficiado, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "nivel_educativo_beneficiado",
            orden: "nivel_educativo_beneficiado")), 
        parametro_id: "form_buscar_requerimientos_aulas_nivel_educativo_beneficiado", 
        resultado_id: "form_buscar_requerimientos_aulas_nivel_educativo_beneficiado_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Cuenta con</br>Espacio de Construcci&oacute;n</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_cuenta_espacio_para_construccion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_cuenta_espacio_para_construccion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_cuenta_espacio_para_construccion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :cuenta_espacio_para_construccion, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "cuenta_espacio_para_construccion",
            orden: "cuenta_espacio_para_construccion")), 
        parametro_id: "form_buscar_requerimientos_aulas_cuenta_espacio_para_construccion", 
        resultado_id: "form_buscar_requerimientos_aulas_cuenta_espacio_para_construccion_id",
        min_length: 2
        ) %>

      </th>

      <th data-priority="1">
        <span data-titulo="true">Tipo de</br>Requerimiento de Insfraestrutura</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group-sm">
        <%= select :form_buscar_requerimientos_aulas, :tipo_requerimiento_infraestructura, ['','NUEVO','REPARACION','ADECUACION'], {}, {:class => 'form-control input-sm'} %>
      </div>
      </th>
      
      <th style="width:5%;" class="number-header">
        <span data-titulo="true">Cantidad Requerida</span>
        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

        <%= select_tag(:form_buscar_requerimientos_aulas_cantidad_requerida_operador, options_for_select(['>', '<', '=']), :class => 'form-control')%>
      <div class="input-group input-group-sm number-input-group">
        <%= number_field_tag :form_buscar_requerimientos_aulas_cantidad_requerida, nil, :class => 'form-control' %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_cantidad_requerida');"><i class="fa fa-times"></i></span>
      </div>
      </th>
      
      <th style="width:5%;" class="number-header">
        <span data-titulo="true">N&uacute;mero de Beneficiados</span>
        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

        <%= select_tag(:form_buscar_requerimientos_aulas_numero_beneficiados_operador, options_for_select(['>', '<', '=']), :class => 'form-control')%>
      <div class="input-group input-group-sm number-input-group">
        <%= number_field_tag :form_buscar_requerimientos_aulas_numero_beneficiados, nil, :class => 'form-control' %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_numero_beneficiados');"><i class="fa fa-times"></i></span>
      </div>
      </th>

      <th data-priority="1">
        <span data-titulo="true">Justificaci&oacute;n</span>

        <!--<span class="orden">
          <i class="filtro fa fa-sort"></i>
          <i class="descendente fa fa-sort-desc"></i>
          <i class="ascendente fa fa-sort-asc"></i>
        </span>-->

      <div class="input-group input-group-sm">
        <%= text_field_tag :form_buscar_requerimientos_aulas_justificacion, nil, :class => 'form-control', :placeholder => "" %>
        <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-requerimientos-aulas', '#form_buscar_requerimientos_aulas_justificacion');"><i class="fa fa-times"></i></span>
      </div>

      <%= hidden_field_tag :form_buscar_requerimientos_aulas_justificacion_id %>
      <%= autocomplete_help( ruta: mec_custom_url( autocompletar_path(atributo_id: :justificacion, 
            atributo_tipo: :text, 
            model: :VRequerimientoAula, 
            limit: 10,
            cadena_consulta: "justificacion",
            orden: "justificacion")), 
        parametro_id: "form_buscar_requerimientos_aulas_justificacion", 
        resultado_id: "form_buscar_requerimientos_aulas_justificacion_id",
        min_length: 2
        ) %>

      </th>

      </tr>
      </thead>

      <tbody id="requerimientos-aulas-lista"></tbody>

    </table>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tbody id="requerimientos-aulas-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-requerimientos-aulas").bind("submit", function() {

    $("#requerimientos-aulas-lista").html("<%= escape_javascript("<tr><td colspan='19' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_requerimientos_aulas_periodo").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })
  
  $("#form_buscar_requerimientos_aulas_nombre_zona").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })


  $("#form_buscar_requerimientos_aulas_tipo_requerimiento_infraestructura").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })

  $("#form_buscar_requerimientos_aulas_numero_beneficiados_operador").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })

  $("#form_buscar_requerimientos_aulas_cantidad_requerida_operador").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })


  $(".table-bordered input").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-requerimientos-aulas").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  valor_defecto = [{
      id: '#form_buscar_requerimientos_aulas_periodo',
      valor: 2015
    }];
  resetForm("#form-buscar-requerimientos-aulas", valor_defecto);

</script>

<script>
  var stepsListado = [
    {
      intro: "Esta ayuda te mostrar&aacute; los elementos del Conjunto de Datos:\
          </br><b>Establecimientos Escolares Priorizados Elegibles - FONACIDE: AULAS</b>.\
          </br></br>Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          </br></br>Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/right.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> IZQ</li>\
            <li><%= image_tag('intro_images/left.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> DER</li>\
            <li><%= image_tag('intro_images/enter.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/esc.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          </br>Y, ¡COMENCEMOS!"
    },
    {
      element: "#tab-titulo",
      intro: "En esta sección, puedes ver el Nombre del Conjunto de Datos.",
      position: "right"
    },
    {
      element: "#tab-leyenda",
      intro: "Mientras que aqu&iacute;, puedes ver una pequeña explicaci&oacute;n referente al estado actual en que se encuentra el Conjunto de Datos.",
      position: "bottom"
    },
    {
      element: "#tab-diccionario",
      intro: "Si tienes dudas acerca del significado de alg&uacute;n atributo del Conjunto de Datos, puedes ir al Diccionario siguiendo este enlace.\
          </br></br>El Diccionario de Datos describe los atributos que contiene un Conjunto de Datos, incluyendo el tipo de dato y las restricciones que se apliquen a cada uno.",
      position: "left"
    },
    {
      element: '#tab-filtros-lista',
      intro: "Echemos un vistazo a los filtros. ¿Alguna vez los has utilizado?</br> ¡Son muy &uacute;tiles \
          cuando buscas informaci&oacute;n espec&iacute;fica! \
          </br></br>Este filtro utiliza una lista desplegable. Permite realizar las b&uacute;squedas de acuerdo al item que selecciones.\
          </br>¡Intentalo!",
      position: "right"
    },
    {
      element: '#tab-filtros-texto',
      intro: "Este filtro permite realizar las b&uacute;squedas de acuerdo al texto que escribas en su secci&oacute;n.\
          </br>¡Tienes que Probarlo!",
      position: "right"
    },
    {
      element: "#tab-establecimiento",
      intro: "Si te interesan los datos de un Establecimiento, haciendo click sobre este enlace podr&iacute;as obtener\
          informaci&oacute;n espec&iacute;fica del mismo.\
          </br><%= image_tag('intro_images/resumen_establecimiento.png', style: 'width:220px;height:220px').to_s.gsub("\"", "'").html_safe %>\
          </br></br>Por ejemplo: Datos del Establecimiento, Instituciones del Establecimiento y la Ubicaci&oacute;n Geogr&aacute;fica.",
      position: "bottom-left-aligned"
    },
    {
      element: "#tab-institucion",
      intro: "As&iacute; tambi&eacute;n, si te interesan los datos de una Instituci&oacute;n, haciendo click sobre este enlace podr&iacute;as obtener\
          informaci&oacute;n espec&iacute;fica de la misma.\
          </br><%= image_tag('intro_images/resumen_institucion.png', style: 'width:220px;height:220px').to_s.gsub("\"", "'").html_safe %>\
          </br></br>Por ejemplo: Datos de la Instituci&oacute;n, Matriculaciones en la Instituci&oacute;n y la Ubicaci&oacute;n Geogr&aacute;fica.",
      position: "bottom-left-aligned"
    },
    {
      element: '#tab-cantidad-registros',
      intro: "A modo de informaci&oacute;n, aquí puedes ver un resumen de los resultados de tu búsqueda dentro del Conjunto de Datos.",
      position: "top"
    },
    {
      element: '#tab-paginacion',
      intro: "Cuando la lista de resultados es muy extensa, solo se muestran 15 registros. El resto se encuentra en las dem&aacute;s p&aacute;ginas de la tabla.\
          </br></br>¡Desplázate entre las páginas para acceder a todos los resultados de tu b&uacute;squeda!",
      position: "top"
    },
    {
      element: '#tab-descargas-filtradas',
      intro: "Seg&uacute;n tu b&uacute;squeda, descarga los resultados en formato XLS, CSV o JSON.\
          </br></br>El formato <b>XLS</b>, se abre normalmente con Microsoft Excel. \
          Es un formato cotidiano que podemos encontrar, \
          aunque no resulta ser del todo ventajoso, ya que se trata de un formato propietario.\
          </br></br>El formato <b>CSV</b>, es un tipo de documento de texto plano, en el cual los datos son tabulados en columnas separadas por comas (o punto y coma) y filas separadas por saltos de l&iacute;nea.\
          Puede ser exportada a una hoja de c&aacute;lculo Excel. As&iacute; tambi&eacute;n, provee agilidad para realizar importaciones y exportaciones sobre Bases de Datos.\
          </br></br>El formato <b>JSON</b>, es un formato de archivo muy fácil de leer por cualquier lenguaje de programación.\
          Esta simplicidad facilita su procesamiento para las computadoras en comparación a otros formatos.",
      position: "top"
    },
    {
      element: '#tab-descargas-total',
      intro: "Si necesitas todos los datos, puedes descargarlos haciendo click sobre el formato que te sea de mayor utilidad.\
          </br></br>Ten en cuenta nuestras recomendaciones del punto anterior.\
          </br></br>Los formatos que tienes disponibles son: XLS, CSV y JSON",
      position: "top"
    },
    {
      element: '#tab-descargas-planillas',
      intro: "¿Encontraste toda la informaci&oacute;n que necesitabas? \
          </br></br>Si no la encontraste, aqu&iacute; puedes descargar las planillas de Establecimientos Escolares Priorizadas Elegibles seg&uacute;n FONACIDE",
      position: "top"
    },
    {
      element: '#tab-microdata',
      intro: "Por &uacute;ltimo, ¿Has escuchado sobre los Microdatos en HTML? \
          </br></br>Para obtener m&aacute;s informaci&oacuten sobre ellos, puedes hacer click sobre este icono. \
          </br></br>Esta especificaci&oacute;n define el mecanismo de Microdatos HTML, el cual facilita el procesamiento autom&aacute;tico de los Documentos HTML.",
      position: "top"
    }
  ];

  $('#start-tour').click(function() {

    introJs().setOptions({
      doneLabel: 'Salir',
      nextLabel: 'Siguiente &rarr;',
      prevLabel: '&larr; Anterior',
      skipLabel: 'Salir',
      steps: stepsListado
    }).start();

  });

</script>
<style>
  .introjs-helperNumberLayer{
    width: 23px;
    height: 23px;
    padding: 0px;
  }
  #start-tour{
    cursor: pointer;
  }
</style>