<div class="col-md-6">
  <%= form_for Contacto.new, url: mec_custom_url(contactos_guardar_url), remote: true, html: { id: "form-guardar-contacto", class: "form-horizontal"} do |f|  %>  

      <div class="form-group">
        <%= label_tag "nombre", "Nombre<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :nombre, :class => 'form-control', :placeholder => "Nombre" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "apellido", "Apellido<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :apellido, :class => 'form-control', :placeholder => "Apellido" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "email", "Email<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, :class => 'form-control', :placeholder => "Email" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "asunto", "Asunto<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :asunto, :class => 'form-control', :placeholder => "Asunto" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "categoria", "Categor&iacute;a<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.select :categoria_contacto_id, categorias_contactos, {}, :id => 'categoria', :class => 'form-control', :placeholder => "Categoría" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "mensaje", "Mensaje<span class=\"required\">(*)</span>".html_safe, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :mensaje, :class => 'form-control', :placeholder => "Mensaje", :rows => '3' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag "Enviar", :id => 'link-to-guardar-contacto', :class => 'btn btn-primary', :title => 'Enviar Mensaje.' %>
          <%= button_tag "Cancelar", :id => 'link-to-limpiar-contacto', :class => 'btn btn-default', :title => 'Cancelar Mensaje.' %>
        </div>
      </div>

    <% end %>
  </div>

  <style>
    .required { color: red;}
  </style>

  <script type="text/javascript">

    $("#link-to-guardar-contacto").bind("click", function() {

      var x = confirm("Confirma los datos a enviar ?");

      if (x) {
        $("#form-guardar-contacto").submit();
      }

      return false;

    });

    $("#link-to-limpiar-contacto").bind("click", function() {
      limpiar_form_contacto();
      return false;

    });

    function limpiar_form_contacto() {

      $("#contacto_email").val('');
      resetForm("#form-guardar-contacto", "CONTACTOS");

    }

  </script>
