<div id="tab-titulo"><center><h1>Datos Abiertos del Ministerio de Educación y Cultura</h1><%= image_tag "datos-abiertos-nuevo.png", :style => "width:320px;" %></center></div>
<div class="container">
    <div class="row">

        <div class="menu-tab">
            <div style="background:silver;" id="tab-datasets"><%= link_to "Datasets", mec_custom_url(index_url) %></div>
            <div id="tab-visualizaciones"><%= link_to "Visualizaciones".html_safe, mec_custom_url(data_visualizaciones_url) %></div>
        </div>
        <div style="clear:both;"></div>

        <div style="display: inline-block" id="tab-contacto">
            <%= link_to "<b>CIUDADANO !!.</b> Qu&eacute; tipo de informaci&oacute;n te gustar&iacute;a ver publicada en <b>datos.mec.gov.py</b> ?".html_safe, mec_custom_url(contactos_url), :title => "Ir al formulario de contactos", :style => "font-size:12px;" %>
            <%= link_to image_tag("ayuda3.png", :style => "width:24px;" ), mec_custom_url(contactos_url), :title => "Ir al formulario de contactos." %>
        </div>
        <div style="float:right;display: inline-block" id="start-tour"><a style="font-size:12px;" title="Ir a la ayuda">Ayuda</a> <a title="Ir a la ayuda"><%= image_tag "ayuda3.png", style: 'width:24px;' %></a></div>
        <br />
        La siguiente tabla presenta la lista de datasets disponibles correspondientes al Ministerio de Educación y Cultura.<br>
        Para cada dataset se presenta un enlace para visitar la página del dataset, un enlace para visualizar el diccionario de datos y una breve descripción de los datos contenidos en el dataset.
        <br /><br /><br />

        <table class="table table-striped table-bordered table-hover">
            <thead>

                <tr id="tab-tabla-datasets-columna">
                    <th title="Field #1">#</th>
                    <th title="Field #2" colspan=2>Nombre del Dataset</th>
                    <th title="Field #3">Descripción del dataset, como será puesto en la página web</th>
                </tr>

            </thead>

            <tbody itemscope itemtype="http://schema.org/DataCatalog">
                <tr itemprop="name" content="Datos Abiertos del Ministerio de Educación y Cultura" style="display: none;"/>
                <tr itemprop="description" content="Datos Abiertos del Ministerio de Educación y Cultura" style="display: none;"/>
                <tr itemprop="url" style="display: none;" content="http://www.mec.gov.py/"/>
                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">  
                    <td style="vertical-align:middle;">1</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <div id="tab-diccionario"><%= link_to "Ver diccionario", mec_custom_url(def_establecimientos_url), :title => "Ir al diccionario" %>
                            <%= link_to image_tag("def_icon.png"), mec_custom_url(def_establecimientos_url) , :title => "Ir al diccionario" %></div>
                        <br />
                        <div id="tab-datos"><%= link_to "Ver datos", mec_custom_url(data_establecimientos_url), :title => "Ir al dataset" %>
                            <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_establecimientos_url), :title => "Ir al dataset", :itemprop => "url"%></div>
                    </td>
                    <td itemprop="description">
                        Contiene información sobre la ubicación geográfica de los establecimientos escolares tales como el departamento, distrito,barrio/localidad donde se encuentran asentados, además de la zona (urbana o rural) a la cual pertenecen, y los datos georreferenciadas como las coordenadas planas (en metros) y geograficas. El Sistema de informacion de Estadística Continua (SIEC) considera “Establecimiento Escolar” a la construcción que existe dentro de un predio (terreno) que se emplea para la enseñanza, donde puede funcionar una o más instituciones educativas con sus respectivos niveles/modalidades de educación.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,establecimientos,escolar,geografico</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">2</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">DIRECTORIO DE INSTITUCIONES
                        </br>
<%#= image_tag("star.png")%>
<%#= image_tag("star.png")%>
<%#= image_tag("star.png")%>	
<%#= image_tag("star.png")%>
                    </td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_directorios_instituciones_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_directorios_instituciones_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_directorios_instituciones_url), :title => "Ir al dataset"%>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_directorios_instituciones_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene datos básicos acerca de las instituciones educativas, como el departamento, distrito y zona a la que pertenecen las mismas.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,directorio,instituciones</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>


                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">3</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">DATOS ESPEC&Iacute;FICOS DE INSTITUCIONES EDUCATIVAS
                        </br>
<%#= image_tag("star.png")%>
<%#= image_tag("star.png")%>
<%#= image_tag("star.png")%>	
<%#= image_tag("star.png")%>
                    </td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_instituciones_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_instituciones_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_instituciones_url), :title => "Ir al dataset"%>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_instituciones_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene datos de los niveles/modalidades de educación ofertados por las instituciones educativas; región administrativa a la que pertenece la institución educativa; tipo de organización, participación comunitaria, dirección del establecimiento escolar, servicio disponible (internet, telefono, correo electronico, etc.). Una institución educativa puede poseer diferentes locales escolares ubicados en un mismo o en diferentes departamentos geográficos. El SIEC considera una misma institución cuando varios niveles o modalidades tienen una organización, gestión y administración única. Por ejemplo: Centro Regional de Educación Gral. Patricio Escobar de Encarnación, Colegio Santa Clara de Asunción.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">4</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION ESCOLAR BASICA - CICLOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_educacion_escolar_basica_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_educacion_escolar_basica_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_educacion_escolar_basica_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_educacion_escolar_basica_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_escolar_basica')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_escolar_basica')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad de alumnos matriculados del 1.º al 9.º grado con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,escolar básica</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">5</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION INCLUSIVA</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario",mec_custom_url(def_matriculaciones_educacion_inclusiva_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_educacion_inclusiva_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_educacion_inclusiva_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_educacion_inclusiva_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_inclusiva')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_inclusiva')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a la cantidad de matriculados por ciclo/niveles/programas especiales de educación inclusiva con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,educación inclusiva</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">6</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION PERMANENTE</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_educacion_permanente_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_educacion_permanente_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_educacion_permanente_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_educacion_permanente_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_permanente')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_permanente')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad de matriculados en las diferentes modalidades de educación permanente con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,educación permanente</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">7</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION SUPERIOR</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_educacion_superior_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_educacion_superior_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_educacion_superior_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_educacion_superior_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_superior')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_educacion_superior')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad de matriculados en las diferentes modalidades de educación superior con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,educación superior</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">8</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION INICIAL</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_inicial_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_inicial_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_inicial_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_inicial_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_inicial')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_inicial')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad de matriculados en las etapas maternal, prejardín, jardín y preescolar con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,educación inicial</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">9</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA EDUCACION MEDIA</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_educacion_media_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_educacion_media_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_educacion_media_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_educacion_media_url), :title => "Ir al dataset", :itemprop => "url" %><br /><br />
                        <%= link_to "Ver mapa".html_safe, mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_media')), :title => "Ir al dataset" %>
                        <%= link_to image_tag("mapa_sitio.png"), mec_custom_url(app_mapa_matriculaciones_url(nivel: 'matriculaciones_media')), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad de matriculados del 1.º al 3er. curso en las diferentes modalidades de educación media con sus correspondientes códigos identificatorios.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,educación media</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">10</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">MATRICULA POR DEPARTAMENTO Y DISTRITO</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_matriculaciones_departamentos_distritos_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_matriculaciones_departamentos_distritos_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_matriculaciones_departamentos_distritos_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_matriculaciones_departamentos_distritos_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a la cantidad total de matriculados por departamento/distrito según sector y zona.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,departamentos, distritos</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">11</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">NOMINA DE FUNCIONARIOS DOCENTES</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_nomina_docentes_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_nomina_docentes_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_nomina_docentes_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_nomina_docentes_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene todos los datos de la nómina de funcionarios docentes, conforme a lo establecido en la ley 5189/14. El formato de los datos sigue la <%= link_to "recomendaci&oacute;n propuesta por la Secretar&iacute;a de la Funci&oacute;n P&uacute;blica".html_safe, "http://www.sfp.gov.py/sfp/?node=page%2C4730%2Cu660&p_node=page%2C196", :target => "_blank" %>
                    </td>
                    <td itemprop="temporal" style="display: none;"></td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;"></td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">12</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">NOMINA DE FUNCIONARIOS ADMINISTRATIVOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_nomina_administrativos_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_nomina_administrativos_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_nomina_administrativos_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_nomina_administrativos_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene todos los datos de la nómina de funcionarios administrativos, conforme a lo establecido en la ley 5189/14. El formato de los datos sigue la <%= link_to "recomendaci&oacute;n propuesta por la Secretar&iacute;a de la Funci&oacute;n P&uacute;blica".html_safe, "http://www.sfp.gov.py/sfp/?node=page%2C4730%2Cu660&p_node=page%2C196", :target => "_blank" %>
                    </td>
                    <td itemprop="temporal" style="display: none;"></td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;"></td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">13</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">NOMINA DE FUNCIONARIOS COMISIONADOS DEL MEC A OTROS ORGANISMOS DEL ESTADO</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "N&oacute;mina".html_safe, "/data/comisionados_aa_oee_2014.xls" , :target => "_target"%>
                        <%= link_to image_tag("page_excel.png"), "/data/comisionados_aa_oee_2014.xls" , :target => "_target" %>
                        <br />
                        <span style="color:silver;">(157KB)</span>
                    </td>
                    <td itemprop="description">
                        Contiene todos los datos de la nómina de los funcionarios que fueron comisionados del MEC a otros organismos del Estado.
                    </td>
                    <td itemprop="temporal" style="display: none;"></td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;"></td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">14</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">NOMINA DE FUNCIONARIOS COMISIONADOS AL MEC DESDE OTROS ORGANISMOS DEL ESTADO</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">

                        <%= link_to "N&oacute;mina".html_safe, "/data/comisionados_de_oee_2014.xls" , :target => "_target"%>
                        <%= link_to image_tag("page_excel.png"), "/data/comisionados_de_oee_2014.xls" , :target => "_target" %>
                        <br />
                        <span style="color:silver;">(137KB)</span>

                    </td>
                    <td itemprop="description">
                        Contiene todos los datos de la nómina de los funcionarios que fueron comisionados desde otros organismos del Estado al MEC.
                    </td>
                    <td itemprop="temporal" style="display: none;"></td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;"></td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">15</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">INVENTARIO DE BIENES</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">

                        <%= link_to "Rodados e Inmuebles", "https://mega.co.nz/#!84IkjQTD!4FGj6gaMVE1tQL5h348uY1D3lRb_8xOnXB_KK9gNqWw", :title => "Descargar datos de rodados e inmuebles.", :target => "_blank" %>
                        <%= link_to image_tag('compress.png'), "https://mega.co.nz/#!84IkjQTD!4FGj6gaMVE1tQL5h348uY1D3lRb_8xOnXB_KK9gNqWw", :title => "Descargar datos de rodados e inmuebles.", :target => "_blank" %><br />
                        <span style="color:silver;">(4,4MB)</span>
                        <br /><br />
                        <%= link_to "Muebles", "https://mega.co.nz/#!10Y3BDgC!3IQr8etnRNkG02ReZ-OFjV6vXcQu-65KKj5_Rl--d8k", :title => "Descargar datos de muebles.", :target => "_blank" %>
                        <%= link_to image_tag('compress.png'), "https://mega.co.nz/#!10Y3BDgC!3IQr8etnRNkG02ReZ-OFjV6vXcQu-65KKj5_Rl--d8k", :title => "Descargar datos de muebles.", :target => "_blank" %><br />
                        <span style="color:silver;">(64,9MB)</span>

                    </td>
                    <td itemprop="description">
                        Contiene todos los datos del inventario de bienes, muebles, inmuebles y vehículos con que cuenta el MEC.
                    </td>
                    <td itemprop="temporal" style="display: none;"></td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;"></td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">16</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">CONTRATACIONES</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_contrataciones_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_contrataciones_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_contrataciones_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_contrataciones_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Se refiere a los llamados para contrataciones de bienes y/o servicios del Ministerio de Educaci&oacute;n y Cultura.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-01-01/2012-12-31</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,matriculaciones,departamentos, distritos,contrataciones</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">17</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">REGISTRO DE TITULOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_registros_titulos_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_registros_titulos_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_registros_titulos_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_registros_titulos_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene datos de la nómina de personas cuyos títulos de grado y postgrado fueron registrados en el Ministerio de Educación y Cultura.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,títulos</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">18</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">PLANILLAS DE ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver Cat&aacute;logo".html_safe, mec_custom_url(data_requerimientos_infraestructuras_catalogo_url), :title => "Ir al Catálogo" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_infraestructuras_catalogo_url), :title => "Ir al Catálogo ", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene información sobre establecimientos escolares priorizados y elegibles para la inversión de  proyectos de infraestructura en educación a ser financiados con recursos provenientes del Fondo Nacional de Inversión Pública y Desarrollo (FONACIDE) transferidos a las Gobernaciones y Municipalidades, que han reportado sus requerimientos a través de la metodología de Microplanificación de la oferta educativa.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,títulos</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">19</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE: AULAS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_requerimientos_aulas_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_requerimientos_aulas_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_requerimientos_aulas_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_aulas_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a los requerimientos de contrucción, reparación o adecuación de aulas correspondientes a las instituciones educativas del país priorizadas por distrito y por período.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones,requerimientos,aulas</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">20</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE: SANITARIOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_requerimientos_sanitarios_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_requerimientos_sanitarios_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_requerimientos_sanitarios_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_sanitarios_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a los requerimientos de construcción, reparación y/o adecuación de sanitarios correspondientes a las instituciones educativas del país priorizadas por distrito y por período.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones,requerimientos,sanitarios</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>


                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">21</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE: OTROS ESPACIOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_requerimientos_otros_espacios_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_requerimientos_otros_espacios_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_requerimientos_otros_espacios_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_otros_espacios_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a los requerimientos de construcción, reparación y/o adecuación de otros espacios (distintos a aulas y sanitarios) correspondientes a las instituciones educativas del país priorizadas por distrito y por periodo.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones,requerimientos,otros espacios,laboratorio,taller,direccion,uso multiple</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">22</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE: MOBILIARIOS</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_requerimientos_mobiliarios_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_requerimientos_mobiliarios_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_requerimientos_mobiliarios_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_mobiliarios_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a los requerimientos de mobiliarios, muebles o equipamientos de aulas correspondientes a las instituciones educativas del país priorizadas por distrito y por período.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones,requerimientos,mobiliarios</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>

                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">23</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE: ALIMENTACI&Oacute;N</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_requerimientos_alimentacion_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_requerimientos_alimentacion_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_requerimientos_alimentacion_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_requerimientos_alimentacion_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Corresponde a los requerimientos de merienda y almuerzo escolares correspondientes a las instituciones educativas del país priorizadas por distrito y por periodo.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,instituciones,requerimientos,alimentación</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>


                <tr itemprop="dataset" itemscope itemtype="http://schema.org/Dataset">
                    <td style="vertical-align:middle;">24</td>
                    <td style="width:20%;vertical-align:middle;border-right:0px;" itemprop="name">Servicios B&aacute;sicos de los Establecimientos seg&uacute;n FONACIDE</td>
                    <td style="width:20%;vertical-align:middle;border-left:0px;text-align:right;">
                        <%= link_to "Ver diccionario", mec_custom_url(def_servicios_basicos_url), :title => "Ir al diccionario" %>
                        <%= link_to image_tag("def_icon.png"), mec_custom_url(def_servicios_basicos_url), :title => "Ir al diccionario" %><br /><br />
                        <%= link_to "Ver datos", mec_custom_url(data_servicios_basicos_url), :title => "Ir al dataset" %>
                        <%= link_to image_tag("datos_ico.jpg"), mec_custom_url(data_servicios_basicos_url), :title => "Ir al dataset", :itemprop => "url" %>
                    </td>
                    <td itemprop="description">
                        Contiene datos generales de los establecimientos escolares, relacionados a la ubicación geográfica, servicios básicos e infraestructura.
                    </td>
                    <td itemprop="temporal" style="display: none;">2012-12-01/2014-09-30</td>
                    <td itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
                        <meta itemprop="name" content="Ministerio de Educación y Cultura">
                        <meta itemprop="url" content="http://www.mec.gov.py/">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
                        <meta itemprop="name" content="Juan Barrios">
                        <meta itemprop="email" content="datosabiertos@mec.gov.py">
                    </td>
                    <td itemprop="license" style="display: none;">https://creativecommons.org/licenses/by/4.0/legalcode</td>
                    <td itemprop="keywords" style="display: none;">educación,establecimientos,escolar,estado,local</td>
                    <td itemprop="version" style="display: none;">1.0</td>
                </tr>
            </tbody>

        </table>

    </div>
    <div class="row">
        <div id="tab-referencias">
        <h2>
            Referencia
        </h2>La siguiente tabla presenta una breve descripción de los atributos incluídos en el diccionario de datos de cada dataset.<br>
        Básicamente, un diccionario de datos describe los atributos que contiene un dataset, incluyendo el tipo de dato y las restricciones se apliquen a cada uno.<br>
        </div>
        <br>
        <br>
        <table class="table table-striped table-bordered table-hover" id="tab-referencias-tabla">
            <thead>
                <tr>
                    <th title="Field #1">
                        Nombre de la columna
                    </th>
                    <th title="Field #2">
                        Descripción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Nombre del Atributo
                    </td>
                    <td>
                        Esteblace el nombre del atributo exactamente como se encuentra definido en el archivo de datos a ser publicado
                    </td>
                </tr>
                <tr>
                    <td>
                        Descripción
                    </td>
                    <td>
                        Describe con más detalles los datos que se encuentran en el atributo
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de datos
                    </td>
                    <td>
                        El tipo de dato esperado de los valores del attributo. Por ejemplo: String, Integer, Float, …. Idealmente se deben utilizar los tipos de datos definidos en el Estándar XML Schema Datatypes de la W3C. <a href="http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes">http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes</a>, por ejemplo: xsd:string, xsd:boolean, xsd:dateTime
                    </td>
                </tr>
                <tr>
                    <td>
                        Restricciones
                    </td>
                    <td>
                        En caso que existan, se especifican las restricciones de los datos
                    </td>
                </tr>
                <tr>
                    <td>
                        Referencia
                    </td>
                    <td>
                        En caso que exista, se agrega un link a un documento de referencia para los datos. Por ejemplo, si los datos están definidos utilizando un estándar o formato diferente a XSD, se lo referencia, como ser la Latitud y Longitud en formato de Google maps
                    </td>
                </tr>
                <tr>
                    <td>
                        Ejemplo
                    </td>
                    <td>
                        Los valores de ejemplo
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<style type="text/css">

    .menu-tab { 
        width:100%;
        margin-top:10px;
        margin-bottom:10px;
    }

    .menu-tab div {
        width:50%;
        float:left;
        font-size:25px;
        text-align:center;
        border:1px solid silver;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright:5px;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
    }

</style>
<script>
  var stepsListado = [
      {
          intro: "Bienvenido al Portal de Datos Abiertos del Ministerio de Educaci&oacute;n y Cultura.\
          </br></br>Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          </br></br>Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
            <li><img alt='Intro_right' height='22px' width='22px' src='/assets/intro_images/right.png'> IZQ</li>\
            <li><img alt='Intro_left' height='22px' width='22px' src='/assets/intro_images/left.png'> DER</li>\
            <li><img alt='Intro_enter' height='22px' width='22px' src='/assets/intro_images/enter.png'> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><img alt='Intro_esc' height='22px' width='22px' src='/assets/intro_images/esc.png'>ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          </br>Y, ¡COMENCEMOS!"
      },
      {
          element: "#tab-titulo",
          intro: "Aqu&iacute;, puedes apreciar el t&iacute;tulo y el logo del Portal de Datos Abiertos del MEC.",
          position: "bottom"
      },
      {
          element: "#tab-datasets",
          intro: "Haciendo click sobre esta secci&oacute;n, podr&aacute;s ver el listado de los Conjuntos de Datos con que cuenta \
          actualmente el portal del MEC.",
          position: "right"
      },
      {
          element: "#tab-visualizaciones",
          intro: "Si te interesan las gr&aacute;ficas y estad&iacute;sticas, puedes hacer click en este apartado.\
          <img alt='Mapa_matriculados' class='img-responsive' src='/assets/intro_images/mapa_matriculados.png'>\
          </br></br>Aqu&iacute;, encontrar&aacute;s todo lo relacionado a visualizaciones. \
          <img alt='Docentes' class='img-responsive' src='/assets/intro_images/docentes.png'> \
          </br></br>¡No dejes de visitarlas!",
          position: "left"
      },
      {
          element: "#tab-tabla-datasets-columna",
          intro: "El listado de los Conjuntos de Datos esta organizado de la siguiente manera:\
          </br></br><b>La primera columna,</b> representa el n&uacute;mero de orden del Conjunto de Datos.\
          </br></br><b>La segunda columna,</b> representa el nombre que referencia al Conjunto de Datos.\
          </br></br><b>La tercera columna,</b> representa una breve descripci&oacute;n acerca del contenido que encontrar&aacute;s en el Conjunto de Datos.",
          position: "bottom"
      },
      {
          element: "#tab-diccionario",
          intro: "En esta sección, puedes ir al Diccionario de Datos.\
          </br></br>El Diccionario de Datos describe los atributos que contiene un Conjunto de Datos, incluyendo el tipo de dato y las restricciones que se apliquen a cada uno.",
          position: "left"
      },
      {
          element: '#tab-datos',
          intro: "Mientras que en esta otra sección, puedes acceder al Conjunto de Datos.</br></br>En este apartado podr&aacute;s realizar filtros y descargas de la informaci&oacute;m de tu inter&eacute;s.",
          position: "left"
      },
      {
          element: '#tab-referencias',
          intro: "¿Ten&iacute;as idea de que es un Diccionario de Datos?\
          </br>¡F&iacute;jate en esta secci&oacute;n!",
          position: "top"
      },
      {
          element: '#tab-referencias-tabla',
          intro: "Si tienes dudas acerca del significado de alg&uacute;n atributo que se encuentra en el Diccionario.\
          </br>¡Te recomendamos que le eches un vistazo a esta tabla! \
          </br></br>Aqu&iacute; encontrar&aacute;s una breve descripci&oacute;n\
          de cada atributo inclu&iacute;do en el Diccionario del Conjunto de Datos.",
          position: "top"
      },
      {
          element: '#tab-piedepagina',
          intro: "Ciudadano/a, le recomendamos que de un vistazo a los siguientes puntos:\
          </br></br>En el enlace <b>Aviso Legal</b>, puedes encontrar los t&eacute;rminos y condiciones \
          del Portal de Datos Abiertos del MEC.\
          </br></br>En el enlace <b>Acerca de</b>, puedes encontrar de que trata el Portal del MEC, \
          como puedes utilizar los datos y las personas involucradas dentro del Proyecto.\
          </br></br>En el enlace <b>MEC</b>, puedes ir al Sitio Oficial del Ministerio de Educaci&oacute;n y Cultura.\
          </br></br>En el enlace <b>Programa de Democracia y Gobernabilidad (USAID-CEAMSO)</b>, \
          puedes ir al Sitio Oficial de CEAMSO, lugar donde encontrar&aacute;s mayor informaci&oacute;n sobre el\
          Programa de Democracia y Gobernabilidad.",
          position: "top"
      },
      {
          element: "#tab-contacto",
          intro: "Por &uacute;ltimo, si quieres hacernos alguna consulta, realizar sugerencias de cambios o adiciones dentro del Portal.\
          Por favor, no dudes en hacerlo siguiendo el enlace que se encuentra aqu&iacute;.\
          </br></br>¡Cont&aacute;ctanos!</br>¡Tu ayuda nos ser&aacute; de mucha utilidad!",
          position: "bottom"
      }
  ];

  $('#start-tour').click(function () {

      introJs().setOptions({
          doneLabel: 'Salir',
          nextLabel: 'Siguiente &rarr;',
          prevLabel: '&larr; Anterior',
          skipLabel: 'Salir',
          steps: stepsListado
      }).start();

  });

</script>
<style>
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }
    #start-tour{
        cursor: pointer;
    }
</style>