<%= javascript_include_tag "/assets/views/index_view.js?body=1" %>
<div class="galeria">

  <div class="row">
    <div class="col-sm-8">

      <div id="portada" class="vista-principal cambio-automatico">
      </div>

      <div id="informacion" class="carousel-caption">
      </div>

      <div id="cargando" class="cargando hidden">
        <i class="fa fa-4x fa-spin fa-circle-o-notch"></i>
      </div>

    </div>

    <nav id="paginador" class="col-sm-12 visible-xs">
      <ul class="pager">
        <li id="anterior" class="previous">
          <a href="#" onclick="anterior(this);"><span aria-hidden="true">&larr;</span> Anterior</a>
        </li>
        <li id="siguiente" class="next">
          <a href="#" onclick="siguiente(this);">Siguiente <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>

    <div class="col-sm-4 hidden-xs">
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/datos.png") %>')"
        data-titulo='Datos'
        data-descripcion='Listado de Conjuntos de Datos con que cuenta el Portal del MEC.'
        data-imagen='<%= image_url('destacados/datos.png') %>'
        data-enlace='<%= mec_custom_url(data_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/mapa_establecimientos.png") %>')"
        data-titulo='Mapa de Establecimientos e Instituciones'
        data-descripcion='En el Conjunto de Datos "Establecimientos Escolares" se encuentra el mapa con las ubicaciones geográficas de los Establecimientos y sus respectivas Instituciones.'
        data-imagen='<%= image_url('destacados/mapa_establecimientos.png') %>'
        data-enlace='<%= mec_custom_url(data_establecimientos_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/mapa_matriculados.png") %>')"
        data-titulo='Mapa de Matriculaciones'
        data-descripcion='Mapa de Matriculaciones del Paraguay al año 2012.'
        data-imagen='<%= image_url('destacados/mapa_matriculados.png') %>'
        data-enlace='<%= mec_custom_url(app_mapa_matriculaciones2_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/administrativos.png") %>')"
        data-titulo='Funcionarios Administrativos'
        data-descripcion='Gastos por concepto: junio, julio y agosto del 2014.'
        data-imagen='<%= image_url('destacados/administrativos.png') %>'
        data-enlace='<%= mec_custom_url(app_academia_funcionarios_administrativos_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/titulos_universitarios.png") %>')"
        data-titulo='Funcionarios Administrativos'
        data-descripcion='Gastos por concepto: junio, julio y agosto del 2014.'
        data-imagen='<%= image_url('destacados/titulos_universitarios.png') %>'
        data-enlace='<%= mec_custom_url(app_academia_funcionarios_administrativos_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/educacion.png") %>')"
        data-titulo='Inventario de Bienes - Inmuebles'
        data-descripcion='Inventario de Bienes Inmuebles por superficie y por departamento'
        data-imagen='<%= image_url('destacados/educacion.png') %>'
        data-enlace='<%= mec_custom_url(app_academia_inventario_bienes_inmuebles_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>

    </div>

  </div>

</div>
