<%= javascript_include_tag "/assets/views/index_view.js?body=1" %>
<div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
<div class="galeria">

  <div class="row">
    <div class="col-sm-8">

      <div id="portada" class="vista-principal cambio-automatico">
      </div>

      <div id="informacion" class="carousel-caption">
      </div>

      <div id="cargando" class="cargando hidden">
        <i class="fa fa-4x fa-spin fa-circle-o-notch"></i>
      </div>

    </div>

    <nav id="paginador" class="col-sm-12 visible-xs">
      <ul class="pager">
        <li id="anterior" class="previous">
          <a href="#" onclick="anterior(this);"><span aria-hidden="true">&larr;</span> Anterior</a>
        </li>
        <li id="siguiente" class="next">
          <a href="#" onclick="siguiente(this);">Siguiente <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>

    <div class="col-sm-4 hidden-xs">
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/datos.png") %>')"
        data-titulo='Datos'
        data-descripcion='Listado de Conjuntos de Datos con que cuenta el Portal del MEC.'
        data-imagen='<%= image_url('destacados/datos.png') %>'
        data-enlace='<%= mec_custom_url(data_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>

      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/mapa_establecimientos2.png") %>')"
        data-titulo='Mapa de Establecimientos'
        data-descripcion='Mapa que contiene las ubicaciones geográficas de los Establecimientos Escolares.'
        data-imagen='<%= image_url('destacados/mapa_establecimientos2.png') %>'
        data-enlace='<%= mec_custom_url(app_mapa_establecimientos_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>

      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/mapa_matriculados.png") %>')"
        data-titulo='Mapa de Matriculaciones'
        data-descripcion='Mapa de Matriculaciones del Paraguay al año 2012.'
        data-imagen='<%= image_url('destacados/mapa_matriculados.png') %>'
        data-enlace='<%= mec_custom_url(app_mapa_matriculaciones2_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>

      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/administrativos.png") %>')"
        data-titulo='Funcionarios Administrativos'
        data-descripcion='Gastos por concepto: junio, julio y agosto del 2014.'
        data-imagen='<%= image_url('destacados/administrativos.png') %>'
        data-enlace='<%= mec_custom_url(app_academia_funcionarios_administrativos_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>

      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%= image_url("thumbnails/fonacide.png") %>')"
        data-titulo='FONACIDE'
        data-descripcion='Lista priorizada por los municipios de establecimientos educativos elegibles para la inversión de proyectos de infraestructura en educación a ser financiados con recursos provenientes del Fondo Nacional de Inversión Pública y Desarrollo (FONACIDE).'
        data-imagen='<%= image_url('destacados/fonacide.png') %>'
        data-enlace='<%= mec_custom_url(data_requerimientos_infraestructuras_catalogo_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
<!--
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('<%#= image_url("thumbnails/educacion.png") %>')"
        data-titulo='Nuestra Educación en Números'
        data-descripcion='Datos de nuestra educación en números.'
        data-imagen='<%#= image_url('destacados/educacion.png') %>'
        data-enlace='<%#= mec_custom_url(app_comunidad_nuestra_educacion_numeros_url).html_safe %>'
        onclick="seleccionar(this);">
      </div>
-->
    </div>

  </div>

</div>




<!-- Script para el tutorial interactivo -->
<script>

  var img_right = '<%= image_tag "right.png", style: "width:22px;" %>';

  var stepsListado = [
    {
      intro: "Bienvenido al Portal de Datos Abiertos del Ministerio de Educaci&oacute;n y Cultura.\
          <br /><br />Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          <br /><br />Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
          <li><%= image_tag('intro_images/right.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %>  IZQ</li>\
            <li><%= image_tag('intro_images/left.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> DER</li>\
            <li><%= image_tag('intro_images/enter.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><%= image_tag('intro_images/esc.png', style: 'width:22px;').to_s.gsub("\"", "'").html_safe %>ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          <br />Y, ¡COMENCEMOS!"
    },
    {
      element: "#tab-portalmec",
      intro: "Siguiendo el enlace que se encuentra sobre <b>Portal MEC</b>, podr&aacute;s ir al Sitio Oficial del Ministerio de Educaci&oacute;n y Cultura.",
      position: "right"
    },
    {
      element: "#tab-listadatos",
      intro: "Haciendo click sobre la secci&oacute;n <b>Lista de Datos</b>, podr&aacute;s ver el listado de los Conjuntos de Datos que forman \
          parte del portal del MEC con sus respectivos Diccionarios.\
          <br /><br />En un Conjunto de Datos, podr&aacute;s realizar filtros y descargas de la informaci&oacute;m de tu inter&eacute;s.\
          <br /><br />En el Diccionario de Datos, se describen los atributos que contiene un Conjunto de Datos, incluyendo los tipos de datos y las restricciones que se apliquen a cada uno.",
      position: "right"
    },
    {
      element: "#tab-visualizaciones",
      intro: "Si te interesan las gr&aacute;ficas y estad&iacute;sticas, puedes visitar el apartado <b>Visualizaciones</b>.\
<%= image_tag('intro_images/mapa_matriculados.png', class: 'img-responsive').to_s.gsub("\"", "'").html_safe %> \
        <br /><br />Aqu&iacute;, encontrar&aacute;s todo lo relacionado a visualizaciones. \
  <%= image_tag('intro_images/docentes.png', class: 'img-responsive').to_s.gsub("\"", "'").html_safe %> \
                            <br /><br />¡No dejes de visitarlas!",
          position: "left"
        },
        {
          element: "#tab-mapaestablecimientos",
          intro: "Si estas buscando la ubicación de un Establecimiento Escolar, puedes visitar el apartado <b>Mapa de Establecimientos</b>.\
          <br /><br />En el mapa podr&aacute;s aplicar filtros, calcular la distancia entre dos establecimientos e inclusive obtener la cobertura de cada establecimiento.\
            <br /><br />¡Debes probarlo!",
          position: "left"
        },
        {
          element: "#tab-participa",
          intro: "Si quieres hacernos alguna consulta, realizar sugerencias de cambios o adiciones dentro del Portal.\
              Por favor, no dudes en hacerlo siguiendo la sección <b>Participa</b>.\
              <br /><br />¡Cont&aacute;ctanos!<br />¡Tu ayuda nos ser&aacute; de mucha utilidad!",
          position: "left"
        },
        {
          element: '#tab-acercade',
          intro: "En la sección <b>Acerca de</b>, podrás encontrar de que trata el Portal del MEC, \
              el cómo podrás utilizar los datos y las personas involucradas dentro del Proyecto.",
          position: "left"
        },
        {
          element: '#tab-avisolegal',
          intro: "Mientras que en la sección <b>Aviso Legal</b>, podrás encontrar los t&eacute;rminos y condiciones \
              del Portal de Datos Abiertos del MEC.",
          position: "left"
        },
        {
          element: '#tab-redessociales',
          intro: "<b>¡Redes Sociales!</b>\
              <br /><br />En este apartado, podrás ir a nuestros Sitios Oficiales en Facebook, Twitter, y YouTube. ¡Visitanos!\
              <br /><br />Además, tendrás la posibilidad de compartir con tus amigos el contenido que te parezca de mayor interés por medio de Facebook, Twitter y Google+.",
          position: "left"
        },
        {
          element: '#tab-datosabiertos',
          intro: "Por &uacute;ltimo, ¡Recuerda!\
              <br />Siempre que quieras volver a la Página Principal, solo debes hacer click sobre la sección <b>Datos Abiertos</b> y, ¡listo!",
          position: "right"
        }
      ];

      $('#start-tour').click(function() {

        introJs().setOptions({
          doneLabel: 'Salir',
          nextLabel: 'Siguiente &rarr;',
          prevLabel: '&larr; Anterior',
          skipLabel: 'Salir',
          steps: stepsListado
        }).start();

      });

    </script>
    <!-- Estilo para el tutorial interactivo -->
    <style>
      .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
      }
      #start-tour{
        cursor: pointer;
      }
    </style>
