<table class="table table-striped table-bordered table-hover">

  <tr>
    <th>Departamento</th>
    <td><%= matriculaciones_inicial.nombre_departamento %></td>
  </tr>

  <tr>
    <th>Distrito</th>
    <td><%= matriculaciones_inicial.nombre_distrito %></td>
  </tr>

  <tr>
    <th>Barrio/Localidad</th>
    <td><%= matriculaciones_inicial.nombre_barrio_localidad %></td>
  </tr>

  <tr>
    <th>Zona</th>
    <td><%= matriculaciones_inicial.nombre_zona %></td>
  </tr>

  <tr>
    <th>Sector o Tipo de Gestión</th>
    <td><%= matriculaciones_inicial.sector_o_tipo_gestion %></td>
  </tr>

  <tr>
    <th>Establecimiento</th>
    <td><%= matriculaciones_inicial.codigo_establecimiento %></td>
  </tr>

  <tr>
    <th>Institución</th>
    <td><%= matriculaciones_inicial.nombre_institución %></td>
  </tr>

  <tr>
    <th>Maternal</th>
    <td><%= matriculaciones_inicial.maternal%></td>
  </tr>

  <tr>
    <th>Prejardin</th>
    <td><%= matriculaciones_inicial.prejardin%></td>
  </tr>

  <tr>
    <th>Jardin</th>
    <td><%= matriculaciones_inicial.jardin%></td>
  </tr>

  <tr>
    <th>Pre-escolar</th>
    <td><%= matriculaciones_inicial.preescolar%></td>
  </tr>

  <tr>
    <th>Total de Matriculados</th>
    <td><%= matriculaciones_inicial.total_matriculados%></td>
  </tr>
</table>
