
<% if matriculaciones_inicial.present? %>

  <% matriculaciones_inicial.each do |mi| %>

    <tr>

      <td><%= mi.anio %></td>
      <td><b><%= link_to mi.codigo_establecimiento, mec_custom_url(id_establecimientos_path(mi.codigo_establecimiento)), target: '_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %></b></td>
      <td><b><%= link_to mi.codigo_institucion, mec_custom_url(id_instituciones_path(mi.codigo_institucion)), target: '_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %></b></td>
      <td><%= mi.nombre_institucion %></td>
      <td><%= mi.nombre_departamento %></td>
      <td><%= mi.nombre_distrito %></td>
      <td><%= mi.nombre_barrio_localidad %></td>
      <td><%= mi.nombre_zona %></td>
      <td><%= mi.sector_o_tipo_gestion %></td>
      <td><%= mi.maternal %></td>
      <td><%= mi.maternal_hombre %></td>
      <td><%= mi.maternal_mujer %></td>
      <td><%= mi.prejardin %></td>
      <td><%= mi.prejardin_hombre %></td>
      <td><%= mi.prejardin_mujer %></td>
      <td><%= mi.jardin %></td>
      <td><%= mi.jardin_hombre %></td>
      <td><%= mi.jardin_mujer %></td>
      <td><%= mi.preescolar %></td>
      <td><%= mi.preescolar_hombre %></td>
      <td><%= mi.preescolar_mujer %></td>
      <td><%= mi.total_matriculados %></td>
      <td><%= mi.total_matriculados_hombre %></td>
      <td><%= mi.total_matriculados_mujer %></td>
    </tr>

  <% end %>

<% else %>

  <tr>

    <td colspan="11"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>

<% end %>
