
<% if establecimientos.present? %>

  <% establecimientos.each do |e| %>

    <tr>

      <td style="width:20px;"><%= link_to_ubicacion_geografica_822(e) %></td>
      <td><%= e.anio %></td>
      <td><%= e.nombre_institucion %></td>
      <td><%= link_to e.codigo_establecimiento, mec_custom_url(id_establecimientos_path(e.codigo_establecimiento)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></td>
      <td><%= e.nombre_departamento %></td>
      <td><%= e.nombre_distrito %></td>
      <td><%= e.nombre_zona %></td>
      <td><%= e.nombre_barrio_localidad %></td>
      <td><%= e.direccion %></td>
      <td><%= e.asentamientos_priorizados %></td>
      <td><%= e.a_comedor %></td>
      <td><%= e.a_aulas %></td>
      <td><%= e.a_aula_de_pe %></td>
      <td><%= e.a_cra %></td>
      <td><%= e.a_lab %></td>
      <td><%= e.a_bloq_adm %></td>
      <td><%= e.a_sshh %></td>
      <td><%= e.r_aulas %></td>
      <td><%= e.r_sshh %></td>
      <td><%= e.r_comedor %></td>
      <td><%= e.oe_pozo %></td>
      <td><%= e.cercado %></td>
      <td><%= e.oe_escindi %></td>

    </tr>

  <% end %>

<% else %>

  <tr>

    <td colspan="20"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>

<% end %>
