<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<%= javascript_include_tag "gmaps/gmaps.js", "gmaps/markerclusterer.js" %>
<%= render :partial => "layouts/gmaps", :locals => { :ancho_maps => "100%", :altura_maps => "350px"} %>

<h2>
  <span itemprop="name">Proyecto 822</span>
  <meta itemprop="description"
              content="Contiene la datos del proyecto de “Ampliación y reposición de espacios escolares en 822 Establecimientos Educativos del MEC, en Asunción y 10 departamentos geográficos del país”. Dicho proyecto tiene como propósito culminar las obras iniciadas en los años 2011 y 2012 –que cuentan con contratos vigentes– considerando los requerimientos pedagógicos y socioculturales. Las intervenciones consisten en ampliar la infraestructura edilicia escolar para aumentar la capacidad del servicio educacional, sin modificación de lo existente, así como la reposición que implica la renovación parcial o total de los espacios educativos existentes. El proyecto es financiado por el Fondo para la Excelencia de la Educación y la Investigación y totaliza una inversión de 6.663.596 dólares americanos (tipo de cambio: 4.500)."/>
  <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31">
  <meta itemprop="url" content="http://datos.mec.gov.py/data/establecimientos822">  
  <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://www.mec.gov.py/">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
    <meta itemprop="name" content="Juan Barrios">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
  <meta itemprop="keywords" style="display: none;" content="educación,establecimientos,escolar,geografico"/>
  <meta itemprop="version" style="display: none;" content="1.0"/>
  <span style="float:right;">
    <%= link_to "Ver diccionario", mec_custom_url(def_establecimientos822_url), :title => "Ir al diccionario", :style => "font-size:12px;" %>
    <%= link_to image_tag("def_icon.png", :style => "width:24px;" ), mec_custom_url(def_establecimientos822_url), :title => "Ir al diccionario" %>
    <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
  </span>

</h2>

<div class="table-outter">

<table class="table table-striped table-bordered table-hover" style="margin-bottom: 0px; width: 3500px; max-width: none">

  <tr>

    <%= form_tag mec_custom_url(data_establecimientos822_lista_url(nil)), :remote => true, :id => "form-buscar-establecimientos" do  %>

      <th style="width:3%;" class="text-min celda-derecha">
        <%= label_tag "Periodo" %><br /><br />
        <%= select :form_buscar_establecimientos, :anio, [2014, 2012], {:class => 'text-min'} %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_anio'),1);" %>
      </th>

      <th style="width:3%;" class="text-min">
        <%= label_tag nil, "Institución".html_safe%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_nombre_institucion, nil, :class => 'text-min', :style => 'width:60px;'%>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_nombre_institucion'));"%>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag nil, "C&oacute;digo Establecimiento".html_safe%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_codigo_establecimiento, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_codigo_establecimiento'));"%>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag "Departamento"%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_nombre_departamento, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_nombre_departamento'));" %>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag "Distrito"%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_nombre_distrito, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_nombre_distrito'));" %>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag "Zona"%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_nombre_zona, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_nombre_zona'));" %>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag "Barrio/Localidad"%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_nombre_barrio_localidad, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_nombre_barrio_localidad'));" %>
      </th>

      <th style="width:4%;" class="text-min">
        <%= label_tag nil, "Direcci&oacute;n".html_safe%><br /><br />
        <%= text_field_tag :form_buscar_establecimientos_direccion, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_direccion'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Asentamientos Priorizados".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_asentamientos_priorizados_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_asentamientos_priorizados, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_asentamientos_priorizados'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Comedor".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_comedor_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_comedor, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_comedor'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Aulas".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_aulas_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_aulas, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_aulas'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Aulas de Preescolar".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_aula_preescolar_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_aula_preescolar, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_aula_preescolar'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Centro de Recursos de Aprendizaje".html_safe%><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_centro_aprendizaje_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_centro_aprendizaje, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_centro_aprendizaje'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Laboratorios".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_laboratorios_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_laboratorios, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_laboratorios'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Bloque Administrativo".html_safe%><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_bloque_administrativo_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_bloque_administrativo, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_bloque_administrativo'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Ampliación Servicios Higiénicos".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_ampliacion_servicios_higienicos_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_ampliacion_servicios_higienicos, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_ampliacion_servicios_higienicos'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Reparación Aulas".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_reparacion_aulas_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_reparacion_aulas, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_reparacion_aulas'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Reparación Servicios Higiénicos".html_safe%><br />
        <%= select_tag(:form_buscar_establecimientos_reparacion_servicios_higienicos_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_reparacion_servicios_higienicos, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_reparacion_servicios_higienicos'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Reparación Comedor".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_reparacion_comedor_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_reparacion_comedor, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_reparacion_comedor'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Obras Exteriores de Pozo".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_obras_exteriores_pozo_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_obras_exteriores_pozo, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_obras_exteriores_pozo'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Cercado".html_safe%><br /><br />
        <%= select_tag(:form_buscar_establecimientos_cercado_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_cercado, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_cercado'));" %>
      </th>

      <th style="width:5%;" class="text-min">
        <%= label_tag nil, "Obras Exteriores en Escuelas Indígenas".html_safe%><br />
        <%= select_tag(:form_buscar_establecimientos_obras_exteriores_indigenas_operador, options_for_select(['>', '<', '='])) %>
        <%= text_field_tag :form_buscar_establecimientos_obras_exteriores_indigenas, nil, :class => 'text-min' %>
        <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_establecimientos_obras_exteriores_indigenas'));" %>
      </th>

      
      <th style="width:16px;" id="ubicaciones-geograficas"></th>
      
    <% end %>

  </tr>

  <tbody id="establecimientos-lista"></tbody>

</table>
</div>

<table class="table table-striped table-bordered table-hover">
  <tbody id="establecimientos-822-footer"></tbody>
</table>


<script type="text/javascript">

  $("#form-buscar-establecimientos").bind("submit", function(){

      $('.establecimiento-ubicacion-geografica').html('');
      $("#establecimientos-ubicaciones-geograficas").html('');
      $("#establecimientos-lista").html("<%= escape_javascript("<tr><td colspan='11' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")    
  
  })

  $("#form_buscar_establecimientos_anio").bind('change',function(){
      
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();
      
  })

  $("#form_buscar_establecimientos_programa").bind('change',function(){
      
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();
      
  })

  $("#form_buscar_establecimientos_proyecto_822").bind('change',function(){
      
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();
      
  })

  $("#form_buscar_establecimientos_proyecto_822").bind('change',function(){
      
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();
      
  })

  $(".table-bordered input").bind('change',function(){
      
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();
      
  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  function limpiar_form_buscar_establecimientos(){
    
    $(".table-bordered input").val();
    $('.establecimiento-ubicacion-geografica').html('');
    $("#establecimientos-ubicaciones-geograficas").html('');
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

  }  

  function mostrar_mapa(parametros){

    var tr_size = $.trim($("#establecimientos-ubicaciones-geograficas").html()).length 

    $('.establecimientos-ubicaciones-geograficas').remove();

    if(tr_size == 0){

      $("#link-to-ubicaciones-geograficas").parent().parent().after("<tr id=\"establecimientos-ubicaciones-geograficas\" class=\"establecimientos-ubicaciones-geograficas\"></tr>"); 
        
      $("#establecimientos-ubicaciones-geograficas").html("<%= escape_javascript("<tr><td colspan='11' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")  
          
      $.ajaxQ.abortAll();
      
      $.ajax({
        type: 'POST',
        url: "<%= url_for(mec_custom_url(data_establecimientos_ubicaciones_geograficas_url)) %>"+parametros,
        dataType: 'script'  
      });

    }else{
      $("#establecimientos-ubicaciones-geograficas").remove();
    } 

  }

  function mostrar_establecimientos_instituciones(codigo_establecimiento,anio){
      if($('#establecimientos_instituciones').children().length === 0){
        $.ajax({
        type: 'GET',
        url: '<%= mec_custom_url(data_establecimientos_instituciones_path) %>',
        data: { codigo_establecimiento:codigo_establecimiento,
              periodo:anio
        },
        dataType: 'script'  
        }); 
        $('#ver_instituciones').text('Ocultar Instituciones del Establecimiento');
      }else{
        $('#establecimientos_instituciones').html('');
        $('#ver_instituciones').text('Ver Instituciones del Establecimiento');
      }
      //$('#ocultar_instituciones').toggle();
  }

  <% if params[:ce].present? %>

    $("#form_buscar_establecimientos_codigo_establecimiento").val("<%= params[:ce] %>");
    $.ajaxQ.abortAll();
    $("#form-buscar-establecimientos").submit();

  <% else %>

    limpiar_form_buscar_establecimientos();

  <% end %>

  //--------------- QUITAR FILTRO -------------------//
  function quitar_filtro(id,ban) {
    if (ban === 1){
      id.val("2014");
    }else{
      id.val('');
    }
    $.ajaxQ.abortAll();
    $('#form-buscar-establecimientos').submit();
  
  }
  //-------------------------------------------------//

</script>

<style>

  .text-min {font-size:9px !important; color: #000; text-align:center !important;}
  #cbue-menu1 {background:#e9e9e9;}
  .text-min input[type="text"], .text-min select {
    border: 1px solid silver;
    padding: 3px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:#000;
  }
  .text-min input[type="text"] { width: 80px;}
  #tablaContenedor{width:100%;}
 
</style>

