
<% if matriculaciones_departamentos_distritos.present? %>

  <% matriculaciones_departamentos_distritos.each do |e| %>

    <tr>

      <td><%= e.anio %></td>
      <td><%= e.nombre_departamento %></td>
      <td><%= e.nombre_distrito %></td>
      <td><%= e.nombre_zona %></td>
      <td><%= e.sector_o_tipo_gestion %></td>
      <td><%= e.cantidad_matriculados %></td>       
    </tr>

    <!--
    <tr id="establecimiento-ubicacion-geografica-<%#= e.id %>" class="establecimiento-ubicacion-geografica"></tr>
    --> 

  <% end %>

<% else %>

  <tr>

    <td colspan="11"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>

<% end %>
