<h2>
  <span id="tab-titulo">ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE</span>
  <span style="float:right;">
    <div style="display: inline-block" id="start-tour"><a style="font-size:12px;" title="Ir a la ayuda">Ayuda</a> <a title="Ir a la ayuda"><img alt="Ayuda3" height="24px" width="24px" src="/assets/ayuda3.png"></a></div>
        <div style="display: inline-block" id="tab-inicio"><%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %></div>
  </span>

</h2>      

<table class="table table-striped table-bordered table-hover infra">

  <thead>
          
    <tr>
      <th id="tab-periodo">2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
	  </tr>
        
  </thead>

  <tbody>

    <tr>
      <td style='font-size:12px;width:25%;' id="tab-descargas">
        <%= link_to "1- Concepci&oacute;n".html_safe, "https://mega.co.nz/#!IwQhCKaK!_8EP-oxU-gwGX96WcGPhsQP1T8-5RkmT15URymCeYhs", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!IwQhCKaK!_8EP-oxU-gwGX96WcGPhsQP1T8-5RkmT15URymCeYhs", class: 'icon', target: '_blank' %> <span>(7.0 MB)</span><br />
        <%= link_to "2- San Pedro".html_safe, "https://mega.co.nz/#!05wx1DhC!MAh_aKp-mTOujFDc8LPSTwOpJNkV71zBcNo4B4xXtTo", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!05wx1DhC!MAh_aKp-mTOujFDc8LPSTwOpJNkV71zBcNo4B4xXtTo", class: 'icon', target: 'blank' %><span>(1.4 MB)</span><br />
        <%= link_to "3- Cordillera".html_safe, "https://mega.co.nz/#!swxAhLgb!T53NNwp4X_wYqiGQ91f4M5KT-lgjO1KdY9emwwTXNeQ", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!swxAhLgb!T53NNwp4X_wYqiGQ91f4M5KT-lgjO1KdY9emwwTXNeQ", class: 'icon', target: '_blank' %><span>(267 KB)</span><br />
        <%= link_to "4- Guair&aacute;".html_safe, "https://mega.co.nz/#!o4BAUJLA!cwE_rMCpS3nQ2I3AWCVIjbrs88hkAO6o9hPYlfsHEYI", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!o4BAUJLA!cwE_rMCpS3nQ2I3AWCVIjbrs88hkAO6o9hPYlfsHEYI", class: 'icon', target: '_blank' %><span>(639 KB)</span><br />
        <%= link_to "5- Caaguaz&uacute;".html_safe, "https://mega.co.nz/#!dsxXGJqD!gVpowQGYf0bhoPjXEOP5sOH_Nno6B9A9iBfxuhHMntc", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!dsxXGJqD!gVpowQGYf0bhoPjXEOP5sOH_Nno6B9A9iBfxuhHMntc", class: 'icon', target: '_blank' %><span>(5.1 MB)</span><br />
        <%= link_to "6- Caazap&aacute;".html_safe, "https://mega.co.nz/#!8thFBL5S!le6w7m0ljvo5qjl4lOjs63X1pQc-oSYnpvTi4QXxW1E", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!8thFBL5S!le6w7m0ljvo5qjl4lOjs63X1pQc-oSYnpvTi4QXxW1E", class: 'icon', target: '_blank' %><span>(709 KB)</span><br />
        <%= link_to "7- Itap&uacute;a".html_safe, "https://mega.co.nz/#!c5AWQARC!iFANjSLUVHXUbl7vWvachXrrpaSzCKeILKdO4GWv7MY", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!c5AWQARC!iFANjSLUVHXUbl7vWvachXrrpaSzCKeILKdO4GWv7MY", class: 'icon', target: '_blank' %><span>(474 KB)</span><br />
        <%= link_to "8- Misiones".html_safe, "https://mega.co.nz/#!RpZyHaRR!RWRdMbEF0HplAB19ROBbstZXfxvGQ2cb5RRQK9GgFNs", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!RpZyHaRR!RWRdMbEF0HplAB19ROBbstZXfxvGQ2cb5RRQK9GgFNs", class: 'icon', target: '_blank' %><span>(293 KB)</span><br />
        <%= link_to "9- Paraguar&iacute;".html_safe, "https://mega.co.nz/#!QlxyGKSI!1YEFdwd_TPB2pVuHu-tzXruR54khlDRFLoL2X5yrAk4", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!QlxyGKSI!1YEFdwd_TPB2pVuHu-tzXruR54khlDRFLoL2X5yrAk4", class: 'icon', target: '_blank' %><span>(644 KB)</span><br />
        <%= link_to "10- Alto Paran&aacute;".html_safe, "https://mega.co.nz/#!M1IUHIAK!dO-hqlUoOQZ5eHj74VHUrYQidpDA38whER7FIe2_9pA", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!M1IUHIAK!dO-hqlUoOQZ5eHj74VHUrYQidpDA38whER7FIe2_9pA", class: 'icon', target: '_blank' %><span>(1.4 MB)</span><br />
        <%= link_to "11- Central".html_safe, "https://mega.co.nz/#!h0hAlSBJ!YHLczvSPQPO_IhLhwS2z0YpnP-0dYf1Twft8xykLPPc",class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!h0hAlSBJ!YHLczvSPQPO_IhLhwS2z0YpnP-0dYf1Twft8xykLPPc", class: 'icon', target: '_blank' %><span>(1.6 MB)</span><br />
        <%= link_to "12- Ñeembuc&uacute".html_safe, "https://mega.co.nz/#!Ig5kCDSI!uYLN64147gXexnlfdXMJ-B6lXxbpUtNsYSTry5twCD0", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!Ig5kCDSI!uYLN64147gXexnlfdXMJ-B6lXxbpUtNsYSTry5twCD0", class: 'icon', target: '_blank' %><span>(415 KB)</span><br />
        <%= link_to "13- Amambay".html_safe, "https://mega.co.nz/#!9hYBjYaI!cHfHQpuY9ergX3CHBgypcRgIG4qQEaUwkENqEpP23GM", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!9hYBjYaI!cHfHQpuY9ergX3CHBgypcRgIG4qQEaUwkENqEpP23GM", class: 'icon', target: '_blank' %><span>(1.8 MB)</span><br />
        <%= link_to "14- Canindey&uacute;".html_safe, "https://mega.co.nz/#!koQAUBBJ!O1h4JnlgAB_9Y-PePZ8n_26CYmyTI79zEg7jVF3MO2c", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!koQAUBBJ!O1h4JnlgAB_9Y-PePZ8n_26CYmyTI79zEg7jVF3MO2c", class: 'icon', target: '_blank' %><span>(161 KB)</span><br />
        <%= link_to "15- Pdte. Hayes".html_safe, "https://mega.co.nz/#!copC0AZZ!GUmnVBh_UB3c370qsu0dpE4d82ZKUEf6tQTiWUMUT0s", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!copC0AZZ!GUmnVBh_UB3c370qsu0dpE4d82ZKUEf6tQTiWUMUT0s", class: 'icon', target: '_blank' %><span>(496 KB)</span><br />
        <%= link_to "16- Boquer&oacute;n".html_safe, "https://mega.co.nz/#!UwZjVTZZ!gP8WPsxTC-jub1QzpYVM6LL5pzPa75DTVidRZ1ksQho", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!UwZjVTZZ!gP8WPsxTC-jub1QzpYVM6LL5pzPa75DTVidRZ1ksQho", class: 'icon', target: '_blank' %><span>(1.1 MB)</span><br />
        <%= link_to "17- Alto Paraguay".html_safe, "https://mega.co.nz/#!g4AzgYRS!XM_HYK0Ioxhsmt-R4X5MMz26aD5lLW4SY86shttDgB4", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!g4AzgYRS!XM_HYK0Ioxhsmt-R4X5MMz26aD5lLW4SY86shttDgB4", class: 'icon', target: '_blank' %><span>(267 KB)</span><br />
        <%= link_to "18- Capital".html_safe, "https://mega.co.nz/#!IsY1lYJC!V8QzBzph45bBHt0QT7XseIumghhY2nkhAHiOeFzGyVs", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!IsY1lYJC!V8QzBzph45bBHt0QT7XseIumghhY2nkhAHiOeFzGyVs", class: 'icon', target: '_blank' %><span>(342 KB)</span><br />

      </td>
      <td style='font-size:12px;width:25%;'>
        <%= link_to "1- Concepci&oacute;n".html_safe, "https://mega.co.nz/#!4gY0QAgT!C_MfHATDFLlCVg3PSeCOzS-2sFg-jXWYdjvDzZLD3fc", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!4gY0QAgT!C_MfHATDFLlCVg3PSeCOzS-2sFg-jXWYdjvDzZLD3fc", class: 'icon', target: '_blank' %><span>(573 KB)</span><br />
        <%= link_to "2- San Pedro".html_safe, "https://mega.co.nz/#!JlRABKqa!zR3qqdpqAGriUBBhjGwRMocwkJnyy-Tk82c8wXULwic", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!JlRABKqa!zR3qqdpqAGriUBBhjGwRMocwkJnyy-Tk82c8wXULwic", class: 'icon', target: '_blank' %><span>(7.6 MB)</span><br />
        <%= link_to "3- Cordillera".html_safe, "https://mega.co.nz/#!Q4ImmaKL!0pL1jz6QHl7L5F0aIZ4zPy9e3cK0RAlCzhnHfZIB0w4", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!Q4ImmaKL!0pL1jz6QHl7L5F0aIZ4zPy9e3cK0RAlCzhnHfZIB0w4", class: 'icon', target: '_blank' %><span>(2.3 MB)</span><br />
        <%= link_to "4- Guair&aacute;".html_safe, "https://mega.co.nz/#!l9gGGQSK!bP1zitdJniOlvB0Vn_S4SB6SJdRKfdnPQSrnpb3ILDQ", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!l9gGGQSK!bP1zitdJniOlvB0Vn_S4SB6SJdRKfdnPQSrnpb3ILDQ", class: 'icon', target: '_blank' %><span>(277 KB)</span><br />
        <%= link_to "5- Caaguaz&uacute;".html_safe, "https://mega.co.nz/#!st4QUCZK!BEkypnGxn0748G0A2PzXhcth7SnKU5URuuJNlQfGGVU", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!st4QUCZK!BEkypnGxn0748G0A2PzXhcth7SnKU5URuuJNlQfGGVU", class: 'icon', target: '_blank' %><span>(2.6 MB)</span><br />
        <%= link_to "6- Caazap&aacute;".html_safe, "https://mega.co.nz/#!0tpFEIQA!wmlEU0ixB527DoQCVLp6bb_bJ4BYFQI4e7r12erGKpY", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!0tpFEIQA!wmlEU0ixB527DoQCVLp6bb_bJ4BYFQI4e7r12erGKpY", class: 'icon', target: '_blank' %><span>(168 KB)</span><br />
        <%= link_to "7- Itap&uacute;a".html_safe, "https://mega.co.nz/#!N8g0gbYK!d62OgP6oXOd0TJoBeJuXPSCTM0Y18kmE2BsjDHx-3Qc", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!N8g0gbYK!d62OgP6oXOd0TJoBeJuXPSCTM0Y18kmE2BsjDHx-3Qc", class: 'icon', target: '_blank' %><span>(7.6 MB)</span><br />
        <%= link_to "8- Misiones".html_safe, "https://mega.co.nz/#!8lYxzZKB!aTI_btkLxy30nY8w1DSnY5BWaiOv81O-ZxCmfxkqp-g", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!8lYxzZKB!aTI_btkLxy30nY8w1DSnY5BWaiOv81O-ZxCmfxkqp-g", class: 'icon', target: '_blank' %><span>(7.5 MB)</span><br />
        <%= link_to "9- Paraguar&iacute;".html_safe, "https://mega.co.nz/#!5khy3TJK!4qtmltfZvTDrseoMoFK-oKZlt_sOwNJ69xH7t34B0io", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!5khy3TJK!4qtmltfZvTDrseoMoFK-oKZlt_sOwNJ69xH7t34B0io", class: 'icon', target: '_blank' %><span>(7.3 MB)</span><br />
        <%= link_to "10- Alto Paran&aacute;".html_safe, "https://mega.co.nz/#!xwImlbRR!JwlNPAgN66sebsknTwy9Avs7sxl_qQsFRTjYFuJr56g", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!xwImlbRR!JwlNPAgN66sebsknTwy9Avs7sxl_qQsFRTjYFuJr56g", class: 'icon', target: '_blank' %><span>(9.3 MB)</span><br />
        <%= link_to "11- Central".html_safe, "https://mega.co.nz/#!5xp2kT4I!plZ0UM4eD8704YHScrCTGD4SSERtVE76ZoWs5XoJNX0",class: 'titulo', target: '_blank'%>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!5xp2kT4I!plZ0UM4eD8704YHScrCTGD4SSERtVE76ZoWs5XoJNX0", class: 'icon', target: '_blank' %><span>(18.5 MB)</span><br />
        <%= link_to "12- Ñeembuc&uacute".html_safe, "https://mega.co.nz/#!AtRgELZC!VMLJUyRVqE49SZZXIk4Zj_yv1e0mpG_bYaAky8SrKxQ", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!AtRgELZC!VMLJUyRVqE49SZZXIk4Zj_yv1e0mpG_bYaAky8SrKxQ", class: 'icon', target: '_blank' %><span>(199 KB)</span><br />
        <%= link_to "13- Amambay".html_safe, "https://mega.co.nz/#!1lgBySYC!cIV5eFIu1LxVODwDoV171VrHopDbzLwpzwyFvysJg3A", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!1lgBySYC!cIV5eFIu1LxVODwDoV171VrHopDbzLwpzwyFvysJg3A", class: 'icon', target: '_blank' %><span>(562 KB)</span><br />
        <%= link_to "14- Canindey&uacute;".html_safe, "https://mega.co.nz/#!l8xF2Ara!M_dLPaE8v22zR8qyOM2plolMLU8QArF0eMmrXs2gmmE", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!l8xF2Ara!M_dLPaE8v22zR8qyOM2plolMLU8QArF0eMmrXs2gmmE", class: 'icon', target: '_blank' %><span>(167 KB)</span><br />
        <%= link_to "15- Pdte. Hayes".html_safe, "https://mega.co.nz/#!R852EQqJ!3WW1E_yJmXcT4Y3DmeTq5Qh1YeBbpieu_gJOydDlTDI", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!R852EQqJ!3WW1E_yJmXcT4Y3DmeTq5Qh1YeBbpieu_gJOydDlTDI", class: 'icon', target: '_blank' %><span>(9.0 MB)</span><br />
        <%= link_to "16- Boquer&oacute;n".html_safe, "https://mega.co.nz/#!VxBQiQ4L!YXFpK9qsDoviWeFLUWG-0-T8PEY3w0SpM-h9BF58nd8", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!VxBQiQ4L!YXFpK9qsDoviWeFLUWG-0-T8PEY3w0SpM-h9BF58nd8", class: 'icon', target: '_blank' %><span>(158 KB)</span><br />
        <%= link_to "17- Alto Paraguay".html_safe, "https://mega.co.nz/#!Up4yTJyD!D5prN2uymy5W7PtDMB2xcj8jbSbDIIJTCuSDVvs9sdw", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!Up4yTJyD!D5prN2uymy5W7PtDMB2xcj8jbSbDIIJTCuSDVvs9sdw", class: 'icon', target: '_blank' %><span>(475 KB)</span><br />
        <%= link_to "18- Capital".html_safe, "https://mega.co.nz/#!4swhVQoC!MDCjeW1Ljlv0hPwXrwOdCfrH9DMypdHwKLQ7UmC4nQ4", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!4swhVQoC!MDCjeW1Ljlv0hPwXrwOdCfrH9DMypdHwKLQ7UmC4nQ4", class: 'icon', target: '_blank' %><span>(8.0 MB)</span><br />

      </td>
       <td style='font-size:12px;width:25%;'>
        <%= link_to "1- Concepci&oacute;n".html_safe, "https://mega.co.nz/#!lxQj1Axb!bLPwd6t9pvTGS3Ys7V5uCUUo4wX2AC4NBsbEjuT4paE", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!lxQj1Axb!bLPwd6t9pvTGS3Ys7V5uCUUo4wX2AC4NBsbEjuT4paE", class: 'icon', target: '_blank' %><span>(926 KB)</span><br />
        <%= link_to "2- San Pedro".html_safe, "https://mega.co.nz/#!8pogjYYa!TYsns5l0HcVJb9LYYUpzRAcIBJIEuMqXG8KQCKp39Go", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!8pogjYYa!TYsns5l0HcVJb9LYYUpzRAcIBJIEuMqXG8KQCKp39Go", class: 'icon', target: '_blank' %><span>(1.1 MB)</span><br />
        <%= link_to "3- Cordillera".html_safe, "https://mega.co.nz/#!N9BWVZxT!b86IRg-xvI8FYrFIb71UAbHRUUZDM1tGhvc49FsWyfo", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!N9BWVZxT!b86IRg-xvI8FYrFIb71UAbHRUUZDM1tGhvc49FsWyfo", class: 'icon', target: '_blank' %><span>(1.7 MB)</span><br />
        <%= link_to "4- Guair&aacute;".html_safe, "https://mega.co.nz/#!IoJWVTYb!LpJU_iJHYjmMXoE5HnuvKD2qITqGbZQsbOmdiFDaIz0", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!IoJWVTYb!LpJU_iJHYjmMXoE5HnuvKD2qITqGbZQsbOmdiFDaIz0", class: 'icon', target: '_blank' %><span>(2.8 MB)</span><br />
        <%= link_to "5- Caaguaz&uacute;".html_safe, "https://mega.co.nz/#!8kpm2DJR!toDh50CWNl-TkY6St1vgi0F-697S1WKdr8pu4PzmiIc", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!8kpm2DJR!toDh50CWNl-TkY6St1vgi0F-697S1WKdr8pu4PzmiIc", class: 'icon', target: '_blank' %><span>(2.2 MB)</span><br />
        <%= link_to "6- Caazap&aacute;".html_safe, "https://mega.co.nz/#!MswWiIwa!-_dteZ8kcvYsJMFG3aeKFH7zfk4KY_a7Aly29zMWl60", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!MswWiIwa!-_dteZ8kcvYsJMFG3aeKFH7zfk4KY_a7Aly29zMWl60", class: 'icon', target: '_blank' %><span>(1.7 MB)</span><br />
        <%= link_to "7- Itap&uacute;a".html_safe, "https://mega.co.nz/#!QwoEgSbB!7k-k6xgwLyDiQDukh0e_6_oBEoYYrqRLziDkQQFi_Vg", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!QwoEgSbB!7k-k6xgwLyDiQDukh0e_6_oBEoYYrqRLziDkQQFi_Vg", class: 'icon', target: '_blank' %><span>(1.4 MB)</span><br />
        <%= link_to "8- Misiones".html_safe, "https://mega.co.nz/#!wkxHyTrJ!jnJK-D0QEluUCvMfA6ybeO-WQ0pF4XVcX4iOmYGFaJM", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!wkxHyTrJ!jnJK-D0QEluUCvMfA6ybeO-WQ0pF4XVcX4iOmYGFaJM", class: 'icon', target: '_blank' %><span>(1.7 MB)</span><br />
        <%= link_to "9- Paraguar&iacute;".html_safe, "https://mega.co.nz/#!9p4yHJCY!7wJO9oxeWD7Z14L9fjVK6VQ6Mo9eGObFICoYXc2e6Jw", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!9p4yHJCY!7wJO9oxeWD7Z14L9fjVK6VQ6Mo9eGObFICoYXc2e6Jw", class: 'icon', target: '_blank' %><span>(2.0 MB)</span><br />
        <%= link_to "10- Alto Paran&aacute;".html_safe, "https://mega.co.nz/#!ds4Xib6b!K0C7LS55AYjag-IkIrW6jnj2TeD2thl0FuoQ1pbhnyw", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!ds4Xib6b!K0C7LS55AYjag-IkIrW6jnj2TeD2thl0FuoQ1pbhnyw", class: 'icon', target: '_blank' %><span>(2.3 MB)</span><br />
        <%= link_to "11- Central".html_safe, "https://mega.co.nz/#!5lJDiCZR!0EG4ClfDxS9F10vJB_rzw3GoNyEV9NcqG2V56-teMVo",class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!5lJDiCZR!0EG4ClfDxS9F10vJB_rzw3GoNyEV9NcqG2V56-teMVo", class: 'icon', target: '_blank' %><span>(2.1 MB)</span><br />
        <%= link_to "12- Ñeembuc&uacute".html_safe, "https://mega.co.nz/#!otg1zKKJ!tv_PXWYrt375Suq6FW8VCW39W8IstX3s7ep-7RsRAR8", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!otg1zKKJ!tv_PXWYrt375Suq6FW8VCW39W8IstX3s7ep-7RsRAR8", class: 'icon', target: '_blank' %><span>(1.0 MB)</span><br />
        <%= link_to "13- Amambay".html_safe, "https://mega.co.nz/#!Ygx3VSJA!tPsna4gB-KSchMXB7Jjzt4vgNEsoRN4sdIHdVxQsK5A", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!Ygx3VSJA!tPsna4gB-KSchMXB7Jjzt4vgNEsoRN4sdIHdVxQsK5A", class: 'icon', target: '_blank' %><span>(620 KB)</span><br />
        <%= link_to "14- Canindey&uacute;".html_safe, "https://mega.co.nz/#!ghpAGRQY!uNi-bS291AdZgPZlrtZSpZdXuN1AHKaiXznqfQLhBe0", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!ghpAGRQY!uNi-bS291AdZgPZlrtZSpZdXuN1AHKaiXznqfQLhBe0", class: 'icon', target: '_blank' %><span>(1.1 MB)</span><br />
        <%= link_to "15- Pdte. Hayes".html_safe, "https://mega.co.nz/#!98IDFaqZ!f1fYm48KQtPjiGcubbIQMP8SkTsZXSe_X3ZI5h2XdYs", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!98IDFaqZ!f1fYm48KQtPjiGcubbIQMP8SkTsZXSe_X3ZI5h2XdYs", class: 'icon', target: '_blank' %><span>(1.3 MB)</span><br />
        <%= link_to "16- Boquer&oacute;n".html_safe, "https://mega.co.nz/#!MkohgRoC!gJwkP4wwIUaX2-Hb_kHwm4Q3EIlmy5XMMzMNd-5DLCc", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!MkohgRoC!gJwkP4wwIUaX2-Hb_kHwm4Q3EIlmy5XMMzMNd-5DLCc", class: 'icon', target: '_blank' %><span>(399 KB)</span><br />
        <%= link_to "17- Alto Paraguay".html_safe, "https://mega.co.nz/#!s0RlTKCa!xfhdRgc-HME1hq2BywGZEfGegkmphraPC1fkKcPLltw", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!s0RlTKCa!xfhdRgc-HME1hq2BywGZEfGegkmphraPC1fkKcPLltw", class: 'icon', target: '_blank' %><span>(636 KB)</span><br />
        <%= link_to "18- Capital".html_safe, "https://mega.co.nz/#!d55ijbKR!Uc4oc-jqh1v3vw1WnQepwavmLnCGsFd34orAcehAro0", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!d55ijbKR!Uc4oc-jqh1v3vw1WnQepwavmLnCGsFd34orAcehAro0", class: 'icon', target: '_blank' %><span>(72 KB)</span><br />

      </td>
       <td style='font-size:12px;width:25%;'>
        <%= link_to "1- Concepci&oacute;n".html_safe, "https://mega.co.nz/#!shxwRLhB!83tTzXBnVwSJimAfKJaahuIkYYkMEsxi8B0cBrPa1Rg", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!shxwRLhB!83tTzXBnVwSJimAfKJaahuIkYYkMEsxi8B0cBrPa1Rg", class: 'icon', target: '_blank' %><span>(3,8 MB)</span><br />
        <%= link_to "2- San Pedro".html_safe, "https://mega.co.nz/#!x0IiiIoJ!AqV_Z7jm0JEEmTCceRMRlc5T8gi7FvLfg-akEvSDfiM", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!x0IiiIoJ!AqV_Z7jm0JEEmTCceRMRlc5T8gi7FvLfg-akEvSDfiM", class: 'icon', target: '_blank' %><span>(3.2 MB)</span><br />
       
        <%= link_to "3- Cordillera".html_safe, "https://mega.co.nz/#!19RhwZpL!EQ0W9LiwisWVmH5tWwGsqulIr78VHmT3hpuXn_pWNcU", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!19RhwZpL!EQ0W9LiwisWVmH5tWwGsqulIr78VHmT3hpuXn_pWNcU", class: 'icon' , class: 'icon', target: '_blank' %><span>(4.4 MB)</span><br />

        <%= link_to "4- Guair&aacute;".html_safe, "https://mega.co.nz/#!41QHwKSY!B0CCyRkuLJBEYHkLu1FqpCioOkSQ2EQpXPo_ImaC5iM", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!41QHwKSY!B0CCyRkuLJBEYHkLu1FqpCioOkSQ2EQpXPo_ImaC5iM", class: 'icon', target: '_blank' %><span>(3.3 MB)</span><br />
        <%= link_to "5- Caaguaz&uacute;".html_safe, "https://mega.co.nz/#!VgJWkI7C!p_aWXF_wpZAfJWp-0ghuX2wvKhIW1Zvo_qi9ykhGRh8", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!VgJWkI7C!p_aWXF_wpZAfJWp-0ghuX2wvKhIW1Zvo_qi9ykhGRh8", class: 'icon', target: '_blank' %><span>(2.6 MB)</span><br />
        <%= link_to "6- Caazap&aacute;".html_safe, "https://mega.co.nz/#!81JDEIzS!NwzYO5JCqpoimQluOdxjnwPYHIGfRtiAdkrufyLSnpI", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!81JDEIzS!NwzYO5JCqpoimQluOdxjnwPYHIGfRtiAdkrufyLSnpI", class: 'icon', target: '_blank' %><span>(3.7 MB)</span><br />

        <%= link_to "7- Itap&uacute;a".html_safe, "https://mega.co.nz/#!Y9oFDK6K!qTY4P2pVgK0bU_RE0AykJ9d2dOMjhOqiOxvsViIqNlY", class: 'titulo' , target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!Y9oFDK6K!qTY4P2pVgK0bU_RE0AykJ9d2dOMjhOqiOxvsViIqNlY", class: 'icon' , target: '_blank' %><span>(6.2 MB)</span><br />

        <%= link_to "8- Misiones".html_safe, "https://mega.co.nz/#!x5Jh3S4S!pwmCpvqAMenfGVRdpOlBay9DdaQ7h5F3mrPWF5xa018", class: 'titulo' , target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!x5Jh3S4S!pwmCpvqAMenfGVRdpOlBay9DdaQ7h5F3mrPWF5xa018", class: 'icon' , target: '_blank' %><span>(3.5 MB)</span><br />

        <%= link_to "9- Paraguar&iacute;".html_safe, "https://mega.co.nz/#!dwhG0DqR!0nj2EXIa_KfDIB7tDvk8j0Dleyp7_ZpkrL7d4bqyaKE", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!dwhG0DqR!0nj2EXIa_KfDIB7tDvk8j0Dleyp7_ZpkrL7d4bqyaKE", class: 'icon', target: '_blank' %><span>(5.2 MB)</span><br />
        <%= link_to "10- Alto Paran&aacute;".html_safe, "https://mega.co.nz/#!RkggFbQC!A21jGB5DS3ZhEmrDjfupkn-m2-a22t8zYahRTTN_AVE", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!RkggFbQC!A21jGB5DS3ZhEmrDjfupkn-m2-a22t8zYahRTTN_AVE", class: 'icon', target: '_blank' %><span>(7.4 MB)</span><br />
        <%= link_to "11- Central".html_safe, "https://mega.co.nz/#!soRCjKDC!W4LyY1Fw3mKmU0xMD7za_4fo1eGjhrRPELx3H-jSiUE",class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!soRCjKDC!W4LyY1Fw3mKmU0xMD7za_4fo1eGjhrRPELx3H-jSiUE", class: 'icon', target: '_blank' %><span>(2.2 MB)</span><br />
        <%= link_to "12- Ñeembuc&uacute".html_safe, "https://mega.co.nz/#!cwgwVQ5A!6i1Eq0O-UJx1CONnC3OHLLxeZUxxfcqbvdMKcOA8E3I", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!cwgwVQ5A!6i1Eq0O-UJx1CONnC3OHLLxeZUxxfcqbvdMKcOA8E3I", class: 'icon', target: '_blank' %><span>(3.2 MB)</span><br />
        <%= link_to "13- Amambay".html_safe, "https://mega.co.nz/#!M9J3zQiK!qUj3Pt9QI56vUWCfWd6ldkZ8hJgHlzrsxPW2TPXPaWk", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!M9J3zQiK!qUj3Pt9QI56vUWCfWd6ldkZ8hJgHlzrsxPW2TPXPaWk", class: 'icon', target: '_blank' %><span>(1.9 MB)</span><br />

        <%= link_to "14- Canindey&uacute;".html_safe, "https://mega.co.nz/#!B1phhbbI!3ADjF_azqZAUkxCGNtAfo5L-7ql8UVjD-eWYTXrx9rE", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!B1phhbbI!3ADjF_azqZAUkxCGNtAfo5L-7ql8UVjD-eWYTXrx9rE", class: 'icon' , target: '_blank' %><span>(2.3 MB)</span><br />

        <%= link_to "15- Pdte. Hayes".html_safe, "https://mega.co.nz/#!0xohga5B!L8Ifv6hVN1OLR98iFowlAXwA2dYPpBnMGIB0svMOAmw", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!0xohga5B!L8Ifv6hVN1OLR98iFowlAXwA2dYPpBnMGIB0svMOAmw", class: 'icon', target: '_blank' %><span>(2.1 MB)</span><br />

        <%= link_to "16- Boquer&oacute;n".html_safe, "https://mega.co.nz/#!wloEmS6S!JH92eMkyj_GArd_4Ja0gTwBBpJHyO16SyAtjim8Im2U", class: 'titulo', target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!wloEmS6S!JH92eMkyj_GArd_4Ja0gTwBBpJHyO16SyAtjim8Im2U", class: 'icon' , target: '_blank' %><span>(417 KB)</span><br />

        <%= link_to "17- Alto Paraguay".html_safe, "https://mega.co.nz/#!wxpGmDRS!nyg2_zvoFpQzzWm3OTI61Ykldb8njjNIwFvRpnllDHg", class: 'titulo' , target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!wxpGmDRS!nyg2_zvoFpQzzWm3OTI61Ykldb8njjNIwFvRpnllDHg", class: 'icon' , target: '_blank' %><span>(1.2 MB)</span><br />

        <%= link_to "18- Capital".html_safe, "https://mega.co.nz/#!A5hQBZTT!mzyL3z9xy5DadLx3u0dkGKQwUQl56JC02HjbSmDsNXM", class: 'titulo' , target: '_blank' %>
        <%= link_to image_tag('down_icon.png').html_safe, "https://mega.co.nz/#!A5hQBZTT!mzyL3z9xy5DadLx3u0dkGKQwUQl56JC02HjbSmDsNXM", class: 'icon' , target: '_blank' %><span>(154 KB)</span><br />

      </td>
 
    </tr>

  </tbody>

</table>

<style type="text/css">
  table.infra th {text-align:center;}
  table.infra td a.titulo{width:110px;float:left;}
  table.infra td a.icon{width:25px;float:left;padding-left:0px;}
  table.infra td span{width:60px;float:left;color:silver;}
  table.infra td a img{width:24px;}
  table.infra td br {clear:both;}
</style>
<script>
  var stepsListado = [
      {
          intro: "Esta ayuda te mostrar&aacute; los elementos del Conjunto de Datos:\
          </br><b>ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE</b>.\
          </br></br>Este tutorial te guiará paso a paso a través de las diferentes funcionalidades disponibles. \
          </br></br>Podr&aacute;s navegar fácilmente a través de la guía por medio del mouse, o por medio del teclado haciendo simplemente uso de las teclas:\
          <p><u><i>Para Navegar:</i></u></p>\
          <ul>\
            <li><img alt='Intro_right' height='22px' width='22px' src='/assets/intro_images/right.png'> IZQ</li>\
            <li><img alt='Intro_left' height='22px' width='22px' src='/assets/intro_images/left.png'> DER</li>\
            <li><img alt='Intro_enter' height='22px' width='22px' src='/assets/intro_images/enter.png'> ENTER</li>\
          </ul>\
          <p><u><i>Para Salir:</i></u></p>\
          <ul>\
            <li><img alt='Intro_esc' height='22px' width='22px' src='/assets/intro_images/esc.png'>ESC</li>\
          </ul>\
          Pulsa en siguiente para comenzar.\
          </br>Y, ¡COMENCEMOS!"
      },
      {
          element: "#tab-titulo",
          intro: "En esta sección, puedes ver el Nombre del Conjunto de Datos.",
          position: "bottom"
      },
      {
          element: '#tab-inicio',
          intro: "En este apartado, puedes volver al listado de todos los Conjuntos de Datos con que cuenta el Portal del MEC.",
          position: "left"
      },
      {
          element: '#tab-periodo',
          intro: "¡Presta mucha atenci&oacuten aqu&iacute;! \
          </br>Est&aacute; columna indica el periodo al cual correponden las planillas que se encuentran por debajo.",
          position: "right"
      },
      {
          element: '#tab-descargas',
          intro: "Haciendo click sobre cualquiera de estos enlaces, puedes obtener la planilla de requerimientos \
          correspondiente al departamento que hayas seleccionado.",
          position: "right"
      },
      {
          intro: "Por &uacute;ltimo, si estas buscando informaci&oacute;n muy espec&iacute;fica, \
          recomendamos que visites los Conjuntos de Datos de los ESTABLECIMIENTOS ESCOLARES PRIORIZADOS ELEGIBLES - FONACIDE de acuerdo \
          al tipo de requerimiento que estes necesitando, ya sea de Aulas, Sanitarios, Mobiliarios u Otros Espacios.\
          </br></br>All&iacute; podr&aacute;s encontrar los datos que buscas de una manera m&aacute;s r&aacute;pida y efectiva.\
          </br></br>¡Echales un vistazo!",
          position: "top"
      }
  ];

  $('#start-tour').click(function () {

      introJs().setOptions({
          doneLabel: 'Salir',
          nextLabel: 'Siguiente &rarr;',
          prevLabel: '&larr; Anterior',
          skipLabel: 'Salir',
          steps: stepsListado
      }).start();

  });
</script>
<style>
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }
    #start-tour{
        cursor: pointer;
    }
</style>