<% if registros_titulos.present? %>
  
  <% registros_titulos.each do |rt| %>

    <tr>

      <td><%= rt.anio %></td>
      <td><%= obtener_mes(rt.mes) %></td>
      <td><%= rt.documento %></td>
      <td><%= rt.nombre_completo %></td>
      <td><%= rt.carrera %></td>
      <td><%= rt.titulo %></td>       
      <td><%= rt.numero_resolucion %></td>       
      <td><%= rt.fecha_resolucion %></td>       
      <td><%= rt.tipo_institucion %></td>       
      <td><%= rt.institucion %></td>       
      <td><%= rt.gobierno_actual %></td>       
    
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="19"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
