<% if registros_titulos.present? %>
  
  <% registros_titulos.each do |rt| %>

    <tr>

      <td class="text-min"><%= rt.anio %></td>
      <td class="text-min"><%= obtener_mes(rt.mes) %></td>
      <td class="text-min"><%= rt.documento %></td>
      <td class="text-min"><%= rt.nombre_completo %></td>
      <td class="text-min"><%= rt.carrera %></td>
      <td class="text-min"><%= rt.titulo %></td>       
      <td class="text-min"><%= rt.numero_resolucion %></td>       
      <td class="text-min"><%= rt.fecha_resolucion %></td>       
      <td class="text-min"><%= rt.tipo_institucion %></td>       
      <td class="text-min"><%= rt.institucion %></td>       
      <td class="text-min"><%= rt.gobierno_actual %></td>       
    
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="19"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
