
<% if matriculaciones_educacion_inclusiva.present? %>
  
  <% matriculaciones_educacion_inclusiva.each do |e| %>

    <tr>

      <td class="text-min"><%= e.anio %></td>
      <td class="text-min"><b>
      	<%#= link_to e.codigo_establecimiento, mec_custom_url(data_establecimientos_path(:ce => e.codigo_establecimiento)), :target => "_blank", :title => "Ir al dataset de establecimientos" %>
      	<%= link_to e.codigo_establecimiento, mec_custom_url(id_establecimientos_path(e.codigo_establecimiento)), target: '_blank',
      style: 'font-weight:bold;', title: 'Visualizar URI' %>
      	</b></td>      
      <td class="text-min"><b>
      	<%#= link_to e.codigo_institucion, mec_custom_url(data_instituciones_path(:ci => e.codigo_institucion)), :target => "_target", :title => "Ir al dataset de instituciones" %>
      	<%= link_to e.codigo_institucion, mec_custom_url(id_instituciones_path(e.codigo_institucion)), target: '_blank',style: 'font-weight:bold;', title: 'Visualizar URI' %>
      	</b></td> 
      <td class="text-min"><%= e.nombre_institucion%></td>
      <td class="text-min"><%= e.nombre_departamento %></td>
      <td class="text-min"><%= e.nombre_distrito %></td>
      <td class="text-min"><%= e.nombre_barrio_localidad %></td>
      <td class="text-min"><%= e.nombre_zona %></td>
      <td class="text-min"><%= e.sector_o_tipo_gestion %></td>
      <td class="text-min"><%= e.matricula_inicial_especial %></td>
      <td class="text-min"><%= e.matricula_primer_y_segundo_ciclo_especial%></td>
      <td class="text-min"><%= e.matricula_tercer_ciclo_especial%></td>
      <td class="text-min"><%= e.matricula_programas_especiales%></td>
       
    </tr>
      
<% end %>
  

  <% else %>

  <tr>
    
    <td colspan="13"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
