<table class="table table-striped table-bordered table-hover">

  <tr>
    <th>Departamento</th>
    <td><%= matriculaciones_educacion_escolar_basica.nombre_departamento %></td>
  </tr>

  <tr>
    <th>Distrito</th>
    <td><%= matriculaciones_educacion_escolar_basica.nombre_distrito %></td>
  </tr>

  <tr>
    <th>Barrio/Localidad</th>
    <td><%= matriculaciones_educacion_escolar_basica.nombre_barrio_localidad %></td>
  </tr>

  <tr>
    <th>Zona</th>
    <td><%= matriculaciones_educacion_escolar_basica.nombre_zona %></td>
  </tr>

  <tr>
    <th>Sector o Tipo de Gesti贸n</th>
    <td><%= matriculaciones_educacion_escolar_basica.sector_o_tipo_gestion %></td>
  </tr>

  <tr>
    <th>Establecimiento</th>
    <td><%= matriculaciones_educacion_escolar_basica.codigo_establecimiento %></td>
  </tr>

  <tr>
    <th>Instituci贸n</th>
    <td><%= matriculaciones_educacion_escolar_basica.nombre_instituci贸n %></td>
  </tr>

  <tr>
    <th>Primer grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.primer_grado%></td>
  </tr>

  <tr>
    <th>Segundo grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.segundo_grado%></td>
  </tr>

  <tr>
    <th>Tercer grado - Formaci贸n Docente</th>
    <td><%= matriculaciones_educacion_escolar_basica.tercer_grado%></td>
  </tr>

  <tr>
    <th>Cuarto grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.cuarto_grado%></td>
  </tr>

  <tr>
    <th>Quinto grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.quinto_grado%></td>
  </tr>

  <tr>
    <th>Sexto grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.sexto_grado%></td>
  </tr>

  <tr>
    <th>Septimo grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.septimo_grado%></td>
  </tr>

  <tr>
    <th>Octavo grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.octavo_grado%></td>
  </tr>

  <tr>
    <th>Noveno grado</th>
    <td><%= matriculaciones_educacion_escolar_basica.noveno grado%></td>
  </tr>

  <tr>
    <th>Total de Matriculados</th>
    <td><%= matriculaciones_educacion_escolar_basica.total_matriculados%></td>
  </tr>
</table>
