<h2>
  <span itemprop="name">Matriculaciones Educación Escolar Básica</span>
  <meta itemprop="description" content="
        Se refiere a la cantidad de alumnos matriculados del 1.º al 9.º grado con sus correspondientes códigos identificatorios."/>
  <meta itemprop="url" content="http://datos.mec.gov.py/data/matriculaciones_educacion_escolar_basica">
  <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
  <span itemprop="catalog" itemscope itemtype="https://schema.org/DataCatalog" style="display: none;">
    <meta itemprop="name" content="Datos Abiertos del Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://datos.mec.gov.py/">
    <meta itemprop="description" content="Datos Abiertos del Ministerio de Educación y Cultura">
  </span>
  <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://www.mec.gov.py/">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
    <meta itemprop="name" content="Juan Barrios">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
  <meta itemprop="keywords" style="display: none;" content="educación,matriculaciones,escolar básica"/>
  <meta itemprop="version" style="display: none;" content="1.0"/>

  <span style="float:right;">
    <%= link_to "Ver diccionario", url_def_matriculaciones_educacion_escolar_basica, :title => "Ir al diccionario", :style => "font-size:12px;" %>
    <%= link_to image_tag("def_icon.png", :style => "width:24px;" ), url_def_matriculaciones_educacion_escolar_basica, :title => "Ir al diccionario" %>
    <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
  </span>

</h2>

<div class="table-outter">
  <table id="matriculaciones-educacion-escolar-basica-table" class="table table-striped table-bordered table-hover" style="margin-bottom: 0px; width: 3000px; max-width: none">

    <tr>

      <%= form_tag mec_custom_url(data_matriculaciones_educacion_escolar_basica_lista_url(nil)), :remote => true, :id => "form-buscar-matriculaciones-educacion-escolar-basica" do  %>

        <th style="width:3%;" class="text-min celda-derecha">
          <%= label_tag "Periodo" %><br />
          <%= select :form_buscar_matriculaciones_educacion_escolar_basica, :anio, [2012], {:class => 'text-min'} %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_anio'),1);" %>
        </th>

        <th style="width:6%;" class="text-min">
          <%= label_tag nil, "C&oacute;digo Establecimiento".html_safe%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_codigo_establecimiento, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_codigo_establecimiento'));" %>
        </th>

        <th style="width:4%;" class="text-min">
          <%= label_tag nil, "C&oacute;digo Instituci&oacute;n".html_safe%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_codigo_institucion, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_codigo_institucion'));" %>
        </th>

        <th style="width:6%;" class="text-min">
          <%= label_tag "Institución"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_nombre_institucion, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_nombre_institucion'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Departamento"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_nombre_departamento, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_nombre_departamento'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Distrito"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_nombre_distrito, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_nombre_distrito'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Barrio/Localidad"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_nombre_barrio_localidad, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_nombre_barrio_localidad'));" %>
        </th>

        <th style="width:3%;" class="text-min">
          <%= label_tag "Zona"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_nombre_zona, nil, :class => 'text-min',:style => 'width:50px;' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_nombre_zona'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Sector o Tipo Gestión"%><br />
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_sector_o_tipo_gestion, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_sector_o_tipo_gestion'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Primer Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_primer_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_primer_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_primer_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Segundo Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_segundo_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_segundo_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_segundo_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Tercer Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_tercer_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_tercer_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_tercer_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Cuarto Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_cuarto_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_cuarto_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_cuarto_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Quinto Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_quinto_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_quinto_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_quinto_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Sexto Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_sexto_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_sexto_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_sexto_grado'));" %>
        </th>


        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Septimo Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_septimo_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_septimo_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_septimo_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Octavo Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_octavo_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_octavo_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_octavo_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Noveno Grado".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_noveno_grado_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_noveno_grado, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_noveno_grado'));" %>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Total Matriculados".html_safe%><br />
          <%= select_tag(:form_buscar_matriculaciones_educacion_escolar_basica_total_matriculados_operador, options_for_select(['>', '<', '='])) %>
          <%= text_field_tag :form_buscar_matriculaciones_educacion_escolar_basica_total_matriculados, nil, :class => 'text-min' %>
          <%= link_to_function icon_delete, "quitar_filtro($('#form_buscar_matriculaciones_educacion_escolar_basica_total_matriculados'));" %>
        </th>

      <% end %>

    </tr>

    <tbody id="lista"></tbody>

  </table>
</div>

<table class="table table-striped table-bordered table-hover">
  <tbody id="matriculaciones-educacion-escolar-basica-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-matriculaciones-educacion-escolar-basica").bind("submit", function() {

    $("#lista").html("<%= escape_javascript("<tr><td colspan='19' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_matriculaciones_educacion_escolar_basica_anio").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-escolar-basica").submit();

  })

  $(".table-bordered :input").bind('change', function() {
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-escolar-basica").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  function limpiar_form_buscar_matriculaciones_educacion_escolar_basica() {

    $("#form_buscar_matriculaciones_educacion_escolar_basica_anio").val("2012");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_codigo_establecimiento").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_nombre_departamento").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_nombre_distrito").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_nombre_zona").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_nombre_barrio_localidad").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_nombre_institucion").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_sector_o_tipo_gestion").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_primer_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_segundo_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_tercer_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_cuarto_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_quinto_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_sexto_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_septimo_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_octavo_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_noveno_grado").val("");
    $("#form_buscar_matriculaciones_educacion_escolar_basica_total_matriculados").val("");
    $.ajaxQ.abortAll();
    $("#form-buscar-matriculaciones-educacion-escolar-basica").submit();

  }

  limpiar_form_buscar_matriculaciones_educacion_escolar_basica();

//--------------- QUITAR FILTRO -------------------//
  function quitar_filtro(id, ban) {
    if (ban === 1) {
      id.val("2012");
    } else {
      id.val('');
    }
    $.ajaxQ.abortAll();
    $('#form-buscar-matriculaciones-educacion-escolar-basica').submit();

  }
  //-------------------------------------------------//

</script>

<style>

  .text-min {font-size:9px !important; color: #000; text-align:center !important;}
  #cbue-menu1 {background:#e9e9e9;}
  .text-min input[type="text"], .text-min select {
    border: 1px solid silver;
    padding: 3px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:#000;
  }
  .text-min input[type="text"] { width: 80px;}
  #tablaContenedor{width:100%;}

</style>

