<!-- Navigation -->
<nav class="navbar-principal">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-lg fa-bars"></span>
      </button>
      <%= link_to "Datos Abiertos", mec_custom_url(index_url), :id => "tab-datosabiertos", :class => 'navbar-brand', :title => "Ir al Inicio" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Portal MEC", "http://mec.gov.py", :id => "tab-portalmec", :target => '_blank', :title => "Ir al Portal del MEC" %></li>
        <li><%= link_to "Lista de Datos", mec_custom_url(data_url), :id => "tab-listadatos", :class => ('active current' if current_page?(data_path)), :title => "Ir a Datos" %></li>
        <li><%= link_to "Visualizaciones", mec_custom_url(data_visualizaciones_url), :id => "tab-visualizaciones", :class => ('active current' if current_page?(data_visualizaciones_path)), :title => "Ir a Visualizaciones" %></li>
        <li><%= link_to "Participa", mec_custom_url(contactos_url), :id => "tab-participa", :class => ('active current' if current_page?(contactos_path)), :title => "Ir al Formulario de Contactos" %></li>
        <li><%= link_to "Acerca de", mec_custom_url(about_url), :id => "tab-acercade", :class => ('active current' if current_page?(about_url)), :title => "Ir al Acerca de" %></li>
        <li><%= link_to "Aviso legal", mec_custom_url(legal_url), :id => "tab-avisolegal", :class => ('active current' if current_page?(legal_url)), :title => "Ir al Aviso Legal" %></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="links-sociales" id="tab-redessociales">
            <%= link_to ('<i class="icon-py-facebook"></i>').html_safe, "https://www.facebook.com/MECDigital", :title => "Ir a Facebook" %>
            <%= link_to ('<i class="icon-py-twitter"></i>').html_safe, "https://twitter.com/MECpy", :title => "Ir a Twitter" %>
            <%= link_to ('<i class="icon-py-youtube"></i>').html_safe, "https://www.youtube.com/channel/UClEn0VcKdqxNohQMp6ku9vw", :title => "Ir a YouTube" %>
          </div>
        </li>
        <li id="compartir" class="hidden-xs">
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>