<!DOCTYPE html>
<html>
<head>
  <title>Datos Abiertos del Ministerio de Educación y Cultura</title>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52762572-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

  <table id="tablaContenedor" width="1000px" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="40px" height="40" class="spriteBordesTabla" id="topleft">&nbsp;</td>
      <td width="920px" height="40" class="bordertop">&nbsp;</td>
      <td width="40px" height="40" class="spriteBordesTabla" id="topright">&nbsp;</td>
    </tr>
    <!--inicio-contenido-->
    <tr>
      <td width="40" class="borderleft">&nbsp;</td>
      <td width="920" bgcolor="white" itemscope itemtype="http://schema.org/Dataset">
        <%= render :partial => "layouts/header"%>
        <%= yield %>
      </td>
      <td width="40" class="borderright">&nbsp;</td>
    </tr>
    <!--fin-contenido-->
    <tr>
      <td width="40" height="40" class="borderleft">&nbsp;</td>
      <td width="920" height="40" bgcolor="white"><%= render :partial => 'layouts/footer' %></td>
      <td width="40" height="40" class="borderright">&nbsp;</td>
    </tr>
  </table>
</body>
</html>
