<!DOCTYPE html>
<html>
    <head>
        <title>Datos Abiertos del Ministerio de Educación y Cultura</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
        <%= favicon_link_tag 'favicon.ico' %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= stylesheet_link_tag 'slider'  %>
        <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' %>
        <%= javascript_include_tag 'bootstrap-slider.js' %>
        <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js' %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "ie10-viewport-bug-workaround" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="main_container">
            <div id="header">
                <%= render :partial => "layouts/header" %>
            </div>

            <div id="main_content">
                <%= yield %>
            </div>

            <div id="footer">
                <%= render :partial => "layouts/footer" %>
            </div>
        </div>
    </body>
</html>
