
<% if directorios_instituciones.present? %>
  
  <% directorios_instituciones.each do |i| %>

    <tr>

      <td class="text-min"><%= i.periodo %></td>
      <td class="text-min" style="font-weight:bold;">
        <%= link_to i.codigo_establecimiento, mec_custom_url(id_establecimientos_path(i.codigo_establecimiento)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %>
      </td>  
      <td class="text-min"><%= link_to i.codigo_institucion.gsub(".","").to_i, mec_custom_url(id_instituciones_path(i.codigo_institucion.gsub(".","").to_i)), target: '_blank', style: 'font-weight:bold;', title: 'Visualizar URI' %></td>
      <td class="text-min"><%= i.nombre_institucion %></td>
      <td class="text-min"><%= i.nombre_departamento %></td>
      <td class="text-min"><%= i.nombre_distrito %></td>
      <td class="text-min"><%= i.nombre_barrio_localidad %></td>
      <td class="text-min"><%= i.nombre_zona %></td>
    </tr>
  
  <% end %>
  
  <% else %>

  <tr>
    
    <td colspan="19"><p class='none-result'>No se han encontrado resultados.</p></td>
  
  </tr>

<% end %>
