<h2>
  <span itemprop="name">Directorio de Instituciones</span>
  <meta itemprop="url" content="http://datos.mec.gov.py/data/directorios_instituciones">  
  <meta itemprop="description"
        content="Contiene datos básicos acerca de las instituciones educativas, como el departamento, distrito y zona a la que pertenecen las mismas."
        />
  <meta itemprop="temporal" style="display: none;" content="2012-01-01/2012-12-31"/>
  <span itemprop="catalog" itemscope itemtype="https://schema.org/DataCatalog" style="display: none;">
    <meta itemprop="name" content="Datos Abiertos del Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://datos.mec.gov.py/">
    <meta itemprop="description" content="Datos Abiertos del Ministerio de Educación y Cultura">
  </span>
  <span itemprop="provider" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Ministerio de Educación y Cultura">
    <meta itemprop="url" content="http://www.mec.gov.py/">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <span itemprop="creator" itemscope itemtype="https://schema.org/Person" style="display: none;">
    <meta itemprop="name" content="Juan Barrios">
    <meta itemprop="email" content="datosabiertos@mec.gov.py">
  </span>
  <meta itemprop="license" style="display: none;" content="https://creativecommons.org/licenses/by/4.0/legalcode"/>
  <meta itemprop="keywords" style="display: none;" content="educación,instituciones,directorios"/>
  <meta itemprop="version" style="display: none;" content="1.0">

  <span style="float:right;">
    <%= link_to "Ver diccionario", mec_custom_url(def_directorios_instituciones_url), :title => "Ir al diccionario", :style => "font-size:12px;" %>
    <%= link_to image_tag("def_icon.png", :style => "width:24px;" ), mec_custom_url(def_directorios_instituciones_url), :title => "Ir al diccionario" %>
    <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
    <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
  </span>

</h2>

<div class="table-outter">

  <table class="table table-striped table-bordered table-hover">

    <tr>

      <%= form_tag mec_custom_url(data_directorios_instituciones_lista_url), :remote => true, :id => "form-buscar-directorios-instituciones" do  %>

        <th style="width: 3%;" class="text-min celda-derecha">
          <%= label_tag "Periodo" %><br />
          <%= select :form_buscar_directorios_instituciones, :periodo, [2014,2012], {:class => 'text-min'} %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_periodo').val('2014');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "C&oacute;digo Establecimiento".html_safe %><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_codigo_establecimiento, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_codigo_establecimiento').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "C&oacute;digo Instituci&oacute;n".html_safe%><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_codigo_institucion, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_codigo_institucion').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Instituci&oacute;n".html_safe%><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_nombre_institucion, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_nombre_institucion').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Departamento"%><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_nombre_departamento, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_nombre_departamento').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag "Distrito" %><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_nombre_distrito, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_nombre_distrito').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Localidad/Barrio".html_safe%><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_nombre_barrio_localidad, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_nombre_barrio_localidad').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

        <th style="width:5%;" class="text-min">
          <%= label_tag nil, "Zona".html_safe%><br />
          <%= text_field_tag :form_buscar_directorios_instituciones_nombre_zona, nil, :class => 'text-min' %>
          <%= link_to_function image_tag("delete-icon.png", :style => "width:16px;"), "$('#form_buscar_directorios_instituciones_nombre_zona').val('');$('#form-buscar-directorios-instituciones').submit();" ,:style => "color:#fff;"%>
        </th>

      <% end %>

    </tr>

    <tbody id="directorios-instituciones-lista"></tbody>

  </table>

</div>

<table class="table table-striped table-bordered table-hover">
  <tbody id="directorios-instituciones-footer"></tbody>
</table>

<script type="text/javascript">

  $("#form-buscar-directorios-instituciones").bind("submit", function() {

    $("#directorios-instituciones-lista").html("<%= escape_javascript("<tr><td colspan='19' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}").html_safe %></td></tr>")

  })

  $("#form_buscar_directorios_instituciones_periodo").bind('change', function() {

    $("#form-buscar-directorios-instituciones").submit();

  })


  $(".table-bordered input").bind('change', function() {

    $("#form-buscar-directorios-instituciones").submit();

  })

  //LIMPIAR FORMULARIO DE BUSQUEDA
  function limpiar_form_buscar_directorios_instituciones() {

    $("#form_buscar_directorios_instituciones_periodo").val("2014");
    $("#form_buscar_directorios_instituciones_codigo_institucion").val("");
    $("#form_buscar_directorios_instituciones_nombre_institucion").val("");
    $("#form_buscar_directorios_instituciones_codigo_establecimiento").val("");
    $("#form_buscar_directorios_instituciones_nombre_departamento").val("");
    $("#form_buscar_directorios_instituciones_nombre_distrito").val("");
    $("#form_buscar_directorios_instituciones_nombre_barrio_localidad").val("");
    $("#form_buscar_directorios_instituciones_nombre_zona").val("");

    $("#form-buscar-directorios-instituciones").submit();

  }

<% if params[:ci].present? %>

    $("#form_buscar_directorios_instituciones_codigo_institucion").val("<%= params[:ci] %>");
    $("#form-buscar-directorios-instituciones").submit();

<% else %>

    limpiar_form_buscar_directorios_instituciones();

<% end %>

</script>

<style>

  .text-min {font-size:9px !important; color: #000; text-align:center !important;}
  #cbue-menu1 {background:#e9e9e9;}
  .text-min input[type="text"], .text-min select {
    border: 1px solid silver;
    padding: 3px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color:#000;
  }
  .text-min input[type="text"] { width: 80px;}

  #tablaContenedor{width:100%;}


</style>
